<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>
	function addMore() {

		$("#myTable > tbody > tr").each(function(i) {
			var selectInput = $(this).find('select');
			var textInput = $(this).find('input');
			var buttonInput = $(this).find('button');
			textInput.eq(0).attr('id', "selectSlitWt_" + i);
			textInput.eq(1).attr('id', "selectSlitWtName_" + i);
			textInput.eq(2).attr('id', "selectQuantity_" + i);
			textInput.eq(3).attr('id', "selectSubBatch_" + i);
			textInput.eq(4).attr('id', "selectSizeName_" + i);
			textInput.eq(5).attr('id', "selectSize_" + i); 
			textInput.eq(6).attr('id', "selectPolishingQty_" + i);
			textInput.eq(7).attr('id', "selectPolishingWt_" + i);
			buttonInput.eq(0).attr('id', "productDtls_" + i);

		})

	}

	//********************************************
	$(document).ready(function() {
		addMore(); // for auto increment of id in the add more section

		$("#slitstart").datetimepicker({
			format : 'd-m-Y',
			closeOnDateSelect : true,
			timepicker : false,

		});
		$("#slitend").datetimepicker({
			format : 'd-m-Y',
			closeOnDateSelect : true,
			timepicker : false,

		});
		$("#PackagingStartDate").datetimepicker({
			format : 'd-m-Y',
			closeOnDateSelect : true,
			timepicker : false,

		});
		$("#PackagingEndDate").datetimepicker({
			format : 'd-m-Y',
			closeOnDateSelect : true,
			timepicker : false,

		});
	})

	function funcLoad() {
		location.reload();
	}
	//for number check
	function checkNum1(event) {
		var currentId = event.currentTarget.id;
		checkNum(currentId);
	}
</script>
<script>
	function productionData(event) {
		var currentId = event.currentTarget.id;
		var l = currentId.split("_");
		var counter = l[1];

		assign = {};
		assign['tMotherCoilBatch'] = $("#mcoilbatch").val();
		assign['tMotherCoilGradeName'] = $("#mcoilgradeName").val();
		assign['tMotherCoilThickness'] = $("#mcoilthick").val();
		assign['tMotherCoilThicknessName'] = $("#mcoilthickName").val(); 
		assign['tPipeSlitBatch'] = $("#slitbatch").val();
		assign['tPipeSlitWidth'] = $("#selectSlitWt_" + counter).val();
		assign['tPipeSlitWidthName'] = $("#selectSlitWtName_" + counter).val();
		assign['tPipeSize'] = $("#selectSize_" + counter).val();
		assign['tPipeSizeName'] = $("#selectSizeName_" + counter).val();
		assign['slitSubGroup'] = $("#selectSubBatch_" + counter).val();
        console.log(assign); 
		saveData(assign); 
	}
	function saveData(assign) {
		$
				.ajax({
					type : "POST",
					url : "view-pipe-packaging-add-form",
					dataType : "json",
					contentType : "application/json",
					data : JSON.stringify(assign),
					success : function(response) {
						window.location.href = "/production/view-pipe-packaging-add-form-page";
					},
					error : function(data) {
						console.log(data);
					}
				})
	}

	//function for details of polishing
	function DetailsData(event) {
		var currentId = event.currentTarget.id;
		var l = currentId.split("_");
		var counter = l[1];
		$('#table1').empty();

		obj = {};
		obj.tMotherCoilBatch = window.btoa($("#mcoilbatch").val());
		obj.tMotherCoilThickness = window.btoa($("#mcoilthick").val());
		obj.tPipeSlitBatch = window.btoa($("#slitbatch").val());
		obj.tPipeSlitWidth = window.btoa($("#slitWt_" + counter).val());
		obj.tPipeSize = window.btoa($("#selectSize_" + counter).val());

		$
				.ajax({
					type : "POST",
					url : "view-pipe-packaging-details-modalView",
					dataType : 'json',
					contentType : 'application/json',
					data : JSON.stringify(obj),
					success : function(response) {
						if (response.message == "success") {
							span = '<tr><td>MC Batch :</td>'
									+ '<td align="left">'
									+ response.body[0].tMotherCoilBatch
									+ '</td>'
									+ '</tr><tr><td>MC Thickness :</td><td align="left">'
									+ response.body[0].tMotherCoilThickness
									+ '</tr><tr><td>MC Grade :</td><td align="left">'
									+ response.body[0].tMotherCoilGrade
									+ '</tr><tr><td>Slit Batch :</td><td align="left">'
									+ response.body[0].tPipeSlitBatch
									+ '</tr><tr><td>Polishing Wt :</td><td align="left">'
									+ response.body[0].polishingWt
									+ '</tr><tr><td>Polishing Qty :</td><td align="left">'
									+ response.body[0].polishingQty
									+ '</tr><tr><td>Pipe Size :</td><td align="left">'
									+ response.body[0].tPipeSize + '</td></tr>';
							$('#myModal').modal('show');
							$('#table1').append(span);
							table = '<tr> <th><b>Packaging Start Date</b></th><th><b>Packaging End Date</b><th><b>Bundles No</b></th></th><th><b>Packaging Qty</b></th><th><b>Packaging Wt</b></th><th><b>Packaging Total</b></th></tr>';

							$('#myModal').modal('show');
							$('#table1').append(table);
							for (var i = 0; i < response.body.length; i++) {
								table = '<tr><td>'
										+ response.body[i].packagingStartDate
										+ '</td><td>'
										+ response.body[i].packagingEndDate
										+ '</td><td>'
										+ response.body[i].noOfBundles
										+ '</td><td>'
										+ response.body[i].packagingQty
										+ '</td><td>'
										+ response.body[i].packagingWt
										+ '</td><td>'
										+ response.body[i].packagingTotal
										+ '</td></tr>';
								$('#myModal').modal('show');
								$('#table1').append(table);
							}

						}
					},
					error : function(data) {
						console.log(data);
					}
				})

	}
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="">Home</a></li>
					<li class="active"><span>Add pipe packaging </span></li>
				</ol>
			</div>
			<div class="col-md-12"></div>
			<div class="card-title">
				<h4>Add Pipe Packaging</h4>
			</div>
			<div class="container-fluid">

				<div class="card">
					<div class="card-body">
						<div class="basic-elements">

							<form th:object="${mCoilList}">
								<div class="row">
									<span style="color: red;" id="errorMsg"></span>
									<div th:if="${message != null}">
										<span th:text="${message}" style="color: red;"></span>
									</div>
								</div>

								<div class="row">

									<div class="col-lg-4">
										<div class="form-group">
											<label>Mother Coil Batch</label> <input type="text"
												class="form-control" id="mcoilbatch" th:unless="${edit}" />
											<input type="text" class="form-control" id="mcoilbatch"
												th:if="${edit}" th:value="${mCoilList[0].tMotherCoilBatch}"
												readonly />
										</div>
									</div>
									<div class="col-lg-4">




										<div class="form-group">
											<label>Mother Coil Grade</label> <input type="hidden"
												class="form-control" id="mcoilgrade" th:if="${edit}"
												th:value="${mCoilList[0].tMotherCoilGrade}" /> <input
												type="text" class="form-control" id="mcoilgradeName"
												th:if="${edit}"
												th:value="${mCoilList[0].tMotherCoilGradeName}" readonly />
										</div>



									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<label>Mother Coil Thickness</label> <input type="hidden"
												class="form-control" id="mcoilthick" th:if="${edit}"
												th:value="${mCoilList[0].tMotherCoilThickness}" /> <input
												type="text" class="form-control" id="mcoilthickName"
												th:if="${edit}"
												th:value="${mCoilList[0].tMotherCoilThicknessName}" readonly />

										</div>



									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<label>Slit Batch</label> <input type="text"
												class="form-control" id="slitbatch" th:unless="${edit}" />
											<input type="text" class="form-control" id="slitbatch"
												th:if="${edit}" th:value="${mCoilList[0].tPipeSlitBatch}"
												readonly />
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label>Scrap Weight</label> <input type="text"
												class="form-control" id="scrapwt" th:unless="${edit}" /> <input
												type="text" class="form-control" id="scrapwt"
												th:if="${edit}" th:value="${mCoilList[0].tPipeScrapWeight}"
												readonly />
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Slit Start Date</label> <input type="text"
												class="form-control" id="slitstart" th:unless="${edit}"
												readonly /> <input type="text" class="form-control"
												id="slitstart" th:if="${edit}"
												th:value="${mCoilList[0].tPipeSlitStartDate}" readonly />

										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Slit End Date</label> <input type="text"
												class="form-control" id="slitend" th:unless="${edit}"
												readonly /> <input type="text" class="form-control"
												id="slitend" th:if="${edit}"
												th:value="${mCoilList[0].tPipeSlitEndDate}" readonly />

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<!-- id="table-data" -->

										<table class="tbll" id="myTable" width="100%" border="0"
											cellspacing="1" cellpadding="5">
											<thead>
												<tr>
													<th>Quantity</th>
													<th>Slit SubGroup</th>
													<th>Pipe Size</th>
													<th>Polishing Qty</th>
													<th>Polishing Wt</th>
												</tr>
											</thead>
											<tbody id="tbodyData">

												<!-- Edit -->
												<tr class="tr_clone" th:if="${edit}"
													th:each="a,iter:${mCoilList}">

													<td><input type="hidden"
														class="form-control SlitWtCls" id="selectSlitWt_0"
														th:value="${a.tPipeSlitWidth}" /> <input type="hidden"
														class="form-control SlitWtNameCls" id="selectSlitWtName_0"
														th:value="${a.tPipeSlitWidthName}" /> <input type="text"
														class="form-control QuantityCls" id="selectQuantity_0"
														th:value="${a.tPipeSlitQty}" readonly /></td>
													<td><input type="text"
														class="form-control subBatchCls" id="selectSubBatch_0"
														th:value="${a.slitSubGroup}" readonly /></td>

													<td><input type="text"
														class="form-control SizeNameCls" id="selectSizeName_0"
														th:value="${a.tPipeSizeName}" readonly /> <input
														type="hidden" class="form-control SizeCls"
														id="selectSize_0" th:value="${a.tPipeSize}" /></td>
													<td><input type="text"
														class="form-control PackagingQtyCls"
														id="selectPolishingQty_0" th:value="${a.polishingQty}"
														readonly /></td>
													<td><input type="text"
														class="form-control PackagingWtCls"
														id="selectPolishingWt_0" th:value="${a.polishingWt}"
														readonly /></td>
													<td th:if="${a.status==3}">
														<button type="button" id="productDtls_0"
															class="btn btn-success pDtls"
															onclick="DetailsData(event);">Details Added</button>
													</td>
													<td th:unless="${a.status==3}">
														<button type="button" id="productDtls_0"
															class="btn btn-info pDtls"
															onclick="productionData(event);">Add Packaging
															Dtls</button>
													</td>
												</tr>


											</tbody>


										</table>
									</div>

								</div>


								<div id="myModalProd" class="modal fade" role="dialog">
									<div class="modal-dialog">
										<!-- Modal content-->
										<div class="modal-content" style="width: 750px;">
											<div class="modal-header">
												<h4 class="modal-title">Add Production Details</h4>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>

											<div class="modal-body">
												<div class="row">
													<div class="col-lg-6">
														<input type="hidden" value="" id="mcBatch"> <input
															type="hidden" value="" id="slitBatch"> <input
															type="hidden" value="" id="mcThickness"> <input
															type="hidden" value="" id="slitWidth"> <input
															type="hidden" value="" id="pipeSize"> <input
															type="hidden" value="" id="polishingQty"> <input
															type="hidden" value="" id="polishingWt">
														<div class="form-group">
															<label> Packaging Start Date</label> <input type="text"
																id="PackagingStartDate" readonly class="form-control" />
														</div>
													</div>
													<div class="col-lg-6">
														<div class="form-group">
															<label> Packaging End Date</label> <input type="text"
																id="PackagingEndDate" readonly class="form-control" />
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-4">
														<div class="form-group">
															<label> Packaging Quantity</label> <input type="text"
																id="PackagingQty" class="form-control" />
														</div>
													</div>
													<div class="col-lg-4">
														<div class="form-group">
															<label> Packaging Weight</label> <input type="text"
																id="PackagingWt" class="form-control" />
														</div>
													</div>
													<div class="col-lg-4">
														<div class="form-group">
															<label> Packaging Total</label> <input type="text"
																id="packagingTotal" class="form-control" />
														</div>
													</div>
												</div>

											</div>
											<div class="modal-footer">
												<button type="button" class="btn  btn-success" id="submit"
													data-dismiss="modal">Save</button>
												<button type="button" class="btn btn-default"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal Start for view details -->
								<div id="myModal" class="modal fade" role="dialog">
									<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">View Packaging Details</h4>
												<button type="button" class="close" data-dismiss="modal">
													<i class="fa fa-close fa-2x"></i>
												</button>
											</div>
											<div class="modal-body">
												<table width="100%" border="0" id="table1">

													<tbody id="tModelBody"></tbody>
												</table>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- /# row -->
							</form>
						</div>

					</div>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>

	</div>
</div>
</html>