<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>
$(document).ready(function() {
	 getCategoryList();
	var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
    
   /*  $("#categorySave").click(function(){
    	data = {};
    	
    	data.categoryId = $("#categoryId").val();
    	data.categoryName = $("#categoryName").val();
    	data.categoryDesc = $("#categoryDesc").val();
    	data.categoryStatus = $("input[name='isActive']:checked").val();
    	
    	console.log(data)
    	submitCategory(data);
    }) */
    
    $("#accountSave").click(function(){
    	data = {};
    	data.ccId = $("#categoryId").val();
    	data.ccCode = $("#categoryCode").val();
    	data.ccName = $("#categoryName").val();
    	data.chartAccDebitStatus = $("input[name='isDebitActive']:checked").val();
    	data.chartAccCreditStatus = $("input[name='isCreditActive']:checked").val();

    	console.log(data)
    	submitCategory(data);
    })
    
  $("#subCatSave").click(function(){
    	data = {};
    	
    	data.ccId = $("#subCatId").val();
    	data.ccCode = $("#subcategoryCode").val();
    	data.ccName = $("#subCatName").val();
    	data.chartAccDebitStatus = $("input[name='isSubDebitActive']:checked").val();
    	data.chartAccCreditStatus = $("input[name='isSubCreditActive']:checked").val();

    	data.parentId = $("#parentCat").val();
    	
    	var slno = $("#slnoval").val();
    	
    	console.log(data)
    	submitSubCategory(data,slno);
    })
     
    $("#deleteModalBtn").click(function(){
    	var data = $("#deleteModalBtn").attr("value");
    	var slno = $("#deleteModalBtn").attr("slno");
    	$("#deleteModalBtn").attr("disabled","disabled");
    	
    	if(data) {
    		if(slno == "1") {
    		
    			$.ajax({
    				type : "POST",
    				url : "chart-account-delete",
    				dataType : 'json',
    				contentType : 'application/json',
    				data : data,
    				success : function(response) {
    					if (response.message == "Success") {
    						$("#deleteModalBtn").removeAttr("disabled");
    						$("#myUL_"+data).remove();
    						cancelModalBtn();
    						closeCat();
    						var totalPCat = $("#totalPCat").text();
    						totalPCat = parseFloat(totalPCat) - 1;
    						$("#totalPCat").text(totalPCat);
    						 
    					}
    				}, error : function(data) {
    					console.log(data)
    				}
    			});
    		} else if(slno == "2") {
    			
    			$.ajax({
    				type : "POST",
    				url : "chart-account-delete",
    				dataType : 'json',
    				contentType : 'application/json',
    				data : data,
    				success : function(response) {
    					if (response.message == "Success") {
    						$("#deleteModalBtn").removeAttr("disabled");
    						$("#li_"+data).remove();
    						cancelModalBtn();
    						closeNav();
    						$(".flowsection").empty();
    						getCategoryList();
    					}
    				}, error : function(data) {
    					console.log(data)
    				}
    			});
    		}
    	}
    })
    
    
  
})

function getCategoryList() {
	$.ajax({
        type: "POST",
        url: "chart-account-get-total-list",
        dataType: "json",
        contentType: "application/json",
        success: function(response) {
            if (response.message == "Success") {
            	
            	
            	
            	if(response.body.length > 0) {
            		
            		var c = 0;
            		var x = 0;
            		$("#totalPCat").text(c);
            		
            		for(var i = 0; i < response.body.length; i++) {
            			
            				c = c + 1;
            				x=x+1;
            		
            			
            			if(response.body[i].chartAccDebitStatus=='1' && response.body[i].chartAccCreditStatus!='1'){
			            	var tbl = '<ul id="myUL_'+response.body[i].ccId+'" class="level" value="'+x+'"><li id="li_'+response.body[i].ccId+'"><span class="caret" value="0" id="spanA_'+response.body[i].ccId+'" onclick=getRootLeafNodes("'+response.body[i].ccId+'")></span> '+
								'<span value="'+x+'" id="lbl_'+response.body[i].ccId+'" class="leveltxt">'+response.body[i].ccCode+' - '+response.body[i].ccName+'</span><span id="colorstatus_'+response.body[i].ccId+'"> (<span style="color:#0076ba">Dr</span>)</span>'+
								'<label for="cost" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i title="Add Child" class="ti-plus cbicon" onclick=openNav("'+response.body[i].ccId+'","1");></i></a>&nbsp;<a href="javascript:void(0)"><i title="Edit Category" class="ti-pencil" onclick=editCategory("'+response.body[i].ccId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i title="Delete CA" class="ti-close" onclick=deleteCategory("'+response.body[i].ccId+'")></i></a></label>'+
								'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
								'</li></ul>';
            			}else if(response.body[i].chartAccCreditStatus=='1' && response.body[i].chartAccDebitStatus!='1'){
            				var tbl = '<ul id="myUL_'+response.body[i].ccId+'" class="level" value="'+x+'"><li id="li_'+response.body[i].ccId+'"><span class="caret" value="0" id="spanA_'+response.body[i].ccId+'" onclick=getRootLeafNodes("'+response.body[i].ccId+'")></span> '+
							'<span value="'+x+'" id="lbl_'+response.body[i].ccId+'" class="leveltxt">'+response.body[i].ccCode+' - '+response.body[i].ccName+'</span><span id="colorstatus_'+response.body[i].ccId+'">  (<span style="color:#ff9e99">Cr</span>)</span>'+
							'<label for="cost" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i title="Add Child" class="ti-plus cbicon" onclick=openNav("'+response.body[i].ccId+'","1");></i></a>&nbsp;<a href="javascript:void(0)"><i title="Edit Category" class="ti-pencil" onclick=editCategory("'+response.body[i].ccId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i title="Delete CA" class="ti-close" onclick=deleteCategory("'+response.body[i].ccId+'")></i></a></label>'+
							'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
							'</li></ul>';
            			}else if(response.body[i].chartAccCreditStatus=='1' && response.body[i].chartAccDebitStatus=='1'){
            				var tbl = '<ul id="myUL_'+response.body[i].ccId+'" class="level" value="'+x+'"><li id="li_'+response.body[i].ccId+'"><span class="caret" value="0" id="spanA_'+response.body[i].ccId+'" onclick=getRootLeafNodes("'+response.body[i].ccId+'")></span> '+
							'<span value="'+x+'" id="lbl_'+response.body[i].ccId+'" class="leveltxt" >'+response.body[i].ccCode+' - '+response.body[i].ccName+'</span> <span id="colorstatus_'+response.body[i].ccId+'"> (Dr-Cr)</span>'+
							'<label for="cost" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i title="Add Child" class="ti-plus cbicon" onclick=openNav("'+response.body[i].ccId+'","1");></i></a>&nbsp;<a href="javascript:void(0)"><i title="Edit Category" class="ti-pencil" onclick=editCategory("'+response.body[i].ccId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i title="Delete CA" class="ti-close" onclick=deleteCategory("'+response.body[i].ccId+'")></i></a></label>'+
							'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
							'</li></ul>';
            			}else{
            				var tbl = '<ul id="myUL_'+response.body[i].ccId+'" class="level" value="'+x+'"><li id="li_'+response.body[i].ccId+'"><span class="caret" value="0" id="spanA_'+response.body[i].ccId+'" onclick=getRootLeafNodes("'+response.body[i].ccId+'")></span> '+
							'<span value="'+x+'" id="lbl_'+response.body[i].ccId+'" class="leveltxt">'+response.body[i].ccCode+' - '+response.body[i].ccName+'</span> '+
							'<label for="cost" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i title="Add Child" class="ti-plus cbicon" onclick=openNav("'+response.body[i].ccId+'","1");></i></a>&nbsp;<a href="javascript:void(0)"><i title="Edit Category" class="ti-pencil" onclick=editCategory("'+response.body[i].ccId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i title="Delete CA" class="ti-close" onclick=deleteCategory("'+response.body[i].ccId+'")></i></a></label>'+
							'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
							'</li></ul>';
            			}
            			
			            	$(".flowsection").append(tbl);
			            	getRootLeafNodes(response.body[i].ccId)
            		}
            		$("#totalCatCount").val(x);
    				console.log( response.body.length)
            			
		            	for(var i = 0; i < response.body.length; i++){
		        			console.log(response.body[i].nodeCount)
		        			if(response.body[i].nodeCount==0){
		        				
		        				var id = "#spanA_"+response.body[i].ccId;
		        				$(id).removeClass("caret");
		        				$(id).addClass("caret-margin");
		        				
		        			}else{
		        				var id = "#spanA_"+response.body[i].ccId;
		        				$(id).addClass("caret");
		        			}
				            	
				            	
		        		}
            		$("#totalPCat").text(c);
            	}
            } else {
                swal({
                    title: response.code,
                    text: response.message,
                    type: "warning"
                })
            }
        },
        error: function(response) {
            console.log(response);
        }
    })
}

function getRootLeafNodes(id) {
	$("#ul_"+id).empty();
	var value = $("#spanA_"+id).attr("value");
	var y=$("#myUL_"+id).attr("value");
	
	if(value == "0") {
		
		
		$.ajax({
	        type: "POST",
	        url: "chart-account-get-leaf-list-by-id",
	        dataType: "json",
	        contentType: "application/json",
	        data: id,
	        success: function(response) {
	            if (response.message == "Success") {
	            	if(response.body.length > 0) {
	            	
	            		var x=0;
	            		for(var i = 0; i < response.body.length; i++) {
	            			var pId = response.body[i].parentId.split("-");
		            		var parentId =pId[0];
		            		var parentName=pId[1];
		            		x=x+1;
		            	
	            	 if(response.body[i].chartAccDebitStatus=='1' && response.body[i].chartAccCreditStatus!='1'){
		            		var tbl = '<li id="li_'+response.body[i].ccId+'" value="'+y+'.'+x+'"><span class="caret" value="0" id="span_'+response.body[i].ccId+'" onclick=getLeafNodes("'+response.body[i].ccId+'")></span><span class="leveltxt"  value="'+y+'.'+x+'"  id="lbl_'+response.body[i].ccId+'"> '+response.body[i].ccCode+' - '+response.body[i].ccName+'</span><span id="colorstatus_'+response.body[i].ccId+'"> (<span style="color:#0076ba">Dr</span>)</span>'+
		    				'<label for="chk2" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body[i].ccId+'","2");></i></a>'+
		    				'&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" title="Edit Category" id="editSubId_'+response.body[i].ccId+'" value="'+parentName+'" onclick=editSubCategory("'+response.body[i].ccId+'","'+parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete CA" onclick=deleteSubCategory("'+response.body[i].ccId+'")></i></a></label>'+
		    				'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
		    				'</li>';
			            	 }else if(response.body[i].chartAccCreditStatus=='1' && response.body[i].chartAccDebitStatus!='1'){
			            		 var tbl = '<li id="li_'+response.body[i].ccId+'" value="'+y+'.'+x+'"><span class="caret" value="0" id="span_'+response.body[i].ccId+'" onclick=getLeafNodes("'+response.body[i].ccId+'")></span><span class="leveltxt"  value="'+y+'.'+x+'"  id="lbl_'+response.body[i].ccId+'"> '+response.body[i].ccCode+' - '+response.body[i].ccName+'</span><span id="colorstatus_'+response.body[i].ccId+'"> (<span style="color:#ff9e99">Cr</span>)</span>'+
				    				'<label for="chk2" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body[i].ccId+'","2");></i></a>'+
				    				'&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" title="Edit Category" id="editSubId_'+response.body[i].ccId+'" value="'+parentName+'" onclick=editSubCategory("'+response.body[i].ccId+'","'+parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete CA" onclick=deleteSubCategory("'+response.body[i].ccId+'")></i></a></label>'+
				    				'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
				    				'</li>';
		         			}else if(response.body[i].chartAccCreditStatus=='1' && response.body[i].chartAccDebitStatus=='1'){
		         				var tbl = '<li id="li_'+response.body[i].ccId+'" value="'+y+'.'+x+'"><span class="caret" value="0" id="span_'+response.body[i].ccId+'" onclick=getLeafNodes("'+response.body[i].ccId+'")></span><span class="leveltxt"  value="'+y+'.'+x+'"  id="lbl_'+response.body[i].ccId+'"> '+response.body[i].ccCode+' - '+response.body[i].ccName+'</span> <span id="colorstatus_'+response.body[i].ccId+'"> (Dr-Cr)</span>'+
			    				'<label for="chk2" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body[i].ccId+'","2");></i></a>'+
			    				'&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" title="Edit Category" id="editSubId_'+response.body[i].ccId+'" value="'+parentName+'" onclick=editSubCategory("'+response.body[i].ccId+'","'+parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete CA" onclick=deleteSubCategory("'+response.body[i].ccId+'")></i></a></label>'+
			    				'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
			    				'</li>';
		            		}else{
			            		var tbl = '<li id="li_'+response.body[i].ccId+'" value="'+y+'.'+x+'"><span class="caret" value="0" id="span_'+response.body[i].ccId+'" onclick=getLeafNodes("'+response.body[i].ccId+'")></span><span class="leveltxt" value="'+y+'.'+x+'" id="lbl_'+response.body[i].ccId+'"> '+response.body[i].ccCode+' - '+response.body[i].ccName+' </span>'+
			    				'<label for="chk2" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body[i].ccId+'","2");></i></a>'+
			    				'&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" title="Edit Category" id="editSubId_'+response.body[i].ccId+'"  value="'+parentName+'" onclick=editSubCategory("'+response.body[i].ccId+'","'+parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete CA" onclick=deleteSubCategory("'+response.body[i].ccId+'")></i></a></label>'+
			    				'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
			    				'</li>';
		            		}
	            			
		    				
				    		$("#spanA_"+id).attr("value","1");
				    		$("#spanA_"+id).addClass("caret-down");
				    		$("#ul_"+id).addClass("active");
				    		$("#ul_"+id).append(tbl);
				    		getLeafNodes(response.body[i].ccId)
	            		}
						for(var i = 0; i < response.body.length; i++){	        			
		        		
							if(response.body[i].nodeCount==0){    				
		        				
		        				var newid = "#span_"+response.body[i].ccId;
		        				$(newid).removeClass("caret");
			    				$(newid).addClass("caret-margin");
		        				
		        			}else{
		        				var newid = "#span_"+response.body[i].ccId;
		        				$(newid).addClass("caret");
		        			}
				            	
				            	
		        		}
	            	}/* else{
	            		
	            		console.log("last data"+id)
	            		var newid = "#span_"+id;
	    				$(newid).removeClass("caret");
	    				$(newid).addClass("caret-margin");
	            	} */
	            }
	            	
	        }, error: function(data) {
	        	console.log(data)
	        	$("#spanA_"+id).attr("value","0");
	    		$("#spanA_"+id).removeClass("caret-down");
	    		$("#ul_"+id).removeClass("active");
	    		$("#ul_"+id).empty();
	        }
		});
	} else {
		$("#spanA_"+id).attr("value","0");
		$("#spanA_"+id).removeClass("caret-down");
		$("#ul_"+id).removeClass("active");
		$("#ul_"+id).empty();
	}
}

function getLeafNodes(id) {
	
	$("#ul_"+id).empty();
	var value = $("#span_"+id).attr("value");
	var y=$("#lbl_"+id).attr("value");

var x=id;
	//lbl_
	if(value == "0") {
		
		$.ajax({
	        type: "POST",
	        url: "chart-account-get-leaf-list-by-id",
	        dataType: "json",
	        contentType: "application/json",
	        data: id,
	        success: function(response) {
	        	 console.log("first"+response.message)
	        	if (response.message == "Success") {
	            	if(response.body.length > 0) {
	            		var x=0;
	            		for(var i = 0; i < response.body.length; i++) {
		            		//console.log(i);
		            		 x=x+1;
		            		
		            		var pId = response.body[i].parentId.split("-");
		            		var parentId =pId[0];
		            		var parentName=pId[1];
		            		
		            		if(response.body[i].chartAccDebitStatus=='1' && response.body[i].chartAccCreditStatus!='1'){
		            			var tbl = '<li id="li_'+response.body[i].ccId+'"><span class="caret" value="0" id="span_'+response.body[i].ccId+'" onclick=getLeafNodes("'+response.body[i].ccId+'")></span><span class="leveltxt" value="'+y+'.'+x+'" id="lbl_'+response.body[i].ccId+'"> '+response.body[i].ccCode+' - '+response.body[i].ccName+'</span><span id="colorstatus_'+response.body[i].ccId+'"> (<span style="color:#0076ba">Dr</span>)</span>'+
			    				'<label for="chk2" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body[i].ccId+'","2");></i></a>'+
			    				'&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" id="editSubId_'+response.body[i].ccId+'"  value="'+parentName+'" title="Edit Category" onclick=editSubCategory("'+response.body[i].ccId+'","'+parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete CA" onclick=deleteSubCategory("'+response.body[i].ccId+'")></i></a></label>'+
			    				'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
			    				'</li>';
		            		 }else if(response.body[i].chartAccCreditStatus=='1' && response.body[i].chartAccDebitStatus!='1'){
		            			 var tbl = '<li id="li_'+response.body[i].ccId+'"><span class="caret" value="0" id="span_'+response.body[i].ccId+'" onclick=getLeafNodes("'+response.body[i].ccId+'")></span><span class="leveltxt" value="'+y+'.'+x+'" id="lbl_'+response.body[i].ccId+'"> '+response.body[i].ccCode+' - '+response.body[i].ccName+'</span><span id="colorstatus_'+response.body[i].ccId+'"> (<span style="color:#ff9e99">Cr</span>)</span>'+
				    				'<label for="chk2" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body[i].ccId+'","2");></i></a>'+
				    				'&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" id="editSubId_'+response.body[i].ccId+'"  value="'+parentName+'" title="Edit Category" onclick=editSubCategory("'+response.body[i].ccId+'","'+parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete CA" onclick=deleteSubCategory("'+response.body[i].ccId+'")></i></a></label>'+
				    				'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
				    				'</li>';
		            		 }else if(response.body[i].chartAccCreditStatus=='1' && response.body[i].chartAccDebitStatus=='1'){
		            			 var tbl = '<li id="li_'+response.body[i].ccId+'"><span class="caret" value="0" id="span_'+response.body[i].ccId+'" onclick=getLeafNodes("'+response.body[i].ccId+'")></span><span class="leveltxt" value="'+y+'.'+x+'" id="lbl_'+response.body[i].ccId+'"> '+response.body[i].ccCode+' - '+response.body[i].ccName+'</span> <span id="colorstatus_'+response.body[i].ccId+'"> (Dr-Cr)</span>'+
				    				'<label for="chk2" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body[i].ccId+'","2");></i></a>'+
				    				'&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" id="editSubId_'+response.body[i].ccId+'"  value="'+parentName+'" title="Edit Category" onclick=editSubCategory("'+response.body[i].ccId+'","'+parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete CA" onclick=deleteSubCategory("'+response.body[i].ccId+'")></i></a></label>'+
				    				'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
				    				'</li>';
			            	}else{
		            			var tbl = '<li id="li_'+response.body[i].ccId+'"><span class="caret" value="0" id="span_'+response.body[i].ccId+'" onclick=getLeafNodes("'+response.body[i].ccId+'")></span><span class="leveltxt" value="'+y+'.'+x+'" id="lbl_'+response.body[i].ccId+'"> '+response.body[i].ccCode+' - '+response.body[i].ccName+' </span>'+
			    				'<label for="chk2" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body[i].ccId+'","2");></i></a>'+
			    				'&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" id="editSubId_'+response.body[i].ccId+'"  value="'+parentName+'" title="Edit Category" onclick=editSubCategory("'+response.body[i].ccId+'","'+parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete CA" onclick=deleteSubCategory("'+response.body[i].ccId+'")></i></a></label>'+
			    				'<ul class="nested" id="ul_'+response.body[i].ccId+'"></ul>'+
			    				'</li>';
		            		}
	            			
		    		
				    		$("#span_"+id).attr("value","1");
				    		$("#span_"+id).addClass("caret-down");
				    		$("#ul_"+id).addClass("active");
				    		$("#ul_"+id).append(tbl);
				    		getLeafNodes(response.body[i].ccId)
	            		}
	            		for(var i = 0; i < response.body.length; i++){	        			
			        		
							if(response.body[i].nodeCount==0){    				
		        				
		        				var newid = "#span_"+response.body[i].ccId;
		        				$(newid).removeClass("caret");
			    				$(newid).addClass("caret-margin");
		        				
		        			}else{
		        				var newid = "#span_"+response.body[i].ccId;
		        				$(newid).addClass("caret");
		        			}
				            	
				            	
		        		}
	            		
	            	}/* else{
	            		
	            		console.log("last data"+id)
	            		var newid = "#span_"+id;
	    				$(newid).removeClass("caret");
	    				$(newid).addClass("caret-margin");
	            	} */
	            }
	            
	        }, error: function(data) {
	        	console.log(data)
	        	$("#span_"+id).attr("value","0");
	    		$("#span_"+id).removeClass("caret-down");
	    		$("#ul_"+id).removeClass("active");
	    		$("#ul_"+id).empty();
	    		$("#ul_"+id).empty();
	        }
		});
	} else {
		$("#span_"+id).attr("value","0");
		$("#span_"+id).removeClass("caret-down");
		$("#ul_"+id).removeClass("active");
		$("#ul_"+id).empty();
		$("#ul_"+id).empty();
	}
}

function cancelModalBtn() {
	$("#delete").modal('hide');
	$("#deleteModalBtn").attr("value","");
	$("#deleteModalBtn").attr("slno","");
	$("#deleteModalBtn").removeAttr("disabled");
}

function deleteCategory(id) {
	if(id) {
		
		$("#delete").modal('show');
		$("#deleteModalBtn").attr("value",id);
		$("#deleteModalBtn").attr("slno","1");
	} else {
		$("#delete").modal('hide');
		$("#deleteModalBtn").attr("value","");
		
		$("#deleteModalBtn").removeAttr("disabled");
		$("#deleteModalBtn").attr("slno","");
	}
}

function deleteSubCategory(id) {
	if(id) {
		$("#delete").modal('show');
		$("#deleteModalBtn").attr("value",id);
		$("#deleteModalBtn").attr("slno","2");
	} else {
		$("#delete").modal('hide');
		$("#deleteModalBtn").attr("value","");
		$("#deleteModalBtn").removeAttr("disabled");
		$("#deleteModalBtn").attr("slno","");
	}
}

function editSubCategory(id,pId) {
	/* var parentName=$(id).val();
	alert(parentName) */
	
	var parentName=$("#editSubId_"+id).attr("value");
	openNav(pId,"2");
	
	
	$("#subCatId").val(id);

	if(id) {
		$.ajax({
	        type: "POST",
	        url: "chart-account-edit-by-id",
	        dataType: "json",
	        contentType: "application/json",
	        data: id,
	        success: function(response) {
	            if (response.message == "Success") {
	            	if(response.body != null && response.body != "") {
	            		$("#subCatName").val(response.body[0].ccName);
	            		$("#subcategoryCode").val(response.body[0].ccCode);
	            		$("#subCatParentSpan").text(parentName);
	            		
			        	
			        	if(response.body[0].chartAccDebitStatus == "1") {
			        		$('#chartAccSubDebitStatus').prop('checked', true);
			        	} else {
			        		$('#chartAccSubDebitStatus').prop('checked', false);
			        	}
			        	if(response.body[0].chartAccCreditStatus == "1") {
			        		$('#chartAccSubCreditStatus').prop('checked', true);
			        	} else {
			        		$('#chartAccSubCreditStatus').prop('checked', false);
			        	}
			        	var onAttr = "deleteSubCategory('"+response.body.ccId+"')";
			        	$("#dltSlideSubCat").attr("onclick",onAttr);
	            	}
	            }
	        }, error : function(data) {
	        	console.log(data)
	    		$("#subCatId").val("");
	    		$("#subCatName").val("");
	    		$("#subcategoryCode").val("");
	    		$('#subcatStatus').prop('checked', true);
	    		$("#dltSlideSubCat").attr("onclick","");
	        }
		});
	} else {
		$("#subCatId").val("");
		$("#subCatName").val("");
		$("#subcategoryCode").val("");
		$('#subcatStatus').prop('checked', true);
		$("#dltSlideSubCat").attr("onclick","");
	}
}

function editCategory(id) {
	openCat();
	$("#categoryId").val(id);
	if(id) {
		$.ajax({
	        type: "POST",
	        url: "chart-account-edit-by-id",
	        dataType: "json",
	        contentType: "application/json",
	        data: id,
	        success: function(response) {
	            if (response.message == "Success") {
	            
	            	if(response.body != null && response.body != "") {
	            		$("#categoryName").val(response.body[0].ccName);
	            		$("#categoryCode").val(response.body[0].ccCode);
			        	if(response.body[0].chartAccDebitStatus == "1") {
			        		$('#chartAccDebitStatus').prop('checked', true);
			        	} else {
			        		$('#chartAccDebitStatus').prop('checked', false);
			        	}
			        	if(response.body[0].chartAccCreditStatus == "1") {
			        		$('#chartAccCreditStatus').prop('checked', true);
			        	} else {
			        		$('#chartAccCreditStatus').prop('checked', false);
			        	}
			        	
			        	var onAttr = "deleteCategory('"+response.body[0].ccId+"')";
			        	$("#deleteSlideCat").attr("onclick",onAttr);
	            	}
	            }
	        }, error : function(data) {
	        	console.log(data)
	        	$("#categoryId").val("");
	        	$("#categoryName").val("");
	        	$("#categoryCode").val("");
	        
	        	$('#chartAccDebitStatus').prop('checked', false);
	        	$('#chartAccCreditStatus').prop('checked', false);
	        	$("#deleteSlideCat").attr("onclick","");
	        }
		});
	} else {
		$("#categoryId").val("");
		$("#categoryName").val("");
		$("#categoryCode").val("");
		$('#chartAccDebitStatus').prop('checked', false);
    	$('#chartAccCreditStatus').prop('checked', false);
		$("#deleteSlideCat").attr("onclick","");
	}
}

function submitCategory(dataset) {
	var previousNo=$("#lbl_"+dataset.ccId).attr("value");
	
	$.ajax({
        type: "POST",
        url: "chart-account-save",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(dataset),
        success: function(response) {
            if (response.message == "Success") {
            	
            	
            if(response.body.ccrProfitStatus=='1')	{
            
            	var tbl = '<ul id="myUL_'+response.body.ccId+'" class="level"><li id="li_'+response.body.ccId+'"><span class="caret"></span> <span'+
				'<label id="lbl_'+response.body.ccId+'" class="leveltxt" style="color:#090">'+previousNo+' - '+response.body.ccName+" (P)"+'</span>'+
				'<label for="cost" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i title="Add Child" class="ti-plus cbicon" onclick=openNav("'+response.body.ccId+'","1");></i></a>&nbsp;'+
				'<a href="javascript:void(0)"><i title="Edit Category" class="ti-pencil" onclick=editCategory("'+response.body.ccId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i title="Delete Category" class="ti-close" onclick=deleteCategory("'+response.body.ccId+'")></i></a></label>'+
				'</li></ul>';
            	}
            else{
            	var tbl = '<ul id="myUL_'+response.body.ccId+'" class="level"><li id="li_'+response.body.ccId+'"><span class="caret"></span> <span'+
				'<label id="lbl_'+response.body.ccId+'" style="color:#676666" class="leveltxt">'+previousNo+' - '+response.body.ccName+'</span>'+
				'<label for="cost" class="costlabel">&nbsp;&nbsp;<a href="javascript:void(0)"><i title="Add Child" class="ti-plus cbicon" onclick=openNav("'+response.body.ccId+'","1");></i></a>&nbsp;'+
				'<a href="javascript:void(0)"><i title="Edit Category" class="ti-pencil" onclick=editCategory("'+response.body.ccId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i title="Delete Category" class="ti-close" onclick=deleteCategory("'+response.body.ccId+'")></i></a></label>'+
				'</li></ul>';
			
            }
          
    		
        		
				/* $("#li_"+response.body.ccId).append(tbl); */
				var ccId = $("#categoryId").val();
			
				if(ccId) {
					
					$("#lbl_"+response.body.ccId).text("");
					$("#lbl_"+response.body.ccId).text(response.body.ccName);
					 $("#colorstatus_"+response.body.ccId).empty();
					 if(response.body.chartAccDebitStatus=='1' && response.body.chartAccCreditStatus!='1'){
					//document.getElementById("lbl_"+response.body.ccId).style.color = '#090';
						$("#lbl_"+response.body.ccId).html(response.body.ccCode+' - '+response.body.ccName+' (<span style="color:#0076ba;">Dr</span>)');
					}else if(response.body.chartAccCreditStatus=='1' && response.body.chartAccDebitStatus!='1'){ 
						
						$("#lbl_"+response.body.ccId).html(response.body.ccCode+' - '+response.body.ccName+' (<span style="color:#ff9e99">Cr</span>)');
						
					 }else if(response.body.chartAccCreditStatus=='1' && response.body.chartAccDebitStatus=='1'){
						 
						 $("#lbl_"+response.body.ccId).html(response.body.ccCode+' - '+response.body.ccName+'<span> (Dr-Cr)</span>');
						 
					 }else{
						  document.getElementById("lbl_"+response.body.ccId).style.color = '#676666';
						  $("#lbl_"+response.body.ccId).text(response.body.ccCode+' - '+response.body.ccName);
					 }  
					  
				} else {
			
				 $(".flowsection").empty();
					getCategoryList();
					var totalPCat = $("#totalPCat").text();
					totalPCat = parseFloat(totalPCat) + 1;
					$("#totalPCat").text(totalPCat);
 			
	        	
			            	
	        		
				}
				closeCat();
            } else {
                swal({
                    title: response.code,
                    text: response.message,
                    type: "warning"
                })
            }
        },
        error: function(response) {
            console.log(response);
        }
    })
}

function submitSubCategory(dataset,slno) {
	

if(dataset.ccId!=""){
	
	var previousNo=$("#lbl_"+dataset.ccId).attr("value");
	
	$.ajax({
        type: "POST",
        url: "chart-account-save-subchartacc",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(dataset),
        success: function(response) {
            if (response.message == "Success") {
            	
            	
            	if(response.body.ccrProfitStatus=='1'){
            	var tbl = '<li id="li_'+response.body.ccId+'"><span class="caret" value="0" id="span_'+response.body.ccId+'" onclick=getLeafNodes("'+response.body.ccId+'")></span><span class="leveltxt" style="#090" id="lbl_'+response.body.ccId+'"> '+previousNo+' - '+response.body.ccName+" (P)"+' </span><label for="chk2" class="costlabel" >&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body.ccId+'","2");></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" title="Edit Category" onclick=editSubCategory("'+response.body.ccId+'","'+response.body.parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete Category" onclick=deleteSubCategory("'+response.body.ccId+'")></i></a></label><ul class="nested" id="ul_'+response.body.ccId+'"></ul></li>';
            	}else{
            	var tbl = '<li id="li_'+response.body.ccId+'"><span class="caret" value="0" id="span_'+response.body.ccId+'" onclick=getLeafNodes("'+response.body.ccId+'")></span><span class="leveltxt" style="color:#676666" id="lbl_'+response.body.ccId+'"> '+previousNo+' - '+response.body.ccName+' </span><label for="chk2" class="costlabel" >&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body.ccId+'","2");></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" title="Edit Category" onclick=editSubCategory("'+response.body.ccId+'","'+response.body.parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete Category" onclick=deleteSubCategory("'+response.body.ccId+'")></i></a></label><ul class="nested" id="ul_'+response.body.ccId+'"></ul></li>';
            	}
				var subCatId = $("#subCatId").val();
				
				
				/* if(response.body.nodeCount==0){		
					console.log("if");
					var id = "#span_"+response.body.parentId;
	        		
	        		$(id).removeClass("caret");
	        		
	        		}else{
	        			console.log("else");
	        			var id = "#span_"+response.body.parentId;
	        		
	        		$(id).addClass("caret down");
	        		} */
				/* $("#ul_"+response.body.ccId).addClass("active");
				$("#spanA_"+dataset.parentId).attr("value","0");
				getRootLeafNodes(dataset.parentId);	
				$("#span_"+dataset.parentId).attr("value","0"); */
				
				if(subCatId) {
					$("#lbl_"+response.body.ccId).text("");
					$("#lbl_"+response.body.ccId).text(previousNo+response.body.ccName);
					/*  if(response.body.ccrProfitStatus=='1')	{
							document.getElementById("lbl_"+response.body.ccId).style.color = '#090';
							$("#lbl_"+response.body.ccId).text(previousNo+' - '+response.body.ccName+'(P)');
						  }else{
							  document.getElementById("lbl_"+response.body.ccId).style.color = '#676666';
							  $("#lbl_"+response.body.ccId).text(previousNo+' - '+response.body.ccName);
							 
						  } */
						  $("#colorstatus_"+response.body.ccId).empty();
					 if(response.body.chartAccDebitStatus=='1' && response.body.chartAccCreditStatus!='1'){
							
							//document.getElementById("lbl_"+response.body.ccId).style.color = '#090';
							$("#lbl_"+response.body.ccId).html(response.body.ccCode+' - '+response.body.ccName+' (<span style="color:#0076ba;">Dr</span>)');
						}else if(response.body.chartAccCreditStatus=='1' && response.body.chartAccDebitStatus!='1'){ 
							
							$("#lbl_"+response.body.ccId).html(response.body.ccCode+' - '+response.body.ccName+' (<span style="color:#ff9e99">Cr</span>)');
							
						 }else if(response.body.chartAccCreditStatus=='1' && response.body.chartAccDebitStatus=='1'){
							 
							 $("#lbl_"+response.body.ccId).html(response.body.ccCode+' - '+response.body.ccName+'<span> (Dr-Cr)</span>');
							 
						 }else{
							  document.getElementById("lbl_"+response.body.ccId).style.color = '#676666';
							  $("#lbl_"+response.body.ccId).text(response.body.ccCode+' - '+response.body.ccName);
						 }  
				} else {
					getLeafNodes(dataset.parentId)
					/* $("#span_"+response.body.ccId).attr("value","0"); */
				/* 	getLeafNodes(response.body.ccId); */
					/* $("#ul_"+dataset.parentId).append(tbl);
					$("#spanA_"+dataset.parentId).addClass("caret-down");
					$("#ul_"+dataset.parentId).addClass("active"); */
					
					
				}
				closeNav();
            } else {
                swal({
                    title: response.code,
                    text: response.message,
                    type: "warning"
                })
            }
        },
        error: function(response) {
            console.log(response);
        }
    })
}else{
	
	$.ajax({
        type: "POST",
        url: "chart-account-save-subchartacc",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(dataset),
        success: function(response) {
            if (response.message == "Success") {
            	
            	console.log(response.body)
            	if(response.body.ccrProfitStatus=='1'){
            	var tbl = '<li id="li_'+response.body.ccId+'"><span class="caret" value="0" id="span_'+response.body.ccId+'" onclick=getLeafNodes("'+response.body.ccId+'")></span><span class="leveltxt" style="#090" id="lbl_'+response.body.ccId+'"> '+response.body.ccName+" (P)"+' </span><label for="chk2" class="costlabel" >&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body.ccId+'","2");></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" title="Edit Category" onclick=editSubCategory("'+response.body.ccId+'","'+response.body.parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete Category" onclick=deleteSubCategory("'+response.body.ccId+'")></i></a></label><ul class="nested" id="ul_'+response.body.ccId+'"></ul></li>';
            	}else{
            	var tbl = '<li id="li_'+response.body.ccId+'"><span class="caret" value="0" id="span_'+response.body.ccId+'" onclick=getLeafNodes("'+response.body.ccId+'")></span><span class="leveltxt" id="lbl_'+response.body.ccId+'"> '+response.body.ccName+' </span><label for="chk2" class="costlabel" >&nbsp;&nbsp;<a href="javascript:void(0)"><i class="ti-plus" title="Add Child" onclick=openNav("'+response.body.ccId+'","2");></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-pencil" title="Edit Category" onclick=editSubCategory("'+response.body.ccId+'","'+response.body.parentId+'")></i></a>&nbsp;<a href="javascript:void(0)"><i class="ti-close" title="Delete Category" onclick=deleteSubCategory("'+response.body.ccId+'")></i></a></label><ul class="nested" id="ul_'+response.body.ccId+'"></ul></li>';
            	}
            	var pareneNo=$("#myUL_"+response.body.parentId).val();
				
            	var id = "#spanA_"+response.body.parentId;
				
				$(id).addClass("caret");
				var subCatId = $("#subCatId").val();
			
				console.log("response.body.parentId"+response.body.parentId)
				var newid = "#span_"+response.body.parentId;
				$(newid).addClass("caret");
				
				$("#ul_"+response.body.ccId).addClass("active");
				$("#spanA_"+dataset.parentId).attr("value","0");
				getRootLeafNodes(dataset.parentId);	
				
				var x=response.body.ccId 
			
				$("#span_"+dataset.parentId).attr("value","0");
				getLeafNodes(dataset.parentId)
				if(subCatId) {
					$("#lbl_"+response.body.ccId).text("");
					$("#lbl_"+response.body.ccId).text(response.body.ccName);
				} else {
					
					/* $("#span_"+response.body.ccId).attr("value","0"); */
				/* 	getLeafNodes(response.body.ccId); */
					/* $("#ul_"+dataset.parentId).append(tbl);
					$("#spanA_"+dataset.parentId).addClass("caret-down");
					$("#ul_"+dataset.parentId).addClass("active"); */
					
					
				}
				closeNav();
            } else {
                swal({
                    title: response.code,
                    text: response.message,
                    type: "warning"
                })
            }
        },
        error: function(response) {
            console.log(response);
        }
    })
}

}

function openNav(categoryId,sl) {
	closeCat();
	var pName = $("#lbl_"+categoryId).text();
	
	var l = pName.split("-");
	var parentCode = l[0];
	
	$("#subCatParentSpan").text(" "+pName);
	$("#parentCat").val(categoryId);
	$("#subcategoryCode").val("");
	$("#subcategoryCode").val(parentCode+'.');
	$("#subCatId").val("");
	$("#subCatName").val("");
	$("#subCatDesc").val("");
	$('#subcatStatus').prop('checked', false);
	
	$("#slnoval").val(sl);
	
	$("#dltSlideSubCat").attr("onclick","");
	
	document.getElementById("mySidenavSubCat").style.cssText = "width: 270px; position: absolute; right:-45px; overflow: hidden;";
	document.getElementById("main").style.width = "80%;";
}

function closeNav() {
	
	$("#subCatParentSpan").text(" ");
	$("#parentCat").val("");
	
	$("#subCatId").val("");
	$("#subCatName").val("");
	$("#subCatDesc").val("");
	$('#subCatStatus').prop('checked', false);
	
	$("#slnoval").val("");
	
	$("#dltSlideSubCat").attr("onclick","");
	
	document.getElementById("mySidenavSubCat").style.width = "0";
	document.getElementById("main").style.width = "80%";
}

function openCat() {
	closeNav();
	$("#categoryId").val("");
	$("#categoryCode").val("");
	$("#categoryName").val("");
	$('#catStatus').prop('checked', false);	
	$("#deleteSlideCat").attr("onclick","");
	
	document.getElementById("mySidenavCat").style.cssText = "width: 270px; position: absolute; right:-45px; overflow: hidden;";
	document.getElementById("main").style.width = "80%";
}

function closeCat() {
	
	$("#categoryId").val("");
	$("#categoryName").val("");
	$("#categoryDesc").val("");
	$('#catStatus').prop('checked', true);
	
	$("#deleteSlideCat").attr("onclick","");
	
	document.getElementById("mySidenavCat").style.width = "0";
	document.getElementById("main").style.width = "80%";
}
</script>
</head>
<body>
	<div layout:fragment="content" class="maincontent">

		<div class="container-fluid">
			<div class="row">
				<div class="maincontentsec">
					<div class="content_padding">
						<div class="row margin_topbot" id="searchRowDiv"></div>
						<div class="row">
	<div class="col-md-10  btn-hs" style="margin-bottom: 15px;">
								<div class="font-design ft-lt" id="totalReq">
									Account List (<span th:each="c,iter:${levelList}" th:text="${' | '+c.key+'-'+c.name}"></span>)<!-- (<span id="totalPCat">2</span>) -->
								</div>
								<div class="roomdetails2">
									<div class="cat_plusbtn cp" title="Add Category"
										onclick="openCat()">+</div>
								</div>
							</div>
							
							
							
							
							<div class="col-md-2 btn-hs">
								<div class="row">
									<button class="btn4" id="newBtn" >Upload</button>
									<button class="btn4" id="locdeletebtn"  >Download</button>
								</div> 
							</div>

						</div>
						<!-- <div class="row">
							<div class="col-md-2">
								<div class="roomdetails">
									<div class="cat_plusbtn cp" title="Add Child"
										onclick="openCat()">+</div>
								</div>
							</div>
						</div> -->

						<!--  </div> -->
						<div class="wrapper center-block">
							<div class="panel-group" id="accordion" role="tablist"
								aria-multiselectable="true">
								<div class="panel panel-default">
									<div id="demo_11" class="panel-collapse collapse show"
										role="tabpanel" aria-labelledby="headingOne">
										<!-- show -->
										<div class="row">
											<div class="col-md-8">
												<div class="flowsection"
													style="border-right: 0px solid #ccc !important">
													<!-- code start for second tree -->
													<!-- code end for second tree -->
												</div>
											</div>
											<div class="col-md-4">
												<div class="roomdetails roomListDiv" id="main"></div>
												<div class="slidearrow" onclick="openNav()">
													<i class="ti-arrow-left"></i>
												</div>
												<div id="mySidenav" class="sidenav">
												
												<!-- Add Section -->
												<div id="mySidenavCat" class="sidenav">
													<div class="slidebox">
														<div class="row">
															<div class="col-md-10">
																<div class="edit" id="sectionNavText">Account</div>
															</div>
															<div class="col-md-2">
																<div class="arrow">
																	<a href="javascript:void(0)" class="closebtn"
																		onclick="closeCat()"><i class="ti-arrow-right"></i></a>
																</div>
															</div>
															<div class="chartbtnsec">
																<div align="right">
																	<button class="btn4" onclick="closeCat()">CANCEL</button>
																	<!-- <button class="btn3" id="deleteSlideCat">DELETE</button> -->
																	<button class="btn1" id="accountSave">SAVE</button>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Code</label> <input type="text"
																		class="form-control transparenttxtbox" placeholder=""
																		id="categoryCode">
																		<input type="hidden"
																		class="form-control transparenttxtbox" placeholder=""
																		id="totalCatCount">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Name</label> <input type="hidden"
																		id="categoryId"> <input type="text"
																		class="form-control transparenttxtbox" placeholder=""
																		id="categoryName">
																</div>
															</div>
															
															<div class="col-md-12"><div class="form-group"><label>Balance</label></div></div>
															 <div class="col-md-12"> 
															<div class="row">
															
															<div class="col-md-6">
																<div class="form-group">
																	<label style="position: relative; top: 1px;">Debit</label>
																	<input type="checkbox" name="isDebitActive"
																		id="chartAccDebitStatus" value="1">
																</div>
																</div>
																<div class="col-md-6">
																<div class="form-group">
																	<label style="position: relative; top: 1px;">Credit</label>
																	<input type="checkbox" name="isCreditActive"
																		id="chartAccCreditStatus" value="1">
																</div>
																</div>
															</div>
															</div>
															
															
															
															<!-- <div class="col-md-12">
																<div class="form-group">
																	<label>Balance</label>
																	<input type="checkbox" class="loc-chb" name="isActive"
																		id="catStatus" value="1" checked> <label>Active</label>
																</div>
															</div> -->
															<!-- <siv class="col-md-12"> -->
														<!-- <div class="row " style="padding: 0px 15px;"> -->
											<!-- <div class="col-md-6">
												<div class="form-group">
													<label style="position: relative; top: 1px;">Debit</label>
													<input type="checkbox" name="isDebitActive"
														id="debitStatus" value="1">
												</div>
											</div> -->
											
										<!-- </div> -->
										</div>
														</div>
													</div>
													<div class="slidebox">
														<div class="row">
															<div class="col-md-10">
																<div class="edit" id="roomLevelText"></div>
															</div>
															<div class="col-md-2">
																<div class="arrow">
																	<a href="javascript:void(0)" class="closebtn"
																		onclick="closeNav()"><i class="ti-arrow-right"></i></a>
																</div>
															</div>
															<div class="chartbtnsec">
																<div align="right">
																	<button class="btn4" onclick="closeNav()">CANCEL</button>
																<!-- 	<button class="btn3" id="dltRoom"
																		onclick="deleteRoom()">DELETE</button> -->
																	<button class="btn1" id="roomSave">SAVE</button>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Code</label> <input type="text"
																		class="form-control transparenttxtbox"
																		placeholder="Room Code" id="roomCode"> <input
																		type="hidden" id="sectionRoomId"> <input
																		type="hidden" id="roomDBId"> <input
																		type="hidden" id="rFloorSlNo"> <input
																		type="hidden" id="rSectionSlNo">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Name</label> <input type="text"
																		class="form-control transparenttxtbox"
																		placeholder="Room Name" id="roomName"
																		onblur="checkCharLengthOfString('roomName','10');">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Room Type</label>
																	<div class="select">
																		<select id="roomType" class="transparenttxtbox">
																			<option th:each="c,iter:${roomTypeList}"
																				th:value="${c.key}" th:text="${c.name}"></option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<!-- Add Floor -->
												<div id="mySidenavSubCat" class="sidenav">
													<div class="slidebox">
														<div class="row">
															<div class="col-md-10">
																<div class="edit" id="floorNavText">Account</div>
															</div>
															<div class="col-md-2">
																<div class="arrow">
																	<a href="javascript:void(0)" class="closebtn"
																		onclick="closeNav()"><i class="ti-arrow-right"></i></a>
																</div>
															</div>
															<div class="chartbtnsec">
																<div align="right">
																	<button class="btn4" onclick="closeNav()">CANCEL</button>
																<!-- 	<button class="btn3" id="dltSlideSubCat" onclick="">DELETE</button> -->
																	<button class="btn1" id="subCatSave">SAVE</button>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<span class="slide-span">Parent: </span><span id="subCatParentSpan" class="slide-span-text"></span>
																</div>
															</div>
															
															
															
															<div class="col-md-12">
																<div class="form-group">
																	<label>Code</label> <input type="text"
																		class="form-control transparenttxtbox" placeholder=""
																		id="subcategoryCode">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group">
																	<label>Name</label> <input type="hidden"
																		id="subCatId"> <input type="text"
																		class="form-control transparenttxtbox" placeholder=""
																		id="subCatName"> <input type="hidden" id="parentCat"> 
																		<input type="hidden" id="slnoval">
																</div>
															</div>
														<div class="col-md-12"><div class="form-group"><label>Balance</label></div></div>
															 <div class="col-md-12"> 
															<div class="row">
															
															<div class="col-md-6">
																<div class="form-group">
																	<label style="position: relative; top: 1px;">Debit</label>
																	<input type="checkbox" name="isSubDebitActive"
																		id="chartAccSubDebitStatus" value="1">
																</div>
																</div>
																<div class="col-md-6">
																<div class="form-group">
																	<label style="position: relative; top: 1px;">Credit</label>
																	<input type="checkbox" name="isSubCreditActive"
																		id="chartAccSubCreditStatus" value="1">
																</div>
																</div>
															</div>
															</div>
															
													</div>
												</div>

												
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="delete" class="modal fade show" aria-modal="true">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					<div class="modal-header flex-column">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" onclick="cancelModalBtn()">
							<i class="ti-close modal-close"></i>
						</button>
					</div>
					<div class="modal-body">
						<p>Do you really want to delete these records? This process
							cannot be undone.</p>
					</div>
					<div class="modal-footer justify-content-center"
						style="margin-top: -30px;">
						<button type="button" class="btn1" data-dismiss="modal"
							onclick="cancelModalBtn();">Cancel</button>
						<button type="button" class="btn3" id="deleteModalBtn">Delete</button>
					</div>
				</div>
			</div>
		</div>
		<div id="deleteFile" class="modal fade show" aria-modal="true">
			<div class="modal-dialog modal-confirm">
				<div class="modal-content">
					<div class="modal-header flex-column">
						<!-- <div class="icon-box">
							<i class="ti-close"></i>
						</div> -->
						<!-- <h4 class="modal-title w-100">Are you sure?</h4> -->
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" onclick="cancelModalBtn()">
							<i class="ti-close modal-close"></i>
						</button>
					</div>
					<div class="modal-body">
						<p>Do you really want to delete this image? This process
							cannot be undone.</p>
					</div>
					<div class="modal-footer justify-content-center"
						style="margin-top: -30px;">
						<button type="button" class="btn1" data-dismiss="modal"
							onclick="cancelModalBtn();">Cancel</button>
						<button type="button" class="btn3" onclick="deleteLocFile()">Delete</button>
						<!-- <img src="../assets/gif/loader.gif">  -->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
