<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>

function openNav1() {
	
	
	$('#productDesc').val("");
	$('#productName').val("");
	$('#productOrder').val("");
	$('#productId').val("");
	
	
	document.getElementById("mySidenav1").style.cssText = "width: 250px; position: absolute; right:-30px; overflow: hidden; height:auto; top:90px;";

	document.getElementById("main_content").style.width = "80%";
}

function closeNav1() {
	document.getElementById("mySidenav1").style.width = "0";
	document.getElementById("main_content").style.width = "100%";
}

	
function openNav2() {
	
	$('#brandCode').val("");
	$('#brandName').val("");
	$('#brandOrder').val("");
	$('#brandStatus').val("");
	$('#brandId').val("");
	
	
	document.getElementById("mySidenav2").style.cssText = "width: 250px; position: absolute; right:-30px; overflow: hidden; height:auto; top:90px;";

	document.getElementById("main_content").style.width = "80%";
}

function closeNav2() {
	document.getElementById("mySidenav2").style.width = "0";
	document.getElementById("main_content").style.width = "100%";
}

function openNav3() {
	
	$('#variationId').val("");
	$('#variationName').val("");
	$('#variationDesc').val("");
	$('#variationStatus').val("");
	
	document.getElementById("mySidenav3").style.cssText = "width: 250px; position: absolute; right:-30px; overflow: hidden; height:auto; top:90px;";

	document.getElementById("main_content").style.width = "80%";
}

function closeNav3() {
	document.getElementById("mySidenav3").style.width = "0";
	document.getElementById("main_content").style.width = "100%";
}


</script>

<script type="text/javascript">
$(document).ready(function() {
	
	agGrid.simpleHttpRequest({
		url : 'view-procurement-view-product-type'
		}).then(function(data) {
		if(!data1){
		data.push(data1);
		}
		gridOptions1.api.setRowData(data);
		});
	
	
	
	agGrid.simpleHttpRequest({
		url : 'view-procurement-view-brand-type'
		}).then(function(data) {
		if(!data2){
		data.push(data2);
		}
		gridOptions2.api.setRowData(data);
		});
	
	
	agGrid.simpleHttpRequest({
		url : 'view-procurement-view-variation-type'
		}).then(function(data) {
		if(!data3){
		data.push(data3);
		}
		gridOptions3.api.setRowData(data);
		});
	
	
	$('.collapse').on('show.bs.collapse', function() {
		$(this).siblings('.panel-heading').addClass('active');
	});

	$('.collapse').on('hide.bs.collapse', function() {
		$(this).siblings('.panel-heading').removeClass('active');
	});

	
	/* selectbox */
	var x, i, j, l, ll, selElmnt, a, b, c;
	/*look for any elements with the class "custom-select":*/
	x = document.getElementsByClassName("selectbox");
	l = x.length;
	for (i = 0; i < l; i++) {
		selElmnt = x[i].getElementsByTagName("select")[0];
		ll = selElmnt.length;
		/*for each element, create a new DIV that will act as the selected item:*/
		a = document.createElement("DIV");
		a.setAttribute("class", "select-selected");
		a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
		x[i].appendChild(a);
		/*for each element, create a new DIV that will contain the option list:*/
		b = document.createElement("DIV");
		b.setAttribute("class", "select-items select-hide");
		for (j = 1; j < ll; j++) {
			/*for each option in the original select element,
			create a new DIV that will act as an option item:*/
			c = document.createElement("DIV");
			c.innerHTML = selElmnt.options[j].innerHTML;
			c
					.addEventListener(
							"click",
							function(e) {
								/*when an item is clicked, update the original select box,
								and the selected item:*/
								var y, i, k, s, h, sl, yl;
								s = this.parentNode.parentNode
										.getElementsByTagName("select")[0];
								sl = s.length;
								h = this.parentNode.previousSibling;
								for (i = 0; i < sl; i++) {
									if (s.options[i].innerHTML == this.innerHTML) {
										s.selectedIndex = i;
										h.innerHTML = this.innerHTML;
										y = this.parentNode
												.getElementsByClassName("same-as-selected");
										yl = y.length;
										for (k = 0; k < yl; k++) {
											y[k].removeAttribute("class");
										}
										this.setAttribute("class",
												"same-as-selected");
										break;
									}
								}
								h.click();
							});
			b.appendChild(c);
		}
		x[i].appendChild(b);
		a.addEventListener("click", function(e) {
			/*when the select box is clicked, close any other select boxes,
			and open/close the current select box:*/
			e.stopPropagation();
			closeAllSelect(this);
			this.nextSibling.classList.toggle("select-hide");
			this.classList.toggle("select-arrow-active");
		});
	}
	function closeAllSelect(elmnt) {
		/*a function that will close all select boxes in the document,
		except the current select box:*/
		var x, y, i, xl, yl, arrNo = [];
		x = document.getElementsByClassName("select-items");
		y = document.getElementsByClassName("select-selected");
		xl = x.length;
		yl = y.length;
		for (i = 0; i < yl; i++) {
			if (elmnt == y[i]) {
				arrNo.push(i)
			} else {
				y[i].classList.remove("select-arrow-active");
			}
		}
		for (i = 0; i < xl; i++) {
			if (arrNo.indexOf(i)) {
				x[i].classList.add("select-hide");
			}
		}
	}
});
	/*if the user clicks anywhere outside the select box,
	 then close all select boxes:*/
	document.addEventListener("click", closeAllSelect);
</script>

<script type="text/javascript">

var data1 = {};
function saveProductType() {

 closeNav1();


data1.productId = $("#productId").val();
data1.productOrder = $("#productOrder").val();
data1.productName = $("#productName").val();
data1.productDesc = $("#productDesc").val();
data1.productStatus = $("#productStatus").val();

console.log("data", data2)

$.ajax({
type : "POST",
url : "view-procurement-add-product-type",
dataType : "json",
contentType : "application/json",
data : JSON.stringify(data1),
success : function(response) {
if (response.message == "Success") {
agGrid.simpleHttpRequest({
url : 'view-procurement-view-product-type'
}).then(function(data) {
gridOptions1.api.setRowData(data);
});
}
},
error : function(response) {
console.log(response);
}
})
}
var columnDefs1 = [

	

	{
		headerName : "Product Type",
		field : "productId",
		hide: true
		},
{
headerName : "Name",
field : "productName",
width : 80
},
{
	headerName : "Description",
	field : "productDesc",
	width :175,
	type : "centerAligned"
	},
{
headerName : "Status",
field : "productStatus",
width : 90,
cellRenderer: function(params){
if(params.data.productStatus == "Active"){
return '<div style="color:green">' + params.data.productStatus + '</div>';
} else{
return '<div>' + params.data.productStatus + '</div>';
}
}
} ];

var gridOptions1 = {
columnDefs : columnDefs1,
defaultColDef : {
sortable : true,
filter : true,
resizable : true,
width : 195,
height : 10
},
rowSelection: 'single',
rowMultiSelectWithClick: true,
onSelectionChanged: onSelectionChangedProduct

};

function onSelectionChangedProduct()
{
closeNav2();
closeNav3();
openNav1();

var selectedNodes= gridOptions1.api.getSelectedNodes();
var selectedData= selectedNodes.map(node => node.data);

$('#productDesc').val(selectedData.map(node => node.productDesc));
$('#productName').val(selectedData.map(node => node.productName));
$('#productId').val(selectedData.map(node => node.productId));


if(selectedData.map(node => node.productStatus) == "Active"){
$('#productStatus').val("1");
} else{
$('#productStatus').val("0");
}
}



function deleteProductType(){
closeNav1();

var id = $('#productId').val();

$.ajax({
type : "GET",
url : "view-procurement-product-type-delete?id=" + id,
dataType : "json",
contentType : "application/json",
success : function(response) {
if (response.message == "Success") {
agGrid.simpleHttpRequest({
url : 'view-procurement-view-product-type'
}).then(function(data) {
gridOptions1.api.setRowData(data);
});
}
},
error : function(response) {
console.log(response);
}
})
}
 
var data2 = {};
function saveBrandType() {

 closeNav2();


data2.brandId = $("#brandId").val();
data2.brandName = $("#brandName").val();
data2.brandOrder = $("#brandOrder").val();
data2.brandCode = $("#brandCode").val();
data2.brandStatus = $("#brandStatus").val();

console.log("data", data2)

$.ajax({
type : "POST",
url : "view-procurement-add-brand-type",
dataType : "json",
contentType : "application/json",
data : JSON.stringify(data2),
success : function(response) {
if (response.message == "Success") {
agGrid.simpleHttpRequest({
url : 'view-procurement-view-brand-type'
}).then(function(data) {
gridOptions2.api.setRowData(data);
});
}
},
error : function(response) {
console.log(response);
}
})
}
var columnDefs2 = [

	{
		headerName : "Brand Type",
		field : "brandId",
		hide: true
		},
{
headerName : "Order",
field : "brandOrder",
width : 80
},{
headerName : "Code",
field : "brandCode",
width :70,
type : "centerAligned"
},

{
headerName : "Brand Name",
field : "brandName",
width :120,
type : "centerAligned"
}, {
headerName : "Status",
field : "brandStatus",
width : 80,
cellRenderer: function(params){
if(params.data.brandStatus == "Active"){
return '<div style="color:green">' + params.data.brandStatus + '</div>';
} else{
return '<div>' + params.data.brandStatus + '</div>';
}
}
} ];

var gridOptions2 = {
columnDefs : columnDefs2,
defaultColDef : {
sortable : true,
filter : true,
resizable : true,
width : 195,
height : 10
},
rowSelection: 'single',
rowMultiSelectWithClick: true,
onSelectionChanged: onSelectionChangedBrand

};

function onSelectionChangedBrand()
{

	closeNav1();
	closeNav2();
openNav2();



var selectedNodes= gridOptions2.api.getSelectedNodes();
var selectedData= selectedNodes.map(node => node.data);

$('#brandOrder').val(selectedData.map(node => node.brandOrder));
$('#brandCode').val(selectedData.map(node => node.brandCode));
$('#brandName').val(selectedData.map(node => node.brandName));
$('#brandId').val(selectedData.map(node => node.brandId));


if(selectedData.map(node => node.brandStatus) == "Active"){
$('#brandStatus').val("1");
} else{
$('#brandStatus').val("0");
}
}



function deleteBrandType(){
closeNav2();
var id = $('#brandId').val();

$.ajax({
type : "GET",
url : "view-procurement-brand-type-delete?id=" + id,
dataType : "json",
contentType : "application/json",
success : function(response) {
if (response.message == "Success") {
agGrid.simpleHttpRequest({
url : 'view-procurement-view-brand-type'
}).then(function(data) {
gridOptions2.api.setRowData(data);
});
}
},
error : function(response) {
console.log(response);
}
})
}
 
 
var data3 = {};
function saveVariationType() {

 closeNav3();

data3.variationId = $("#variationId").val();
data3.variationName = $("#variationName").val();
data3.variationDesc = $("#variationDesc").val();
data3.variationStatus = $("#variationStatus").val();


$.ajax({
type : "POST",
url : "view-procurement-add-variation-type",
dataType : "json",
contentType : "application/json",
data : JSON.stringify(data3),
success : function(response) {
if (response.message == "Success") {
agGrid.simpleHttpRequest({
url : 'view-procurement-view-variation-type'
}).then(function(data) {
gridOptions3.api.setRowData(data);
});
}
},
error : function(response) {
console.log(response);
}
})
}
var columnDefs3 = [

	{
		headerName : "Variation Type",
		field : "variationId",
		hide: true
		},
{
	headerName : "Name",
	field : "variationName",
	width : 80
	},
	{
		headerName : "Description",
		field : "variationDesc",
		width :175,
		type : "centerAligned"
		},
	{
	headerName : "Status",
	field : "variationStatus",
	width : 90,
	cellRenderer: function(params){
	if(params.data.variationStatus == "Active"){
	return '<div style="color:green">' + params.data.variationStatus + '</div>';
	} else{
	return '<div>' + params.data.variationStatus + '</div>';
}
}
} ];

var gridOptions3 = {
columnDefs : columnDefs3,
defaultColDef : {
sortable : true,
filter : true,
resizable : true,
width : 195,
height : 10
},
rowSelection: 'single',
rowMultiSelectWithClick: true,
onSelectionChanged: onSelectionChangedVariation

};

function onSelectionChangedVariation()
{
	closeNav1();
	closeNav2();
openNav3();

var selectedNodes= gridOptions3.api.getSelectedNodes();
var selectedData= selectedNodes.map(node => node.data);

$('#variationName').val(selectedData.map(node => node.variationName));
$('#variationDesc').val(selectedData.map(node => node.variationDesc));
$('#variationId').val(selectedData.map(node => node.variationId));


if(selectedData.map(node => node.variationStatus) == "Active"){
$('#variationStatus').val("1");
} else{
$('#variationStatus').val("0");
}
}



function deleteVariationType(){
	
closeNav3();

var id = $('#variationId').val();

$.ajax({
type : "GET",
url : "view-procurement-variation-type-delete?id=" + id,
dataType : "json",
contentType : "application/json",
success : function(response) {
if (response.message == "Success") {
agGrid.simpleHttpRequest({
url : 'view-procurement-view-variation-type'
}).then(function(data) {
gridOptions3.api.setRowData(data);
});
}
},
error : function(response) {
console.log(response);
}
})
}

//setup the grid after the page has finished loading
document.addEventListener('DOMContentLoaded', function() {
	
	 var gridDiv1 = document.querySelector('#myGrid1');
	 new agGrid.Grid(gridDiv1, gridOptions1);
	 
	 
	 var gridDiv2 = document.querySelector('#myGrid2');
	 new agGrid.Grid(gridDiv2, gridOptions2);
	 
	 var gridDiv3 = document.querySelector('#myGrid3');
	 new agGrid.Grid(gridDiv3, gridOptions3);
	
});


	   
function BrandTypeCSV() {
	   var dataset = [];
	   gridOptions2.api.forEachNodeAfterFilterAndSort(function(rowNode,
	   index) {
		   var item = rowNode.data;
		   item.brandId = item.brandOrder; 
	   dataset.push(item);
	   });
	   gridOptions2.api.exportDataAsCsv(dataset);
	   }
	   
function ProductTypeCSV() {
	   var dataset = [];
	   gridOptions1.api.forEachNodeAfterFilterAndSort(function(rowNode,
	   index) {
		   var item = rowNode.data;
		   item.productId = item.productName; 
	   dataset.push(item);
	   });
	   gridOptions1.api.exportDataAsCsv(dataset);
	   }
	   
function variationTypeCSV() {
	   var dataset = [];
	   gridOptions3.api.forEachNodeAfterFilterAndSort(function(rowNode,
	   index) {
		   var item = rowNode.data;
		   item.variationId = item.variationName; 
	   dataset.push(item);
	   });
	   gridOptions3.api.exportDataAsCsv(dataset);
	   }
	   


function closeAllNav(){
	closeNav2();
}
</script>
</head>

<body>

	<div layout:fragment="content">
		<div class="content-wrap">
			<div class="container-fluid">
				<div class="maincontent">
					<div class="row">

						<div class="maincontentsec">
							<div class="content_padding">

								<div id="main_content">
									<div class="wrapper center-block">

										<div class="panel-group" id="accordion" role="tablist"
											aria-multiselectable="true">

											<div class="panel panel-default">
												<div class="panel-heading active" role="tab" id="headingOne"
													onclick="closeAllNav()">
													<h4 class="panel-title">
														<a role="button" data-toggle="collapse"
															data-parent="#accordion" href="#collapseOne"
															aria-expanded="true" aria-controls="collapseOne">Product</a>
													</h4>
												</div>
												<div id="collapseOne" class="panel-collapse collapse show"
													role="tabpanel" aria-labelledby="headingOne">
													<div class="panel-body">


														<div class="row">
															<div class="col-md-4">
																<div class="reference_heading">Brand Types</div>
																<div class="row">
																	<div class="col-md-10">
																		<div class="sml_plus" onclick='closeNav1();closeNav3();openNav2()'>
																			<i class="ti-plus"></i>
																		</div>

																		<div class="sml_action">
																			<i class="ti-bolt-alt"></i>
																		</div>
																	</div>

																	<div class="sml_hide">
																		<i class="ti-download" onclick="BrandTypeCSV();"></i>
																	</div>

																</div>

																<div class="box_reference" align="center">
																	<div id="myGrid2" style="width: 100%; height: 140px;"
																		class="ag-theme-alpine"></div>
																</div>
															</div>


															<div class="col-md-4">
																<div class="reference_heading">Product Types</div>
																<div class="row">
																	<div class="col-md-10">
																		<div class="sml_plus" onclick='closeNav2();closeNav3();openNav1()'>
																			<i class="ti-plus"></i>
																		</div>

																		<div class="sml_action">
																			<i class="ti-bolt-alt"></i>
																		</div>
																	</div>

																	<div class="sml_hide">
																		<i class="ti-download" onclick="ProductTypeCSV();"></i>
																	</div>

																</div>

																<div class="box_reference" align="center">
																	<div id="myGrid1" style="width: 100%; height: 140px;"
																		class="ag-theme-alpine"></div>
																</div>
															</div>

															<div class="col-md-4">
																<div class="reference_heading">Variation Types</div>
																<div class="row">
																	<div class="col-md-10">
																		<div class="sml_plus" onclick='closeNav1();closeNav2();openNav3()'>
																			<i class="ti-plus"></i>
																		</div>

																		<div class="sml_action">
																			<i class="ti-bolt-alt"></i>
																		</div>
																	</div>

																	<div class="sml_hide">
																		<i class="ti-download" onclick="variationTypeCSV();"></i>
																	</div>

																</div>

																<div class="box_reference" align="center">
																	<div id="myGrid3" style="width: 100%; height: 140px;"
																		class="ag-theme-alpine"></div>
																</div>
															</div>


														</div>

													</div>
												</div>

											</div>

										</div>


										<!-- ///////////////START///////////////// -->


										<div id="mySidenav1" class="sidenav">
											<div class="slidebox">
												<div class="row">
													<div class="col-md-9">
														<div class="edit">Product Type</div>
													</div>
													<div class="col-md-3">
														<div class="arrow">
															<a href="javascript:void(0)" class="closebtn"
																onclick="closeNav1()"><i class="ti-arrow-right"></i></a>
														</div>
													</div>
													<div class="chartbtnsec1">
														<div align="right">
															<button class="btn4" onclick="closeNav1()">CANCEL</button>
															<button class="btn3" onclick="deleteProductType()">DELETE</button>
															<button class="btn1" onclick="saveProductType()">SAVE</button>
														</div>
													</div>
													<div class="clearfix"></div>

													<div class="col-md-12">
														<div class="form-group">
															<label>Product Name</label> <input type="text"
																class="form-control transparenttxtbox"
																placeholder="Name" id="productName"> <input
																type="hidden" id="productId">
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label>Description</label> <input type="text"
																class="form-control transparenttxtbox"
																placeholder="Desc" id="productDesc">
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label>Status</label> <select id="productStatus"
																class="form-control">
																<option value="">Select</option>
																<option value="1">Active</option>
																<option value="0">Inactive</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div id="mySidenav2" class="sidenav">
											<div class="slidebox">
												<div class="row">
													<div class="col-md-9">
														<div class="edit">Brand Type</div>
													</div>
													<div class="col-md-3">
														<div class="arrow">
															<a href="javascript:void(0)" class="closebtn"
																onclick="closeNav2()"><i class="ti-arrow-right"></i></a>
														</div>
													</div>
													<div class="chartbtnsec1">
														<div align="right">
															<button class="btn4" onclick="closeNav2()">CANCEL</button>
															<button class="btn3" onclick="deleteBrandType()">DELETE</button>
															<button class="btn1" onclick="saveBrandType()">SAVE</button>
														</div>
													</div>
													<div class="clearfix"></div>

													<div class="col-md-12">
														<div class="form-group">
															<label>Order</label> <input type="text"
																class="form-control transparenttxtbox"
																placeholder="Order" id="brandOrder"> <input
																type="hidden" id="brandId">
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label>Code</label> <input type="text"
																class="form-control transparenttxtbox"
																placeholder="Code" id="brandCode">
														</div>
													</div>


													<div class="col-md-12">
														<div class="form-group">
															<label>Brand Name</label> <input type="text"
																class="form-control transparenttxtbox"
																placeholder="Name" id="brandName">
														</div>
													</div>


													<div class="col-md-12">
														<div class="form-group">
															<label>Status</label> <select id="brandStatus"
																class="form-control">
																<option value="">Select</option>
																<option value="1">Active</option>
																<option value="0">Inactive</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div id="mySidenav3" class="sidenav">
											<div class="slidebox">
												<div class="row">
													<div class="col-md-9">
														<div class="edit">Variation Type</div>
													</div>
													<div class="col-md-3">
														<div class="arrow">
															<a href="javascript:void(0)" class="closebtn"
																onclick="closeNav3()"><i class="ti-arrow-right"></i></a>
														</div>
													</div>
													<div class="chartbtnsec1">
														<div align="right">
															<button class="btn4" onclick="closeNav3()">CANCEL</button>
															<button class="btn3" onclick="deleteVariationType()">DELETE</button>
															<button class="btn1" onclick="saveVariationType()">SAVE</button>
														</div>
													</div>
													<div class="clearfix"></div>

													<div class="col-md-12">
														<div class="form-group">
															<label>Variation Name</label> <input type="text"
																class="form-control transparenttxtbox"
																placeholder="Name" id="variationName"> <input
																type="hidden" id="variationId">
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label>Description</label> <input type="text"
																class="form-control transparenttxtbox"
																placeholder="Desc" id="variationDesc">
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group">
															<label>Status</label> <select id="variationStatus"
																class="form-control">
																<option value="">Select</option>
																<option value="1">Active</option>
																<option value="0">Inactive</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</html>