<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style type="text/css">
#autocomplete-list1 {
	float: left;
	list-style: none;
	margin-top: -3px;
	padding: 0;
	width: 280px;
	position: absolute;
	z-index: 999;
}

#autocomplete-list1 li {
	padding: 10px;
	background: #f0f0f0;
	border-bottom: #bbb9b9 1px solid;
}

#autocomplete-list1 li:hover {
	background: #ece3d2;
	cursor: pointer;
}

.red {
	background-color: #b3ccff;
}
</style>
<script>
function addMore(){
	
	if (!blankValidation("costCenter","SelectBox" ,"Please Select Cost Center."))
	      return false;
		
		var staffValid = true;
			$('.staffCls').each(function(){
				if (!blankValidation($(this).attr('id'),"SelectBox" ,"Please Select Staff.")){
					staffValid = false;
					return false;
				}  	
			});
		 
		
		var itemValid = true;
		if(staffValid){
			$('.ItemCls').each(function(){
				if (!blankValidation($(this).attr('id'),"SelectBox" ,"Please Select Item.")){
					itemValid = false;
					return false;
				}	  	
			});
		}
		
		var assetValid = true;
				
		var dateValid = true;
		if(staffValid && itemValid && assetValid){
			$('.dateCls').each(function(){
				if (!blankValidation($(this).attr('id'),"TextField" ,"Please Enter Date.")){
					dateValid = false;
					return false;
				}	  	
			});
		}
		
		var statusValid = true;
		if(staffValid && itemValid && assetValid && dateValid){
			$('.statusCls').each(function(){
				if (!blankValidation($(this).attr('id'),"SelectBox" ,"Please Select Status.")){
					statusValid = false;
					return false;
				}
					  	
			});
		}
		
	if(staffValid  && itemValid && assetValid && dateValid && statusValid){ 
	
		var lengthOfTableRow = $("#tbodyData").children('tr').length;
		var cloneHtml = $("#myTable tbody tr:first").clone();
		$("#myTable tbody tr:last").find('td:last').html('');
		$("#myTable tbody").append($("#myTable tbody tr:first").clone());
		
		$("#myTable tbody tr td:last").html("");
		var addMore='<button type="button" class="btn btn-primary tr_clone_add" name="add" onclick="addMore();"><span class="ti-plus"></span></button>&nbsp;'
		var removeMore = '<button type="button" class="btn btn-warning rmv" name="Remove"><span class="ti-minus"></span></button>';
		
		$("#myTable tbody tr:last").find('td:last').append(addMore);
		$("#myTable tbody tr:last").find('td:last').append(removeMore);
		
		$("#myTable tbody tr:last").find(".CategoryCls").val("");
		$("#myTable tbody tr:last").find(".SubCategoryCls").val("");
		$("#myTable tbody tr:last").find(".ItemCls").val("");
		$("#myTable tbody tr:last").find(".itemName").val("");
		
		$("#myTable tbody tr:last").find(".assetCls").empty();
		$("#myTable tbody tr:last").find(".assetCls").append(new Option("--Select--",""));
		$("#myTable tbody tr:last").find(".dateCls").val("");
		
		var editTr = 0;
		
		if(lengthOfTableRow>editTr){
			$("#myTable tbody tr").eq(lengthOfTableRow-1).find('td:last').append(removeMore);
		}
		
		$("#myTable > tbody > tr").each(function(i){
			var selectInput = $(this).find('select');
			var textInput = $(this).find('input');
			var divInput = $(this).find('div');
			
			selectInput.eq(0).attr('id',"selectStaff_"+i);
			textInput.eq(0).attr('id',"selectCategory_"+i);
			textInput.eq(1).attr('id',"selectSubCategory_"+i);
			textInput.eq(2).attr('id',"selectItem_"+i);
			selectInput.eq(1).attr('id',"selectAsset_"+i);
			selectInput.eq(2).attr('id',"selectStatus_"+i);
			textInput.eq(4).attr('id',"date_"+i);
			textInput.eq(3).attr('id',"qItemName_"+i);
			divInput.eq(0).attr('id', "suggesstion-box1_" + i);
		})
	}
	
		
		 
			$( ".dateCls" ).datetimepicker({
				format:'d-m-Y',
				closeOnDateSelect: true,
				minDate: new Date() ,
				timepicker : false,
			})
	  
	
}


function callItem(event){
	var subCategory = event.currentTarget.value;
	var currentId = event.currentTarget.id;
	var l = currentId.split("_");
	
	var counter = l[1];
	if(subCategory !=""){
		$("#selectItem_"+counter).empty();
		
		
		$("#selectItem_"+counter).append(new Option("--Select--",""))
		$("#selectAsset_"+counter).empty();
		$("#selectAsset_"+counter).append(new Option("--Select--",""))
	 	$.ajax({
			type 		:	"POST",
			url 		:	"/property/add-assign-asset-to-staff-getItemList",
			dataType 	:	'json',
			contentType :	'application/json',
			data 		:	subCategory,
			success 	: 	function(response){
				var items = response.body;
				
				if(response.message=="success"){
					
					if(items.length>0){
						for(var i=0;i<items.length;i++){
							var option	= i.toString();
							option		= new Option(items[i].name,items[i].key)
							$(option).html(items[i].name);
							$("#selectItem_"+counter).append(option);	
							
						}
					}
				}else{
					swal("Please Try Again");
				}
			},
			error : function(data) {
				swal(data);
			}
		})
	}else{
		$("#selectItem_"+counter).empty();
		$("#selectItem_"+counter).append(new Option("--Select--",""))
		$("#selectAsset_"+counter).empty();
		$("#selectAsset_"+counter).append(new Option("--Select--",""))
	}
}

function callAsset(counter){
	var item = $('#selectItem_'+counter).val();
	
	if(item !=""){
		$("#selectAsset_"+counter).empty();
		$("#selectAsset_"+counter).append(new Option("--Select--",""));
		
	 	$.ajax({
			type 		:	"POST",
			url 		:	"/property/add-assign-asset-to-staff-getAssetListAll",
			dataType 	:	'json',
			contentType :	'application/json',
			data 		:	item,
			success 	: 	function(response){
				var items = response.body;
				
				if(response.message=="success"){
					
					if(items.length>0){
						for(var i=0;i<items.length;i++){
							console.log(items)
							/* var option	= i.toString();
							option		= new Option(items[i].name,items[i].key)
							$(option).html(items[i].name);
							$("#selectAsset_"+counter).append(option);	 */
							//$("#selectAsset_"+counter).empty();
							$("#selectAsset_"+counter).append(new Option(response.body[i].name,response.body[i].key));
							
						}
					}
				}else{
					swal("Please Try Again");
				}
			},
			error : function(data) {
				swal(data);
			}
		})
	}else{
		$("#selectAsset_"+counter).empty();
		$("#selectAsset_"+counter).append(new Option("--Select--",""))
	}
}


$(document).ready(function(){
	
	$( ".dateCls" ).datetimepicker({
		format:'d-m-Y',
		closeOnDateSelect: true,
		minDate: new Date() ,
		timepicker : false,
	})
	
	
	var lengthOfTableRow = $("#tbodyData").children('tr').length;
	$('.tbll').on('click', '.rmv', function () {
		$(this).closest('tr').remove();
		
		$("#myTable tbody tr:last").find('td:last').html('');
		var add='<button type="button" class="btn btn-primary tr_clone_add" name="add" onclick="addMore();"><span class="ti-plus"></span></button>&nbsp;'
		var remove = '<button type="button" class="btn btn-warning rmv" name="Remove"><span class="ti-minus"></span></button>';
	
		if($("#tbodyData").children('tr').length > lengthOfTableRow){
			$("#myTable tbody tr:last").find('td:last').append(add);
			$("#myTable tbody tr:last").find('td:last').append(remove);
		}else{
			$("#myTable tbody tr:last").find('td:last').append(add);
		}
		displayAsset();
		
	});
	
		
	
$("#costCenter").on('change', function() {
		
		var costcenter = $(this).val();
		if (costcenter) {
			
			$.ajax({
				type : 'POST',
				url : 'add-assign-asset-to-staff-get-user',
				contentType : false,
				data : costcenter,
				success : function(response) {
					console.log(response);
					$(".staffCls").empty();
					$(".staffCls").append("<option value>--Select--</option>");
					 for (var i = 0; i < response.body.length; i++) {
						var option = $("<option></option>");
						$(option).val(response.body[i].key);
						$(option).html(response.body[i].name);
						$(".staffCls").append(option);
					} 
				},
				error : function(e) {
					alert("error");
				}
			});
		}
		else {
				$(".staffCls").empty();
				$(".staffCls").append("<option value>Select</option>");
		}
	});
	
//submit button function
	
	$("#submit").click(function(){
		
		var dataset = [];
		$("#tbodyData > tr").each(function(){
			assign = {};
			assign['costCenter']		=	$("#costCenter").val();			
			assign['staff']				=	$(this).find(".staffCls").val();
			assign['category']			=	$(this).find(".CategoryCls").val();
			assign['subcategory']		=	$(this).find(".SubCategoryCls").val();
			assign['item']				=	$(this).find(".ItemCls").val();
			assign['asset']				=	$(this).find(".assetCls").val();
			assign['assignDate']		=	$(this).find(".dateCls").val();
			assign['active']		    =	$(this).find(".statusCls").val();
			dataset.push(assign);
		});//table tbody tr loop ends
		
			if (!blankValidation("costCenter","SelectBox" ,"Please Select Cost Center."))
		      return false;
			
			var staffValid = true;
				$('.staffCls').each(function(){
					if (!blankValidation($(this).attr('id'),"SelectBox" ,"Please Select Staff.")){
						staffValid = false;
						return false;
					}  	
				});
			
			
			
			var itemValid = true;
			if(staffValid){
				$('.ItemCls').each(function(){
					if (!blankValidation($(this).attr('id'),"SelectBox" ,"Please Select Item.")){
						itemValid = false;
						return false;
					}	  	
				});
			}
			
			var assetValid = true;
			if(staffValid  && itemValid){
				$('.assetCls').each(function(){
					if (!blankValidation($(this).attr('id'),"SelectBox" ,"Please Select Asset.")){
						assetValid = false;
						return false;
					}	  	
				});
			}
			
			var dateValid = true;
			if(staffValid && itemValid && assetValid){
				$('.dateCls').each(function(){
					if (!blankValidation($(this).attr('id'),"TextField" ,"Please Enter Date.")){
						dateValid = false;
						return false;
					}	  	
				});
			}
			
			var statusValid = true;
			if(staffValid  && itemValid && assetValid && dateValid){
				$('.statusCls').each(function(){
					if (!blankValidation($(this).attr('id'),"SelectBox" ,"Please Select Status.")){
						statusValid = false;
						return false;
					}
						  	
				});
			}
			console.log(dataset);
		if(staffValid  && itemValid && assetValid && dateValid && statusValid){ 
			submitAssignAssetToStaff(dataset);
		}
	})
})

	function submitAssignAssetToStaff(dataset){
	const ipAPI = 'https://api.ipify.org?format=json'
			console.log(dataset);
		swal.fire({
			title				: "Are you sure want to Submit?",
			text				: "Once Submited,Can't revert back !",
			type 				: "warning",
			
			showCancelButton	: true,
			confirmButtonColor	: "#DD6BB5",
			confirmButtonText	:"Submit",
			showLoaderOnConfirm	: true,
			reverseButtons : true,
			confirmButtonAriaLabel : 'Thumbs up, great!',
			cancelButtonText : 'Cancel',
			cancelButtonAriaLabel : 'Thumbs down',
			
			 preConfirm: () => {
			    return fetch(ipAPI)
			      .then(response => response.json())
			      .then(data => Swal.insertQueueStep(data.ip))
			      .catch(() => {
			        Swal.insertQueueStep({
			          type: 'error',
			          title: 'Unable to get your public IP'
			,        })
			      })
			 }   
		}).then((result) => {
			if(result.value){
				$.ajax({
				type		: "POST",
				url 		: "add-assign-asset-to-staff-save-data",
				dataType	: "json",
				contentType	: "application/json",
				data		: JSON.stringify(dataset),
				success		: function(response){
					//console.log(response);
					if(response.message=="Success"){
						swal({
								title:"Data Saved Successfully.",
								type: "success",
						}).then(function(){
								window.location.href = "/property/view-assigned-asset-to-staff" ;
						})
					}else{
						swal({
							title:response.code,
							text: response.message,
							type:"warning"
						})
					}
				},error		: function(response){
					swal(response);	
				}
			}) //ajax ends
		}
		})//swal function block ends
	}//submit function ends
	

function funcLoad(){
	location.reload();
}
function disableAssetOption(){
	
	 $("#myTable > tbody > tr").each(function(i){
	   $(".assetCls option").prop("visible", true); //enable everything
	
	   var arr = $.map(
	       $(".assetCls option:selected"), function (n) {
	             return n.value;
	   });
	  
	   $(".assetCls option").filter(function () {
	        return $.inArray($(this).val(), arr) > -1; //if value is in the array of selected values
	   }).hide();
	   
	   $(".assetCls option").filter(function () {
	        return $.inArray($(this).val(), arr) == -1; //if value is not in the array of selected values
	   }).show();
	 })
}	
function displayAsset(){
	 $("#myTable > tbody > tr").each(function(i){
		 var arr = $.map(
			       $(".assetCls option:selected"), function (n) {
			             return n.value;
			   });
		 $(".assetCls option").filter(function () {
		        return $.inArray($(this).val(), arr) == -1; //if value is not in the array of selected values
		   }).show();
		 })
}


function itemAutoComplete(event) {
	var currentId = event.currentTarget.id;
	var currentValue = event.currentTarget.value;
	var l = currentId.split("_");
	var counter = l[1];
	if(currentValue) {
	
	$.ajax({
		type : "POST",
		url : "add-assign-asset-to-staff-get-item",
		dataType : 'json',
		contentType : 'application/json',
		data : currentValue,
		success : function(response) {
			if (response.message == "success") {
		console.log(response)
			if(response.body.length!=0)	{
				$(currentId).css("background","#FFF");
				var content = '<ul id="autocomplete-list1">';
				for (var i = 0; i < response.body.length; i++) {
					content += '<li onClick="selectAutocompleteValue1(\''+response.body[i].itemId+'\',\''+response.body[i].item+'\',\''+response.body[i].category+'\',\''+response.body[i].subcategory+'\',\''+counter+'\')">'+response.body[i].item+'('+ response.body[i].item+')'+'</li>';
				} 
				content += '</ul>';
				$("#suggesstion-box1_"+counter).show();
				$("#suggesstion-box1_"+counter).html(content);
		
			} else {
			$(currentId).css("background","#FFF");
				var content = '<ul id="autocomplete-list1">';
				content += '<li onClick="selectAutocompleteValue1(\''+''+'\',\''+''+'\',,\''+counter+'\')">'+"No Data Found"+'</li>';
				content += '</ul>';
				$("#suggesstion-box1_"+counter).show();
				$("#suggesstion-box1_"+counter).html(content);
			 }
			}
		},
		error : function(data) {
		console.log(data);
		}
	})
	} else {
		$(currentId).css("background","#FFF");
		var content = '<ul id="autocomplete-list1">';
		content += '<li onClick="selectAutocompleteValue1(\''+''+'\',\''+'\',\''+'\',\''+''+'\',,\''+counter+'\')">'+"No Data Found"+'</li>';
		content += '</ul>';
		$("#suggesstion-box1_"+counter).show();
		$("#suggesstion-box1_"+counter).html(content);
	 }
	}
	
	function selectAutocompleteValue1( key, name, category, subcategory , counter) {
		
		if (key) { 
				$("#selectCategory_"+counter).val(category);
				$("#selectSubCategory_"+counter).val(subcategory);
				$("#selectItem_"+counter).val(key);
				$("#qItemName_"+counter).val(name);
				$("#qItemName_"+counter).attr('data-procat', key);
				$("#suggesstion-box1_"+counter).hide();
				callAsset(counter);
			} else {
				$("#selectCategory_"+counter).val("");
				$("#selectSubCategory_"+counter).val("");
				$("#selectItem_"+counter).val("");
				$("#qItemName_"+counter).val("");
				$("#qItemName_"+counter).attr('data-procat', "");
				$("#suggesstion-box1_"+counter).hide();
		}
	}
	
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="">Home</a></li>
					<li class="active"><span>Assign Asset To Staff</span></li>
				</ol>
			</div>
			<div class="col-md-12"></div>
			<div class="card-title">
				<h4>Assign Asset To Staff</h4>
			</div>
			<div class="container-fluid">

				<div class="card">
					<div class="card-body">
						<div class="basic-elements">

							<div class="row">
								<span style="color: red;" id="errorMsg"></span>
								<div th:if="${message != null}">
									<span th:text="${message}" style="color: red;"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group" id="propertyDiv">
										<label>Cost Center/Department</label> <select
											class="form-control costCenter" id="costCenter">
											<option value="">--Select--</option>
											<option th:each="c:${costCenter}" th:value='${c.key}'
												th:text="${c.name}"></option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<!-- id="table-data" -->
									<table class="tbll" id="myTable" width="100%" border="0"
										cellspacing="1" cellpadding="5">
										<thead>
											<tr>
												<th>Staff</th>
												<th>Item</th>
												<th>Asset</th>
												<th>Assigned Date</th>
												<th>Status</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody id="tbodyData">
											<tr class="tr_clone">
												<td><select id="selectStaff_"
													class="form-control staffCls">
														<option value=''>--Select--</option>
														<option th:each="c:${staffList}" th:value='${c.key}'
															th:text="${c.name}"></option>
												</select></td>


												<td><input type="hidden" id="selectCategory_"
													class="form-control  CategoryCls"  > <input
													type="hidden" id="selectSubCategory_"
													class="form-control  SubCategoryCls"  > <input
													type="hidden" id="selectItem_"
													class="form-control  ItemCls" value=''> <input
													type="text" id="qItemName_"
													onkeyup="itemAutoComplete(event);"
													class="form-control  itemName" value=''>
													<div id="suggesstion-box1_"></div></td>
												<td><select id="selectAsset_"
													class="form-control assetCls"
													onchange="disableAssetOption()">
														<option value=''>--Select--</option>
														<option th:each="c:${assetList}" th:value='${c.key}'
															th:text="${c.name}"></option>
												</select></td>
												<td><input class="form-control dateCls" name="date"
													id="date_" readonly></td>
												<td><select id="selectStatus_"
													class="form-control statusCls" name="statusCls">
														<option value="">--Select--</option>
														<option value="true">Active</option>
														<option value="false">Inactive</option>
												</select></td>

												<td><button type="button"
														class="btn btn-primary tr_clone_add" name="add"
														onclick="addMore();">
														<span class="ti-plus"></span>
													</button>&nbsp;</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<button type="button" id="submit" class="btn btn-success">Submit</button>
									<button type="button" class="btn btn-warning"
										onclick="funcLoad();">Cancel</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>

	</div>
</div>
</html>