<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>


<script>
  //for view in modal
	
	function viewInModel(id) {
		$('#table1').empty();
		var data = id.split(",");
		console.log(data[1])
		obj = {};
		obj.propertyType= data[0];
		obj.amenities = data[1];
		obj.item = data[2];
        console.log(obj);
		$.ajax({
					type : "POST",
					url : "view-amenity-item-modal",
					dataType : 'json',
					contentType : 'application/json',
					data : JSON.stringify(obj),
					success : function(response) {
						if (response.message == "success") {
							console.log(response.body.amntyItemActive);
							var amntyItemActive = "";
							if (response.body.amntyItemActive) {
								amntyItemActive = "Active";
							} else {
								amntyItemActive = "InActive";
							}
							table = '<tr><td>property Category :</td>'
									+ '<td align="left">'
									+ response.body.propertyCategoryName
									+ '</td>'
									+ '</tr><tr><td>property Type :</td><td align="left">'
									+ response.body.propertyName
									+ '</tr><tr><td>Amenity Name:</td><td align="left">'
									+ response.body.amntsName
									+ '</tr><tr><td>item Name Name:</td><td align="left">'
									+ response.body.itemName
									+ '</td></tr><tr><td>Stauts</td><td align="left">'
									+ amntyItemActive + '</td></tr>';
							$('#myModal').modal('show');
							$('#table1').append(table);
						}
					},
					error : function(data) {
						console.log(data);
					}
				})
	}

</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#tblAmenityItem').DataTable({
			'processing' : true,
			'serverSide' : true,
			'searching' : false,
			'ordering' : false,
			"ajax" : {
				'url' : 'view-amenity-item-throughajax',
				'data' : function(d) {
					d.param1 = $('#param1').val();
					d.param2 = $('#param2').val();
				}
			},
			'dataSrc' : "",
			'columns' : [ {
				'data' : 'propertyCategoryName'
			}, {
				'data' : 'propertyName'
			}, {
				'data' : 'amntsName'
			}, {
				'data' : 'itemName'
			}, {
				'data' : 'amenityItemQty'
			}, {
				'data' : 'statusName'
			}, {
				'data' : 'action'
			} ]
		});
	});

	function searchData() {
		$('#tblAmenityItem').DataTable().draw();
	}
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="index.html">Home</a></li>
					<li><a th:href="@{/property/add-amenity-item}">Add Amenity
							Item</a></li>
					<li class="active"><span>View Amenity Item </span></li>
				</ol>
			</div>
			<div class="card-title">
				<h4>List of Amenity Item</h4>
			</div>
			<div class="container-fluid">

				<div class="card">
						<div class="search-field">
						<div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<a class="btn btn-secondary"
										href="add-amenity-item">Create</a>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-info">Import</button>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-warning">
										<i class="fa fa-download"> </i>
									</button>
								</div>
							</div>
							<div class="col-md-1"></div>
						</div>
							<div class="row">

								<div class="col-md-2">
									<label>Property Category</label>
								
									<select class="form-control" id="param1">
										<option th:value="NULL">Select</option>
										<option th:each="c:${propertyNameList}" th:value='${c.key}'
											th:text="${c.name}"></option>
									</select>
								</div>

								<div class="col-md-2">
									<label>Amenity Name</label>
									<select class="form-control" id="param2">
										<option th:value="NULL">Select</option>
										<option th:each="c:${amenityList}" th:value='${c.key}'
											th:text="${c.name}" th:selected="${c.key==themeCategory}"></option>
									</select>
								</div>
								<div class="col-md-2 mrt_10">
									<div class="form-group filtersearch">
										<!-- <button type="search" class="btn btn-primary" value="Search" onclick="searchData()" >Search</button> -->
										<input type="button" class="btn btn-info" value="Search"
											onclick="searchData()" />
									</div>
								</div>
							</div>
						</div>
					
						<div class="table-responsive" style="width: 100%;">
							<table id="tblAmenityItem" class="table table-bordered">
								<thead>
									<tr>
										<th>Property Category</th>
										<th>Property Type</th>
										<th>Amenity</th>
										<th>Item Name</th>
										<th>Item Quantity</th>
										<th>Status</th>
										<th align="center">Action</th>
									</tr>
								</thead>
							</table>
						</div>
						<div style="clear: both;"></div>
					
				</div>
			</div>
		</div>
		<!-- Modal Start-->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content" style="width: 750px;">
					<div class="modal-header">
						<h4 class="modal-title">View Details of Amenity Items</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<table style="width: 100%; border: 0;" id="table1">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal End-->
	</div>
</div>
</html>