 <!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/master}">
<head>
<script type="text/javascript">

$( function() {
	$("#param3").datepicker({
		format:'dd-mm-yyyy',
		autoclose:true
	}) ;
	 $("#param4").datepicker({
		 	format:'dd-mm-yyyy',
			autoclose:true
		}) ;
	} );

$(document).ready(function() {
$('#table').DataTable({
'processing' : true,
'serverSide' : true,
'searching' : false,
'ordering' : false,
"ajax" : {
'url' : 'view-assign-consumed-throughAjax',
'data' : function(d) {

d.param1 = $('#param1').val();
d.param2 = $('#param2').val();
d.param3 = $('#param3').val();
d.param4 = $('#param4').val();
}
},
'dataSrc' : "",
'columns' : [
	  {'data' :'propertyName'},
	  {'data' :'itemName'},
	  {'data' :'propertyCategory'},
	  {'data' :'activity'},
	  {'data' :'action'}
]
});
});

function searchData() {
	 $('#listAllItemsConsumed').DataTable().draw();
}
function pdfCreation() 
{
	//alert("In function call");
	
	window.open("/download/view-assign-consumed-download-report?param1="+window.btoa($('#param1').val())+"&param2="+window.btoa($('#param2').val())+"&param3="+window.btoa($('#param3').val())+"&param4="+window.btoa($('#param4').val()),'_blank');
	
	
}
function validate(){
	var param1 = $('#param1').val();
	var param2 = $('#param2').val();
    var param3 = $('#param3').val();
    var param4 =$('#param4').val();
	if( ($('#param1').val()=="")&&($('#param2').val()=="")&&($('#param3').val()=="")&&($('#param4').val()==""))
	{
	swal({
	title : "Select Any One from search Feild.."
	})
	}
	else if(param3>param4){
		swal({
			title : "From Date Must be less Than from Todate.."
			})
	}
	else{
		pdfCreation();
	}

	}

function funcLoad(){
location.reload();
}
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="content-wrap">
			<div class="main mrt_20">

				<div class="card-title">
					<h4>Table Property Item Assign</h4>
				</div>
				<div class="container-fluid">


					<div class="card">

						<div class="card-body">
							<div class="basic-elements">

								<div class="row">
									<div th:if="${message != null}">
										<span th:text="${message}" style="color: red;"></span>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">

										<div class="form-group">
											<label>Property Name</label> <select class="form-control"
												id="param1">
												<option value=>Select</option>
												<option th:each="c:${propertyName}" th:value='${c.key}'
													th:text="${c.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<label>Item Name</label> <select class="form-control"
												id="param2">
												<option value=>Select</option>
												<option th:each="c:${itemName}" th:value='${c.key}'
													th:text="${c.name}"></option>
											</select>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Booking FromDate</label> <input type="text"
												class="form-control" id="param3">
										</div>
										<div class="form-group">
											<label>Booking ToDate</label> <input type="text"
												class="form-control" id="param4">
										</div>
										
									</div>

								</div>
								<div class="form-group">
									<button class="btn btn-primary" onclick="funcLoad();">
										Reset</button>
									<button type="button" class="btn btn-primary"
										onclick="validate();">Print Preview</button>
									<button type="button" class="btn btn-primary"
										onclick="validate();">Print</button>
								</div>
							</div>

						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- /# row -->

</div>
</div>
</html>