<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Extend</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../assets/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="../assets/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="../assets/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="../assets/css/extend/themify-icons.css" rel="stylesheet">
<script src="../assets/js/lib/jquery-3.4.1.min.js"></script>
<script src="../assets/js/lib/bootstrap.min.js"></script>

<link rel="stylesheet" href="../assets/css/extend/style-extend.css">
<link href="../assets/css/lib/bootstrap.min.css" rel="stylesheet">

<script src="../assets/highchart/highcharts.js"></script>
<script src="../assets/highchart/series-label.js"></script>
<script src="../assets/highchart/exporting.js"></script>
<script src="../assets/highchart/export-data.js"></script>

 <script src="../assets/highchart/high.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
	//column3('', [], '');
	column2('', [], '');

})
</script>
</head>
<body>
	<div th:replace="layout/app-header :: header"></div>

	<div th:replace="layout/app-sidebar :: sidebar"></div>

	<div class="maincontent">
		<div class="container-fluid">
			<div class="row">



				<div class="maincontentsec_inner">
					<div class="content_padding">
						<div class="row">
							<div class="newgrid">
								<div class="box" align="center">
									<a href="#" data-toggle="collapse" data-target="#demo">
										<div class="number">14</div>
										<div class="text">AVE REQUISITIONS</div>
									</a>
								</div>
							</div>
							<div class="newgrid">
								<div class="box" align="center">
									<a href="hrms_hire.html">
										<div class="number">25</div>
										<div class="text">AVE APPLICATIONS</div>
									</a>
								</div>
							</div>
							<div class="newgrid">
								<div class="box" align="center">
									<a href="hrms_hire.html">
										<div class="number">15</div>
										<div class="text">AVE SHORTLISTED</div>
									</a>
								</div>
							</div>
							<div class="newgrid">
								<div class="box" align="center">
									<a href="hrms_hire.html">
										<div class="number">24</div>
										<div class="text">AVE INTERVIEWS</div>
									</a>
								</div>
							</div>
							<div class="newgrid">
								<div class="box" align="center">
									<a href="hrms_hire.html">
										<div class="number">4</div>
										<div class="text">AVE OFFERS</div>
									</a>
								</div>
							</div>

						</div>
					</div>

					<div class="showhidebox">
						<div class="col-md-12">
							<div id="demo" class="collapse">
								<div class="row">
									<div class="col-md-2">
										<div class="reuisitiontext">
											<strong>REQUISITIONS</strong><br> (Last 12 months)
										</div>
									</div>
									<div class="col-md-10">
										<div id="container"
											style="width: 720px; min-width: 300px; height: 300px;">

										</div>

										<div class="charttablesec">
											<div align="right" class="pdficonsec">
												<i class="fa fa-file-pdf-o fa-2x pdf"></i> <i
													class="fa fa-file-excel-o fa-2x excel"></i>
											</div>
											<table class="table table-bordered charttbl">
												<tr>
													<td>Jan-20</td>
													<td>Feb-20</td>
													<td>Mar-20</td>
													<td>Apr-20</td>
													<td>May-20</td>
													<td>Jun-20</td>
													<td>Jul-20</td>
													<td>Aug-20</td>
													<td>Sep-20</td>
													<td>Oct-20</td>
													<td>Nov-20</td>
													<td>Dec-20</td>
												</tr>
												<tr>
													<td>12</td>
													<td>2</td>
													<td>12</td>
													<td>2</td>
													<td>12</td>
													<td>2</td>
													<td>12</td>
													<td>2</td>
													<td>12</td>
													<td>2</td>
													<td>12</td>
													<td>2</td>
												</tr>
											</table>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="content_padding">
						<div class="row">
							<div class="newgrid">
								<div class="box" align="center">
									<a href="hrms_hire.html">
										<div class="number">4.3</div>
										<div class="text">APPLICATION /REQ</div>
									</a>
								</div>
							</div>
							<div class="newgrid">
								<div class="box" align="center">
									<a href="hrms_hire.html">
										<div class="number">43%</div>
										<div class="text">SHORTLIST : APPLICATION</div>
									</a>
								</div>
							</div>
							<div class="newgrid">
								<div class="box" align="center">
									<a href="hrms_hire.html">
										<div class="number">78%</div>
										<div class="text">INTERVIEW : SHORTLIST</div>
									</a>
								</div>
							</div>
							<div class="newgrid">
								<div class="box" align="center">
									<a href="hrms_hire.html">
										<div class="number">2.6</div>
										<div class="text">INTERVIEWS /REQ</div>
									</a>
								</div>
							</div>
							<div class="newgrid">
								<div class="box" align="center">
									<a href="hrms_hire.html">
										<div class="number">72%</div>
										<div class="text">OFFER : INTERVIEW</div>
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>




</body>
</html>