<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>
/* .ag-theme-alpine {
	text-indent: 10px !important;
	background: #fff !important;
} */

#myRoleGrid .ag-root-wrapper {
	border: solid 1px #f6f8f8 !important;
}

#myEmpGrid .ag-root-wrapper {
	border: solid 1px #f6f8f8 !important;
}

#myRoleGrid .ag-row-selected {
	background: #0076ba !important;
	color: #fff;
	text-indent: 10px !important;
}

#myRoleGrid .ag-row-selected::before {
	font-size: 8px;
	color: #FFF;
	content: '\e64c';
	font-family: 'themify';
	margin-right: 7px;
	position: relative;
	top: 3px;
	right: 4px;
}
/* .ag-theme-alpine */
#myEmpGrid .ag-row-selected {
	background: #0076ba !important;
	color: #fff;
	text-indent: 10px !important;
}

#myEmpGrid .ag-row-selected::before {
	font-size: 8px;
	color: #FFF;
	content: '\e64c';
	font-family: 'themify';
	margin-right: 7px;
	position: relative;
	top: 3px;
	right: 4px;
}

#myEmpGrid .ag-header {
	display: none;
}

#myRoleGrid .ag-header {
	display: none;
}

#myEmpGrid .ag-center-cols-viewport {
	background: #ffff !important;
}

#myRoleGrid .ag-center-cols-viewport {
	background: #ffff !important;
}
/* #myEmpGrid .ag-row {
	background: #ffff !important;
}

#myRoleGrid .ag-row {
	background: #ffff !important;
} */
</style>
<script>
$(document).ready(function() {

	$('.collapse').on('show.bs.collapse', function() {
		$(this).siblings('.panel-heading').addClass('active');
	});

	$('.collapse').on('hide.bs.collapse', function() {
		$(this).siblings('.panel-heading').removeClass('active');
	});
	
	$("#browseBtn").click(function() {
        $("#browseModal").modal("show");
    })
	
	$("#setAuthority").click(function(){
		$("#demo").show();
		$("#mySidenav").hide();
		$("#myGrid").hide();
		$("#processButtonList").hide();
		$("#processSearchDiv").hide();
		
		$("#processSpanID").text("");
		$("#processSpanName").val("");
		
		var processId = "";
		var processName = "";
		
		var selectedRows = gridOptions.api.getSelectedRows();
		console.log(selectedRows)
		selectedRows.forEach(function(selectedRow, index) {
			processId = selectedRow.tProcess;
			processName = selectedRow.tProcessName;
		});
		
		$("#processSpanID").text(processId);
		$("#processSpanName").val(processName);
		
		agGrid.simpleHttpRequest({
		    url: 'manage-authority-get-authority-list?id='+processId
		}).then(function(data) {
			
			/* var dataset = [{
				"processId": "UM0001",
			    "orderId": "1",
			    "role": "Super Admin",
			    "empList": "Pinaki Datta",
			    "authStatus": "Active",
			    "createdBy": "Jinesh Behera",
			    "createdDate": "17-02-21",
			},{
				"processId": "UM0001",
				"orderId": "2",
			    "role": "HR Manager",
			    "empList": "Hara Mishra, Ashish Mishra",
			    "authStatus": "Active",
			    "createdBy": "Jinesh Behera",
			    "createdDate": "17-02-21",
			}
			]; */
			
		    authOptions.api.setRowData(data);
		});
	})
	
	$("#cancelAuthority").click(function(){
		$("#demo").hide();
		$("#mySidenav").show();
		$("#myGrid").show();
		$("#processButtonList").show();
		$("#processSearchDiv").show();
		
	})
    
    $("#saveProcessData").click(function(){
    	
		data = {};
		
		data.tProcess = $("#processId").val();
		data.tProcessName = $("#processName").val();
		data.tProcessDescription = $("#processDesc").val();
		var status = $('#processStatus:checkbox:checked').val();
		
		if(status != null && status != "") {
			data.tProcessStatus = true;
		} else {
			data.tProcessStatus = false;
		}
		
        $(".formValidation").remove();
		allPValid = true;
		if( data.tProcessName == null || data.tProcessName == ""){
			allPValid = false;
			validationAll("Process Name Required","processName");
		} 
		if( data.tProcessDescription == null || data.tProcessDescription == ""){
			allPValid = false;
			validationAll("Description Required","processDesc");
		} 
		
		if(allPValid) {
			$('.loader').show();
	    	$("body").addClass("overlay");
			submitProcessData(data);
		}
    })
    
    $("#deleteModalBtn").click(function(){
		$("#deleteModalBtn").attr("disabled","disabled");
		var dataset = [];
		
		var selectedRows = gridOptions.api.getSelectedRows();
		selectedRows.forEach(function(selectedRow, index) {
			
			data = {};
			
			data.key = selectedRow.userId;
			
			dataset.push(data);
		});
		console.log(dataset)
		
		if(dataset.length > 0) {
			$.ajax({
				type : "POST",
				url : "manage-users-delete",
				dataType : 'json',
				contentType : 'application/json',
				data : JSON.stringify(dataset),
				success : function(response) {
					if (response.message == "success") {
						$("#deleteModalBtn").removeAttr("disabled");
						cancelModalBtn();
						
						agGrid.simpleHttpRequest({
							url : 'manage-users-get-listing'
						}).then(function(data) {
							var len = data.length;
							$('#totalReq').find('span').html(len);
							gridOptions.api.setRowData(data);
						});
					}
				}, error : function(data) {
					console.log(data)
					$("#deleteModalBtn").removeAttr("disabled");
				}
			});
		}
	})

})

function closeModal() {
    $("#browseModal").modal("hide");
}

function submitProcessData(dataset) {
	console.log(dataset)
	$.ajax({
        type: "POST",
        url: "manage-authority-save-data",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(dataset),
        success: function(response) {
            if (response.message == "Success") {
            	closeNav();
            	$('.loader').hide();
            	$("body").removeClass("overlay");
            	
            	var id = dataset.tProcess;
            	
            	if(id) {
            		$("#messageParagraph").text("Data Updated Successfully");
            	} else {
            		$("#messageParagraph").text("Data Saved Successfully");
            	}
            	
            	$("#msgOkModal").removeClass("btn3");
            	$("#msgOkModal").addClass("btn1");
            	$("#msgModal").modal('show');
            	agGrid.simpleHttpRequest({
            	    url: 'manage-authority-get-process-listing'
            	}).then(function(data) {
            	    var len = data.length;
            	    $('#totalReq').find('span').html(len);
            	    gridOptions.api.setRowData(data);
            	});
            }
        }, error: function(data) {
        	console.log(data)
        	$('.loader').hide();
        	$("body").removeClass("overlay");
        }
	});
}

function cancelModalBtn() {
    $("#delete").modal("hide");
    $("#deleteModalBtn").removeAttr("disabled");
}

var columnDefs = [{
        headerCheckboxSelection: true,
        headerCheckboxSelectionFilteredOnly: true,
        checkboxSelection: true,
        width: 10,
        sortable: false,
        filter: false,
        resizable: true
    },
    {
        headerName: "Process ID",
        field: "tProcess",
        cellRenderer: function(params) {
            return '<a onclick=openDetails("' + params.data.tProcess +
                '") href="javascript:void(0)">' +
                params.data.tProcess + '</a>';
        }
    }, {
        headerName: "Process Name",
        field: "tProcessName"
    }, {
        headerName: "Description",
        field: "tProcessDescription"
    }, {
        headerName: "Status",
        field: "status",
        cellStyle: {
            textAlign: 'center'
        }
    }, {
        headerName: "Created By",
        field: "tProcessCreatedBy",
        cellStyle: {
            textAlign: 'center'
        }
    }, {
        headerName: "Created Date",
        field: "createdOn",
        cellStyle: {
            textAlign: 'center'
        }
    }
];
var columnADefs = [{
        headerCheckboxSelection: true,
        headerCheckboxSelectionFilteredOnly: true,
        checkboxSelection: true,
        width: 10,
        sortable: false,
        filter: false,
        resizable: true
    },
    {
        headerName: "Process ID",
        field: "process",
    }, {
        headerName: "Order",
        field: "orderId",
    }, {
        headerName: "Role",
        field: "userRole",
        cellRenderer: function(params) {
            return '<a onclick=openAuthDetails("' + params.data.userRole +
                '") href="javascript:void(0)">' +
                params.data.userRoleName + '</a>';
        }
    }, {
        headerName: "Employee",
        field: "userName"
    }, {
        headerName: "Status",
        field: "authStatus",
        cellStyle: {
            textAlign: 'center'
        }
    }, {
        headerName: "Created By",
        field: "createdBy",
        cellStyle: {
            textAlign: 'center'
        }
    }, {
        headerName: "Created Date",
        field: "createdOn",
        cellStyle: {
            textAlign: 'center'
        }
    }
];

var gridOptions = {
    columnDefs: columnDefs,
    rowSelection: 'single',
    suppressRowClickSelection: true,
    defaultColDef: {
        sortable: true,
        filter: true,
        resizable: true,
        width: 179,
        height: 10
    },
    onSelectionChanged : onSelectionChanged,
    getRowNodeId : function(data) {
		return data.tProcess;
	}
};
var authOptions = {
    columnDefs: columnADefs,
    rowSelection: 'mutiple',
    suppressRowClickSelection: true,
    defaultColDef: {
        sortable: true,
        filter: true,
        resizable: true,
        width: 179,
        height: 10
    },
};
function onSelectionChanged() {
	var selectedRows = gridOptions.api.getSelectedRows();
	var rowCount = 0;
	selectedRows.forEach(function(selectedRow, index) {
		rowCount = rowCount + 1;
	});
	var totalCount = $('#totalReq').find('span').html();
	if (rowCount > 0) {
		if(totalCount == rowCount) {
			$('#setAuthority').attr('disabled', true);
		} else {
			$('#setAuthority').attr('disabled', false);
		}
	} else {
		$('#setAuthority').attr('disabled', true);
	}
}
$(document).ready(function(){
	agGrid.simpleHttpRequest({
	    url: 'manage-authority-get-process-listing'
	}).then(function(data) {
	    var len = data.length;
	    $('#totalReq').find('span').html(len);
	    gridOptions.api.setRowData(data);
	});
})


function onQuickFilterChanged() {
    gridOptions.api
        .setQuickFilter(document.getElementById('quickFilter').value);
}

function totalUserCSV() {
    var dataset = [];
    gridOptions.api.forEachNodeAfterFilterAndSort(function(rowNode, index) {
        dataset.push(rowNode.data);
    });
    gridOptions.api.exportDataAsCsv(dataset);
}

function processSelect() {
    openNav();
}

function openDetails(id) {
    openNav();
    $("#roleNameTxt").empty();
    $("#roleNameTxt").text("Process ID: "+id);
    
    var selectedNodes= gridOptions.api.getRowNode(id);
    
	$("#processId").val(id);
    $("#processName").val(selectedNodes.data.tProcessName);
    $("#processDesc").val(selectedNodes.data.tProcessDescription);
    if(selectedNodes.data.status == "Active"){
    	$("#processStatus").prop("checked",true);
    } else {
    	$("#processStatus").prop("checked",false);
    }
    
}
function openAuthDetails(id) {
    openAuthNav();
}

function submitRole(dataset) {
    console.log(dataset)
    $.ajax({
        type: "POST",
        url: "manage-roles-save-data",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(dataset),
        success: function(response) {
            if (response.message == "Success") {
                closeNav();
                agGrid.simpleHttpRequest({
                    url: 'manage-roles-get-listing'
                }).then(function(data) {
                    var len = data.length;
                    $('#totalReq').find('span').html(len);
                    gridOptions.api.setRowData(data);
                });
            }
        },
        error: function(data) {
            console.log(data)
        }
    });
}

function openNav() {
	$("#roleNameTxt").empty();
    $("#roleNameTxt").text("Process ID: ");
    $("#processId").val("");
    $("#processName").val("");
    $("#processDesc").val("");
    $("#processStatus").prop("checked",true);
    document.getElementById("mySidenav").style.cssText = "width: 350px; position: absolute; right:-35px; overflow: hidden; height:auto; top:115px;";
    document.getElementById("myGrid").style.width = "72%";
}

function closeNav() {
	$("#roleNameTxt").empty();
    $("#roleNameTxt").text("Process ID: ");
    $("#processId").val("");
    $("#processName").val("");
    $("#processDesc").val("");
    $("#processStatus").prop("checked",true);
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("myGrid").style.width = "100%";
}

function openAuthNav() {
    document.getElementById("myAuthSidenav").style.cssText = "width: 350px; position: absolute; right:-35px; overflow: hidden; height:auto; top:215px;";
    document.getElementById("itemList").style.width = "72%";
}

function closeAuthNav() {
    document.getElementById("myAuthSidenav").style.width = "0";
    document.getElementById("itemList").style.width = "100%";
}

function deleteUsers() {

    var selectedRows = gridOptions.api.getSelectedRows();
    var c = 0;
    selectedRows.forEach(function(selectedRow, index) {
        c = c + 1;
    });

    if (c > 0) {
        $("#delete").modal("show");
    }

}

document.addEventListener('DOMContentLoaded', function() {
    var gridDiv = document.querySelector('#myGrid');
    new agGrid.Grid(gridDiv, gridOptions);
});
document.addEventListener('DOMContentLoaded', function() {
    var gridDiv = document.querySelector('#myAuthGrid');
    new agGrid.Grid(gridDiv, authOptions);
});
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="content-wrap">
			<div class="container-fluid">
				<div class="maincontent">
					<div class="row">

						<div class="maincontentsec">
							<div class="content_padding">
								<div id="newId">
									<div class="row margin_topbot btn-hs" id="processSearchDiv">
										<div class="btn-hs">
											<div class="input-style row">
												<input type="text" placeholder="Search.." name="search"
													class="searchboxinput" onkeyup="cancelBar()"
													oninput="onQuickFilterChanged()" id="quickFilter">
												<div class="searchicon">
													<a href="javascript:void(0)"><span
														style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
														id="closeKey"
														onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
														class="close_i"><i class="ti-close srchicon"></i></span></a><a
														href="javascript:void(0)"><i
														class="ti-search srchicon"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="row" id="processButtonList">

										<div class="col-md-6 btn-hs">
											<div class="font-design" id="totalReq">
												Process List (<span></span>)
											</div>
										</div>
										<div class="col-md-6 butttonsec btn-hs">
											<button class="btn4">Upload</button>
											<button class="btn4" onclick="totalProcessCSV();">Download</button>
											<div class="buttongap"></div>
											<button class="btn2" id="setAuthority" disabled="disabled">SET
												AUTHORITY</button>
											<button class="btn3" id="deleteBtn"
												onclick="deleteProcess();">DELETE</button>
											<button class="btn1" id="newBtn" onclick="processSelect()">NEW</button>
										</div>
									</div>
									<div id="myGrid" style="width: 100%; height: 500px;"
										class="ag-theme-alpine"></div>
									<div id="mySidenav" class="sidenav"
										style="top: 138px !important;">
										<div class="slidebox">
											<div class="row">
												<div class="col-md-9">
													<div class="edit" id="roleNameTxt">Process ID:</div>
												</div>
												<div class="col-md-3">
													<div class="arrow">
														<a href="javascript:void(0)" class="closebtn"
															onclick="closeNav()"><i class="ti-arrow-right"></i></a>
													</div>
												</div>
											</div>
											<div class="chartbtnsec">
												<div align="right">
													<button class="btn4" onclick="closeNav()">CANCEL</button>
													<button class="btn1" id="saveProcessData">SAVE</button>
												</div>
											</div>
											<div class="clearfix"></div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<input type="hidden" id="processId"> <label>Name</label>
														<input type="text" value="" placeholder=""
															class="form-control" id="processName"
															onblur="removeValid(event);">
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label>Description</label>
														<textarea placeholder="" class="form-control"
															id="processDesc" onblur="removeValid(event);"></textarea>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<input type="checkbox" name="isActive"
															style="margin-top: 32px;" id="processStatus" value="1"
															checked="checked"> <label
															style="margin-top: 32px;">Active</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="collapse" id="demo">
										<div class="innerstickybg">
											<div class="row">
												<div class="col-md-3">
													Process ID: <span id="processSpanID"></span>
												</div>
												<div class="col-md-6">
													<div id="statusDiv">
														<!-- <div class="hr4"></div> -->
														<div class="main-div">
															<div class="section2">
																<div id="createdDiv" class="green-box">
																	<div class="green-box-heading">CREATED</div>
																	<div class="date" id="createdDate">17-02-21</div>
																</div>
															</div>
															<!-- <div class="section3">
																<div id="activeDiv" class="grey-box">
																	<div class="green-box-heading">SUBMITTED</div>
																	<div class="date" id="submitDate"></div>
																</div>
															</div>
															<div class="section4">
																<div id="completeDiv" class="grey-box">
																	<div class="green-box-heading">COMPLETE</div>
																	<div class="date" id="completeDate"></div>
																</div>
															</div>
															<div class="section5">
																<div id="onHoldDiv" class="grey-box">
																	<div class="green-box-heading">ONHOLD</div>
																	<div class="date" id="onHoldDate"></div>
																</div>
															</div> -->

														</div>
													</div>
												</div>
												<div class="col-md-3" align="right">
													<button class="btn4" id="cancelAuthority">Cancel</button>
													<!-- <button class="btn1" id="saveAuthorityDtls">Save</button> -->
												</div>
											</div>

										</div>
										<div class="row innersticky_contentgap"
											style="margin-top: 70px !important;">
											<div class="col-md-6">
												<div class="form-group">
													<label>Process Name</label> <input type="text"
														id="processSpanName" disabled class="form-control"
														style="border: none !important;"> <input
														type="hidden" id="processId" />
												</div>
											</div>
										</div>
										<div id="main_content">
											<div class="wrapper center-block">
												<div class="panel-group" id="accordion" role="tablist"
													aria-multiselectable="true">
													<div class="panel panel-default">
														<div class="panel-heading active" role="tab" id="tablist">
															<h4 class="panel-title">
																<a role="button" data-toggle="collapse"
																	data-parent="#accordion" href="#itemList"
																	aria-expanded="false" aria-controls="itemList"> Set
																	Authority</a>
															</h4>
														</div>
														<div id="itemList" class="panel-collapse collapse show"
															role="tabpanel" aria-labelledby="itemList">
															<div >
																<div class="col-md-5 btn-hs1">
																	<div class="font-design"></div>
																</div>
																<div class="clearfix"></div>

																<div class="btn-hs1" align="right">
																	<button class="btn3" >Delete</button>
																	<button class="btn1" onclick="openAuthNav();">New</button>
																</div>
																<div class="clearfix"></div>

																<div id="myAuthGrid" style="width: 100%; height: 300px;"
																	class="ag-theme-alpine"></div>
															</div>
														</div>
														<div id="myAuthSidenav" class="sidenav"
															style="top: 138px !important;">
															<div class="slidebox">
																<div class="row">
																	<div class="col-md-9">
																		<div class="edit" id="roleNameTxt">Process ID:</div>
																	</div>
																	<div class="col-md-3">
																		<div class="arrow">
																			<a href="javascript:void(0)" class="closebtn"
																				onclick="closeAuthNav()"><i class="ti-arrow-right"></i></a>
																		</div>
																	</div>
																</div>
																<div class="chartbtnsec">
																	<div align="right">
																		<button class="btn4" onclick="closeAuthNav()">CANCEL</button>
																		<button class="btn1" id="saveProcessData">SAVE</button>
																	</div>
																</div>
																<div class="clearfix"></div>
																<div class="row">
																	<div class="col-md-12">
																		<div class="form-group">
																			<label>Order</label>
																			<input type="text" id="orderId" class="form-control">
																		</div>
																	</div>
																	<div class="col-md-12">
																		<div class="form-group">
																			<input type="hidden" id="processId"> <label>Name</label>
																			<div class="select">
																				<select id="role">
																					<option value="">Select</option>
																					<option value="rol001">Super Admin</option>
																					<option value="rol002">Purchase Manager</option>
																					<option value="rol003">HR Manager</option>
																					<option value="rol004">Employee</option>
																				</select>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-12">
																		<div class="form-group">
																			<input type="checkbox" name="isActive"
																				style="margin-top: 10px;" id="processStatus"
																				value="1" checked="checked"> <label
																				style="margin-top: 10px;">Active</label>
																		</div>
																	</div>
																	<div class="col-lg-9">
																		<div class="form-group">
																			<label>Employees</label>
																			<div class="roletxtsec">
																				<div class="rolestxt">Pinaki Datta</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-3 mrt_24">
																		<div class="form-group">
																			<button id="browseBtn" class="btn2">Select</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="delete" class="modal fade show" aria-modal="true">
				<div class="modal-dialog modal-confirm">
					<div class="modal-content">
						<div class="modal-header flex-column">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" onclick="cancelModalBtn()">
								<i class="ti-close modal-close"></i>
							</button>
						</div>
						<div class="modal-body">
							<p>Do you really want to delete these records? This process
								cannot be undone.</p>
						</div>
						<div class="modal-footer justify-content-center">
							<button class="btn1" data-dismiss="modal"
								onclick="cancelModalBtn();">Cancel</button>
							<button class="btn3" id="deleteModalBtn">Delete</button>
						</div>
					</div>
				</div>
			</div>
			<div id="browseModal" class="modal fade show" aria-modal="true">
				<div class="modal-dialog modal-md" style="margin-top: 130px;">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title md-color">Select Employees</h4>
							<button type="button" class="close cp" onclick="closeModal();"
								data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body" style="height: 300px;">
							<div id="myEmpGrid" class="ag-theme-alpine" style="height: 90%;"></div>
						</div>
						<div class="modal-footer">
							<button class="btn4" data-dismiss="modal"
								onclick="closeModal();">Cancel</button>
							<button class="btn1" id="selectEmployees">Select</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>