<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>
.modalIn {
	border-bottom: 1px solid #e8e4e4;
}
</style>
<script>
	//Deleting the travelingType
	
	const ipAPI = 'https://api.ipify.org?format=json'
	function deletetravelingType(id){
	 //var data = id.split(",");
			swal.fire({
			title	: "Are you sure want to Delete?",
			text	: "Once Deleted,Can't revert back !",
			type : "warning",
	
			showCancelButton	: true,
			confirmButtonColor	: "#DD6BB5",
			confirmButtonText	:"Delete",
			showLoaderOnConfirm	: true,
			reverseButtons : true,
			preConfirm: () => {
				return fetch(ipAPI)
				.then(response => response.json())
				.then(data => Swal.insertQueueStep(data.ip))
				.catch(() => {
				Swal.insertQueueStep({
					type: 'error',
					title: 'Unable to get your public IP'
			, })
			})
		  } 
		}).then((result) => {
		if(result.value){
			$.ajax({
				type	: "GET",
				url : "/reimbursement/view-traveling-requisition-delete?id=" +id,
				dataType	: "json",
				contentType	: "application/json",
				data	: JSON.stringify(id),
				success	: function(response){
					console.log(response);
					if(response.message=="success"){
						
						swal({
							title	: "Data Deleted Successfully.",
							type: "success",
					}).then(function(){
						location.reload(); 
					})
					}else{
						swal({
							title:response.code,
							text: response.message,
							type:"warning"
						})
					}
			},error	: function(data){
				console.log(data);	
			}
		}) //ajax ends
	  }
	 })//swal function block ends
	}
	

	
	function viewInModel(index) {
		$('#table1').empty();
		$.ajax({
					type : "POST",
					url : "view-reimbursement-modalView",
					dataType : 'json',
					contentType : 'application/json',
					data : index,
					success : function(response) {
						if (response.message == "success") {
							table = '<tr><td>Employee Name :</td>'
									+ '<td align="left">'
									+ response.body[0].empName
									+ '</td>'
									+ '</tr><tr><td>Traveling Place :</td><td align="left">'
									+ response.body[0].placeName
									+ '</tr><tr><td>Travelling Requisition Id:</td><td align="left">'
									+ response.body[0].reqId
									+ '</tr><tr><td>Traveling From Date :</td><td align="left">'
									+ response.body[0].fromDate
									+ '</tr><tr><td>Traveling To Date :</td><td align="left">'
									+ response.body[0].toDate
									+ '</tr><tr><td>Travelling Purpose :</td><td align="left">'
									+ response.body[0].purpose
									+ '</td></tr>';
							$('#myModal').modal('show');
							$('#table1').append(table);
                             table = '<tr class="modalIn"><th><b>Reimbursement Type </b></th><th><b>Policy Name </b></th><th><b>Expense Date</b></th><th><b>Expense Desc</b></th><th><b>Expense Amount</b></th><th><b>Reference Number</b></th>' ;
							
							$('#myModal').modal('show');
							$('#table1').append(table);
							
							for (var i=0; i<response.body.length; i++) {
								table =  '<tr><td>'
									+ response.body[i].reimTypeName
									+ '</td><td>'
									+ response.body[i].policyName
									+ '</td><td>'
									+ response.body[i].rembDate
									+ '</td><td>'
									+ response.body[i].rembDesc
									+ '</td><td>'
									+ response.body[i].rembAmount
									+ '</td><td>'
									+ response.body[i].rembRefNo
									+ '</td></tr>';
								$('#myModal').modal('show');
								$('#table1').append(table);
							}
						}
					},
					error : function(data) {
						console.log(data);
					}
				})

	}
	
	function viewHistoryInModel(index) {
		$('#table2').empty();
		$.ajax({
					type : "POST",
					url : "view-reimbursement-history",
					dataType : 'json',
					contentType : 'application/json',
					data : index,
					success : function(response) {
						if (response.message == "success") {
							var travelingTypeStatus = "";
							
							table = '<tr class="modalIn"><th><b>Date </b></th><th><b>Action Taken</b></th><th><b>From</b></th><th><b>To</b></th><th><b>Action Comment</b></th>' ;
							
							$('#myModal1').modal('show');
							$('#table2').append(table);
							if(response.body.length >0){
								for (var i=0; i<response.body.length; i++) {
									table =  '<tr><td>'
										+ response.body[i].date
										+ '</td><td>'
										+ response.body[i].action
										+ '</td><td>'
										+ response.body[i].actionTakenFrom
										+ '</td><td>'
										+ response.body[i].actionTakenTo
										+ '</td><td>'
										+ response.body[i].comment
										+ '</td></tr>';
									$('#myModal1').modal('show');
									$('#table2').append(table);
								}
							}else{
								table = '<tr><td colspan= "5" style="font-size:20px; color:#1379de; text-align:center;">Not Processed Yet...!</td></tr>';
								$('#myModal1').modal('show');
								$('#table2').append(table);
							}
							
						}
					},
					error : function(data) {
						console.log(data);
					}
				})

	}
</script>
<script type="text/javascript">
	$(document).ready(function() {
/* 		$('#tblTheme').DataTable({
			'processing' : true,
			'serverSide' : true,
			'searching' : false,
			'ordering' : false,
			"ajax" : {
				'url' : 'view-reimbursement-ThroughAjax',
				'data' : function(d) {
					d.param1 = $('#param1').val();
				}
			},
			'dataSrc' : "",
			'columns' : [ {
				'data' : 'empName'
			}, {
				'data' : 'reqId'
			},{
				'data' : 'placeName'
			},{
				'data' : 'purpose'
			},{
				'data' : 'fromDate'
			}, {
				'data' : 'toDate'
			}, {
				'data' : 'statusName'
			}, {
				'data' : 'action'
			} ]
		}); */
	});

	/* function searchData() {
		$('#tblTheme').DataTable().draw();
	} */
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="index.html">Home</a></li>
					<li><a th:href="@{/recruitment/add-approval}">Add
							Training Approval</a></li>
					<li class="active"><span>View Training Approval </span></li>
				</ol>
			</div>
			<div class="card-title">
				<h4>View Training Approval </h4>
			</div>
			<div class="container-fluid">
				<div class="card">
						<div class="search-field">
						<div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<a class="btn btn-secondary"
										href="add-approval">Create</a>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-info">Import</button>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-warning">
										<i class="fa fa-download"> </i>
									</button>
								</div>
							</div>
							<div class="col-md-1"></div>
						</div>
							<div class="row">
								<div class="col-md-2">
									<label>Employee Name</label>
								
									<select  class="form-control"
														id="param1" 
														 ><option th:value="null">--select--</option>
															<option th:value="EMP001">Ramesh</option>
															<option th:value="EMP002">Suresh</option>
															<option th:value="EMP003">Dinesh</option>
															</select>

								</div>
						
								<div class="col-md-2 mrt_10">
                              <div class="form-group">
                                <input type="button"  class="btn btn-info" value="Search" onclick="searchData()" />
                              </div>
                           </div>
							</div>
						</div>
						<div class="table-responsive" style="width: 100%;">
							<table id="tblTheme" class="table table-bordered">
								<thead>
									<tr>
										<th>Employee Name</th>
										<th>Designation</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Status</th>
										<th align="center">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>Ramesh</th>
										<th>SDE-I</th>
										<th>10-08-2020</th>
										<th>12-09-2020</th>
										<th>Approved</th>
										<th align="center"><a title='Edit' href="add-approval"><i class='fa fa-edit edit'></i></a></th>
									</tr>
									<tr>
										<th>Suresh</th>
										<th>SDE-II</th>
										<th>10-08-2020</th>
										<th>12-09-2020</th>
										<th>Rejected</th>
										<th align="center"><a title='Edit' href="add-approval"><i class='fa fa-edit edit'></i></a></th>
									</tr>
								</tbody>
							</table>
						</div>
						<div style="clear: both;"></div>
				</div>
			</div>
		</div>
		<!-- Modal Start-->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content" style="width: 750px;">
					<div class="modal-header">
						<h4 class="modal-title">View Details of Traveling Requisition</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<table style="width: 100%; border: 0;" id="table1">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal End-->

		<!-- Modal Start-->
		<div id="myModal1" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" style="color: #007bff;">View
							Requisition Approve Details</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<table style="width: 100%; border: 0;" id="table2">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal End-->

	</div>
</div>
</html>