<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>
.modalIn {
	border-bottom: 1px solid #e8e4e4;
}
</style>
<script>
//$(document).ready() Starts
$(document).ready(function() {
	$('#tblTheme').DataTable({
		'processing' : false,
		'serverSide' : true,
		'searching' : false,   
		'ordering' : false,
		"ajax" : {
			'url' : 'view-training-creation-through-ajax',
			'data' : function(d) {
				d.param1 = $('#param1').val(); 
				d.param2 = $('#param2').val();
			}
		},
		'dataSrc' : "",
		'columns' : [ {

			'data' : 'trainingName'
		}, {
			'data' : 'trainingType'
		}, {
			'data' : 'trainingCriteria'
		},{
			'data' : 'trainingDesc'
		}, {
			'data' : 'activeStatus'
		} ,
		{
			'data' : 'action'
		}]
	});
});





//Search Function
function searchData() {
	$('#tblTheme').DataTable().draw();
}
function viewInModal(index){
	
	$('#table1').empty();
		$.ajax({
			type 		:	"POST",
			url 		:	"view-training-modal",
			dataType 	:	'json',
			contentType :	'application/json',
			data 		:	index,
			success 	: 	function(response) {
				if(response.message=="success"){
					console.log(response.body.userRoleStatus);
					var userRoleStatus = "";
					if(response.body.userRoleStatus){
						userRoleStatus = "Active";	
					}else{
						userRoleStatus = "Inactive";	
					}
				 
					 table = '</tr><tr><td>TRAINING NAME:</td><td align="left">'
						+response.body.trainingName+'</td>'+'</tr><tr><td>TRAINING TYPE:</td><td align="left">'
						+response.body.trainingType+'</td>'+'</tr><tr><td>TRAINING CRITERIA:</td><td align="left">'
						+response.body.trainingCriteria+'</td>'+'</tr><tr><td>DESCRIPTION:</td><td align="left">'
						+response.body.trainingDesc+'</td></tr>';
					$('#myModal').modal('show');
					$('#table1').append(table);
				}				
			},
			error : function(data) {
				console.log(data);
			}
		})
	}  

	
function deleteTraining(id){
	swal.fire({
		title	: "Are you sure want to Delete?",
		text	: "Once Deleted,Can't revert back !",
		type : "warning",
	
		showCancelButton	: true,
		confirmButtonColor	: "#DD6BB5",
		confirmButtonText	:"Delete",
		showLoaderOnConfirm	: true,
		reverseButtons : true,
		preConfirm: () => {
			return new Promise((resolve) => {
				setTimeout(() => {
					console.log("Doing async operation");
					resolve()
				}, 3000)
			})
		}
		
	}).then((result) => {
		if(result.value){
			$.ajax({
				type	: "GET",
				url : "view-training-master-delete?id=" + id,
				dataType	: "json",
				contentType	: "application/json",
				
				success	: function(response){
					console.log(response);
					if(response.message=="success"){
							
						swal({
							title	: "Data Deleted Successfully.",
							type: "success",
						}).then(function(){
							location.reload(); 
						})
					}else{
						swal({
							title:response.code,
							text: response.message,
							type:"warning"
						})
					}
				},error	: function(data){
					console.log(data)
					
					
					alert("ssssssssss")
				}
			}) //ajax ends
		 }
	 })//swal function block ends
}

	

</script>
<script type="text/javascript">

</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="index.html">Home</a></li>
					 <li class="active"><a th:href="@{/recruitment/add-training-creation}">Add
							Training Creation</a></li>
					<li class="active"><span>View Training Creation </span></li>
				</ol>
			</div>
			<div class="card-title">
				<h4>View Training Creation</h4>
			</div>
			<div class="container-fluid">
				<div class="card">
						<div class="search-field">
						<div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<a class="btn btn-secondary"
										href="add-training-creation">Create</a>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-info">Import</button>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-warning">
										<i class="fa fa-download"> </i>
									</button>
								</div>
							</div>
							<div class="col-md-1"></div>
						</div>
							<div class="row">
								<div class="col-md-2">
									<label>Training Name </label>
								
								<input type="text"
											class="form-control" id="param1" >

								</div>
								<div class="col-md-2">
									<label>Training Type </label>
								
								<input type="text"
											class="form-control" id="param2" >

								</div>
								<div class="col-md-2 mrt_10">
                              <div class="form-group">
                                <input type="button"  class="btn btn-info" value="Search" onclick="searchData()" />
                              </div>
                           </div>
							</div>
						</div>

					<div class="row">
						<div class="table-responsive" style="width: 100%;">
							<table id="tblTheme" class="table table-bordered">
								<thead>
									<tr>
										<th>Training Name</th>
										<th>Training Type</th>
										<th>Criteria</th>
										<th>Description</th>
										<th>Status</th>
										<th align="center">Action</th>
									</tr>
								</thead>
							</table>
						</div>
						<div style="clear: both;"></div>
					</div>

					<!-- <div class="table-responsive" style="width: 100%;">
							<table id="tblTheme" class="table table-bordered">
								<thead>
									<tr>
										<th>Training Name</th>
										<th>Training Type</th>
										<th>Criteria</th>
										<th>Description</th>
										<th align="center">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>Training 1</th>
										<th>Leadership</th>
										<th>Criteria details</th>
										<th>Desc</th>
										<th align="center"><a title='Edit' href="add-training-creation"><i class='fa fa-edit edit'></i></a></th>
									</tr>
									<tr>
										<th>Training 2</th>
										<th>Tech</th>
										<th>Criteria details</th>
										<th>Desc</th>
										<th align="center"><a title='Edit' href="add-training-creation"><i class='fa fa-edit edit'></i></a></th>
									</tr>
								</tbody>
							</table>
						</div> -->
						<div style="clear: both;"></div>
				</div>
			</div>
		</div>
		<!-- Modal Start-->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content" style="width: 750px;">
					<div class="modal-header">
						<h4 class="modal-title">View Details of Training Creation</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<table style="width: 100%; border: 0;" id="table1">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal End-->

		<!-- Modal Start-->
		<div id="myModal1" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" style="color: #007bff;">View
							Requisition Approve Details</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<table style="width: 100%; border: 0;" id="table2">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal End-->

	</div>
</div>
</html>