<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script type="text/javascript">
	function stateChange() {

		if ($("#state").val() != '') {

			$.ajax({
				type : "POST",
				url : "add-bank-branch-state-onchange-district-list",
				dataType : 'json',
				contentType : 'application/json',
				data : $("#state").val(),
				success : function(response) {
					if (response.message == "success") {

						console.log(response);

						$("#district").empty();
						var option = $("<option></option>");
						$(option).val(null);
						$(option).html("Select");
						$("#district").append(option);
						for (var i = 0; i < response.body.length; i++) {
							var option = $("<option></option>");
							$(option).val(response.body[i].key);
							$(option).html(response.body[i].name);
							$("#district").append(option);
						}

					}
				},
				error : function(data) {
					console.log(data);
				}
			})
		 } else {
			$("#district").empty();
			var option = $("<option></option>");
			$(option).val(null);
			$(option).html("Select");
			$("#district").append(option);
		} 
	}
</script>
<script type="text/javascript">
	/* FORM VALIDATION */

	function validateFormBankBranch() {
		if (!blankValidation("bank", "SelectBox", "Bank Name Required"))
			return false;
		if (!blankValidation("branchName", "TextField", "Branch Name Required"))
			return false;
		if (!blankValidation("ifscCode", "TextField", "IFSC Code Required"))
			return false;
		if (!blankValidation("contactNumber", "TextField",
				"Contact Number Required"))
			return false;
		if (!blankValidation("email", "TextField", "Email Required"))
			return false;
		if (!blankValidation("address", "TextArea", "Address Required"))
			return false;
		if (!blankValidation("city", "TextField", "City Required"))
			return false;
		if (!blankValidation("state", "SelectBox", "State Required"))
			return false;
		if (!blankValidation("district", "SelectBox", "District Required"))
			return false;

		if (!blankValidation("branchCountry", "TextField", "Country Required"))
			return false;
		if (!blankValidation("branchActive", "SelectBox", "Status Required"))
			return false;

	}
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<div class="alert alert-danger alert-dismissible"
					th:if="${message != null}">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<span th:text="${message}"></span>
				</div>
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="">Home</a></li>

					<li class="active"><span>Add Bank Branch</span></li>
				</ol>
			</div>
			<div class="card-title">
				<h4>Add Bank Branch</h4>
			</div>
			<div class="container-fluid">
				<div class="card">
					<div class="card-body">
						<div class="basic-elements">
							<form action="#" th:action="@{/account/add-bank-branch}"
								th:object="${addbankbranch}" method="POST"
								onsubmit="return validateFormBankBranch();">
								<input type="hidden" th:field="*{branch}" />
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>Bank Name</label> <select class="form-control"
												th:field="*{bank}">
												<option th:value="NULL">Select</option>
												<option th:each="c:${bankList}" th:value='${c.key}'
													th:text="${c.name}"></option>
											</select>
										</div>

										<div class="form-group">
											<label>Branch Name</label> <input type="text"
												class="form-control" th:field="*{branchName}" />
										</div>


										<div class="form-group">
											<label>IFSC Code</label> <input type="text"
												class="form-control" th:field="*{ifscCode}" />
										</div>

										<div class="form-group">
											<label>Contact Number</label> <input type="text"
												class="form-control" th:field="*{contactNumber}" />
										</div>

										<div class="form-group">
											<label>Email</label> <input type="text" class="form-control"
												th:field="*{email}" />
										</div>

										<div class="form-group">
											<label>Address</label>
											<textarea class="form-control textarea" th:field="*{address}"></textarea>
										</div>


									</div>
									<div class="col-lg-6">

										<div class="form-group">
											<label>City</label> <input type="text" class="form-control"
												th:field="*{city}" />
										</div>

										<div class="form-group">
											<label>State</label> <select class="form-control"
												th:field="*{state}" onchange="stateChange()">
												<option th:value="NULL">Select</option>
												<option th:each="c:${stateList}" th:value='${c.key}'
													th:text="${c.name}" th:selected="${c.key==state}"></option>
											</select>
										</div>

										<div class="form-group">
											<label>District</label> <select class="form-control"
												th:field="*{district}">
												<option th:value="NULL">Select</option>
												<option th:each="c:${distList}" th:value='${c.key}'
													th:text="${c.name}" th:selected="${c.key==district}"></option>
											</select>
										</div>



										<div class="form-group">
											<label>Branch Country</label> <input type="text"
												class="form-control" th:field="*{branchCountry}" />
										</div>



										<div class="form-group">
											<label>Status</label> <select class="form-control"
												th:field="*{branchActive}">
												<option th:value="NULL">Select</option>
												<option th:value="true">Active</option>
												<option th:value="false">Inactive</option>
											</select>
										</div>

									</div>



								</div>

								<div class="form-group col-md-12 row">
									<button class="btn btn-success">Submit</button>&nbsp;
									<input type="button" class="btn btn-warning"
										onclick="window.location.href='view-bank-branch'" value="Cancel">
								</div>
							</form>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>