<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<title>Receipt Voucher</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet" />
<style type="text/css">
.tblgap {
	margin: 20px 0px;
}

.maintbl tr td {
	/*border: 1px solid black;*/
	border-collapse: collapse;
	padding: 12px 5px;
}

.theader-padding {
	padding: 10px;
}

/* .wrapper {
	margin: 0 auto;
	width: 900px;
	padding: 20px 40px;
	position: relative;
} */
.wrapper {
	margin: 0 auto;
	width: 100%;
	position: relative;
}

.paid-red {
	position: absolute;
	right: 0px;
	top: 0;
	z-index: 9999;
}
/* .header{
height: 130px;
} */
/* .logo{
float: left;
} */
.hrline {
	border: 2px solid #cccccc;
}

.clearfix {
	clear: both;
}

/* .tableheader {
	padding: 5px;
	color: #418AB3;
	font-weight: 600;
} */
.tableheader {
	padding: 10px 5px;
	color: #418AB3;
	font-weight: 600;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	border-top: 10px solid #FFF;
	text-align: center;
}

.bill {
	text-align: center;
	color: #fff !important;
}

.invoicedate {
	color: #fff;
	text-align: left;
	padding: 5px;
}

.mailing {
	height: 100px;
	padding: 10px;
	color: #fff;
	text-align: right;
}

.strip2 {
	width: 800px;
	padding-left: 17px;
	font-size: 14px;
	color: #418ab3;
	text-align: center;
	margin: 19px;
}

.td-border {
	border-bottom: 1px solid #BABABA;
}

.td-border-right {
	height: 1px;
	border-left: 1px solid #BABABA;
	text-align: center;
	width: 126px;
	font-size: 12px;
}

.tStyle {
	color: #5c2e14;
	font-size: 15px;
	padding: 15px 10px;
}

.text-style {
	color: #3B494A;
	font-size: 12px;
	padding: 10px;
}

.pdt {
	padding: 4px;
}

.transcation-text {
	color: #5c2e14;
	font-size: 17px;
	font-weight: 600;
	padding: 13px;
	text-align: center
}

.text-style2 {
	background-color: #f2f2f2;
	padding: 10px;
	color: #373757;
}

.btn-danger {
	color: #fff !important;
	background: #d9534f !important;
	box-shadow: none !important;
}
.tableheader-color {
	font-size: 12px;
	color: #fff;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
}
</style>
<script>
	//"View Sale Invoice" Default Page Open On Click 'Close' Button
	function cancel() {
		window.location.href = "/account/send-receipt-voucher-digitally";
	}
	
	$(document).ready(function(){
		$("#mailSend").click(function(){
			swal({
				title: "Mail Sent Successfully",
				type: "success",
			})
		})
	})

	//Sales Invoice Payment PDF Print On Click 'Print' Button
	function confirmPrint() {
		var salesInvoice = $("#salesInvoice").val();
		var quatation = $("#quotationId").val();
		var voucherId = $("#voucherId").val();
		window.open("/download/view-sale-invoice-download-pdf?id="
				+ window.btoa(salesInvoice) + "&id2=" + window.btoa(quatation),
				'_blank');
	}
</script>


</head>
<body>
	<div layout:fragment="content">
		<div class="content-wrap ">
			<div class="content-wrap">
				<div class="main mrt_20">
					<div class="col-md-12">
						<ol class="breadcrumb breadcrumb-arrow">
							<li><a href="index.html">Home</a></li>

						</ol>
					</div>
					<div class="card-title">
						<h4>Receipt Voucher</h4>
					</div>
					<div class="container-fluid">
						<div class="card">
							<div class="card-body">
								<input type="hidden" id="salesInvoice"
									th:value="${salesInvoice[0].salesInvoice}"> <input
									type="hidden" id="voucherId"
									th:value="${salesInvoice[0].voucherId}"> <input
									type="hidden" id="quotationId"
									th:value="${salesInvoice[0].quotationId}">
								<!-- <form th:object="${salesInvoice}"> -->
								<div class="containersec">
									<div class="wrapper">

										<table cellpadding="0" cellspacing="0">
											<tr>
												<td colspan="3">
													<div class="paid-red">
														<img src="../assets/images/paid-red.png" />
													</div>
												</td>
											</tr>
											<tr bgcolor="">
												<td width="150"><img src="../assets/images/login_img/extend.png" height="50" width="150" /></td>
												<td th:if="${salesInvoice[0].voucherId!=null}" class="bill"><b>Receipt
														Voucher</b></td>
												<td th:unless="${salesInvoice[0].voucherId!=null}"
													class="bill"><b>Contra Voucher</b></td>
												<td></td>
											</tr>

											<tr bgcolor="#5c2e14">
												<td width="40%" th:if="${salesInvoice[0].voucherId!=null}"
													class="invoicedate">VOUCHER : #<span
													th:text="${salesInvoice[0].voucherId}"></span></td>
												<td width="40%" th:unless="${salesInvoice[0].voucherId!=null}"
													class="invoicedate">VOUCHER : #<span
													th:text="${salesInvoice[0].contraReceipt}"></span></td>
												<td width="40%" class="invoicedate">DATE : <span
													th:text="${salesInvoice[0].curDate}"></span></td>
												<td class="invoicedate">INVOICE : #<span
													th:text="${salesInvoice[0].salesInvoice}"></span></td>
											</tr>

											<tr>
												<td colspan="3">
													<table width="100%" bgcolor="#F2F2F2"
														style="padding-bottom: 30px; padding-top: 10px;">

														<tr>
															<td width="50%">
																<div class="pdt">
																	<b class="tStyle">TO</b><span></span>
																</div>
															</td>
															<td width="50%">
																<div class="pdt">
																	<b class="tStyle">FROM</b><span></span>
																</div>
															</td>
														</tr>
														<tr>
															<td width="50%">
																<div class="pdt">
																	<b class="text-style">Name :</b><span
																		th:text="${custList[0].custName}"></span>
																</div>
																<div class="pdt">
																	<b class="text-style">Customer ID :</b><span
																		th:text="${custList[0].custId}"></span>
																</div>
																<div class="pdt">
																	<b class="text-style">State :</b><span
																		th:text="${custList[0].custAddress}"></span>
																</div>
																<div class="pdt">
																	<b class="text-style">Country :</b><span
																		th:text="${custList[0].custCountry}"></span>
																</div>
																<div class="pdt">
																	<b class="text-style">Email :</b><span
																		th:text="${custList[0].custGmail}"></span>
																</div>
																<div class="pdt">
																	<b class="text-style">Phone :</b><span
																		th:text="${custList[0].custPhn}"></span>
																</div>
																<div class="pdt">
																	<b class="text-style">GST No :</b><span
																		th:text="${custList[0].custGSTIn}"></span>
																</div> <!-- <div class="pdt">
																	<b class="text-style">Valid UpTo :</b><span th:text="${quotation[0].quotationVDate}"></span>
																</div> -->
															</td>
															<td width="50%">
																<div class="pdt">
																	<b class="text-style">Name :</b><span
																		th:text="${hotelList[0].hotelName}"></span>
																</div>
																<div class="pdt">
																	 
																		<b class="text-style">Street :</b>
																	  
																		<span th:text="${hotelList[0].hotelAddress}"> </span>
																</div>
																<!-- <div style="clear: both;"></div> -->
																<div class="pdt">
																	<b class="text-style">City :</b><span
																		th:text="${hotelList[0].hotelCity}"></span>
																</div>
																<div class="pdt">
																	<b class="text-style"> Phone No :</b><span
																		th:text="${hotelList[0].hotelPhn}"></span>
																</div>
																<div class="pdt">
																	<b class="text-style">GST No :</b><span
																		th:text="${hotelList[0].hotelGSTIn}"></span>
																</div>
																<div class="pdt">
																	<b>&nbsp;</b>
																</div>
																<div class="pdt">
																	<b>&nbsp;</b>
																</div>
															</td>
														</tr>

													</table>
												</td>
											</tr>
											<tr>
												<td colspan="3"></td>
											</tr>
											<tr>

												<td colspan="3">

													<table id="id_td" class="maintbl" cellpadding="0"
														cellspacing="0" style="width: 100%;">
														<thead style="background-color: #5c2e14;">
															<tr>
																<th class="tableheader-color" width="500" align="left">SL
																	NO.</th>
																<th class="tableheader-color" width="500" align="left">ITEM
																	NAME</th>
																<th class="tableheader-color" width="500" align="left">ITEM
																	CODE</th>
																<th class="tableheader-color" width="500" align="left">PRICE</th>
																<th class="tableheader-color" width="500" align="left">QUANTITY</th>
																<th class="tableheader-color" width="500" align="left" th:if="${count>0}">DISCOUNT</th>
																<th class="tableheader-color" width="500" align="left">GST</th>
																<th class="tableheader-color" width="500" align="left">CESS</th>
																<th class="tableheader-color" width="500" align="left">SERVE
																	TYPE</th>
																<th class="tableheader-color" width="500" align="left">AMOUNT</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="other,iter : ${salesInvoice}">
																<td class="td-border td-border-right"
																	th:text=" ${iter.index+1}"></td>

																<td class="td-border td-border-right"
																	th:text="${other.saleItem}"></td>
																<td class="td-border td-border-right"
																	th:text="${other.saleItemCode}"></td>
																<td class="td-border td-border-right"
																	th:text="${#numbers.formatDecimal(other.salePrice, 0, 'COMMA', 2, 'POINT')} "></td>
																<td class="td-border td-border-right"
																	th:text="${other.saleQuantity}"></td>
																<td th:if="${other.saleDiscount == 0.0 && count > 0}"
																	class="td-border td-border-right">0.00</td>
																<td th:if="${other.saleDiscount != 0.0 && count > 0}"
																	class="td-border td-border-right"
																	th:text="${#numbers.formatDecimal(other.saleDiscount, 0, 'COMMA', 2, 'POINT')} "></td>
																<td class="td-border td-border-right"
																	th:text="${other.gstRate}"></td>
																<td class="td-border td-border-right"
																	th:text="${other.itemCess}"></td>
																<td class="td-border td-border-right"
																	th:text="${other.sServeType}"></td>
																<td class="td-border td-border-right"
																	th:text="${#numbers.formatDecimal(other.saleAmount, 0, 'COMMA', 2, 'POINT')}"></td>
															</tr>
														</tbody>
													</table>
												</td>


											</tr>
											<tr style="border-top: 10px solid #FFF; color: #418AB3;"
												th:if="${not #lists.isEmpty(salesInvoiceReturn)}">
												<td colspan="2"><h3>
														<b>Sale Invoice Return Details</b>
													</h3></td>
											</tr>
											<tr th:if="${not #lists.isEmpty(salesInvoiceReturn)}">

												<td colspan="3">

													<table id="id_td" class="maintbl" cellpadding="0"
														cellspacing="0" style="width: 100%;">
														<thead>
															<tr>
																<th class="tableheader" width="500" align="left">SL
																	NO.</th>
																<th class="tableheader" width="500" align="left">ITEM
																	NAME</th>
																<th class="tableheader" width="500" align="left">ITEM
																	CODE</th>
																<th class="tableheader" width="500" align="left">PRICE</th>
																<th class="tableheader" width="500" align="left">QUANTITY</th>
																<th class="tableheader" width="500" align="left">DISCOUNT</th>
																<!-- <th class="tableheader" width="500" align="left">SERVE TYPE</th> -->
																<th class="tableheader" width="500" align="left">AMOUNT</th>
															</tr>
														</thead>
														<tbody th:if="${not #lists.isEmpty(salesInvoiceReturn)}">
															<tr th:each="other,iter : ${salesInvoiceReturn}">
																<td class="td-border td-border-right"
																	th:text=" ${iter.index+1}"></td>

																<td class="td-border td-border-right"
																	th:text="${other.sRItemName}"></td>
																<td class="td-border td-border-right"
																	th:text="${other.sRItemCode}"></td>
																<td class="td-border td-border-right"
																	th:text="${#numbers.formatDecimal(other.sRItemPrice, 0, 'COMMA', 2, 'POINT')} "></td>
																<td class="td-border td-border-right"
																	th:text="${other.sRItemQty}"></td>
																<td class="td-border td-border-right"
																	th:unless="${other.sRDiscount!=0.0}">0.00</td>
																<td class="td-border td-border-right"
																	th:if="${other.sRDiscount!=0.0}"
																	th:text="${#numbers.formatDecimal(other.sRDiscount, 0, 'COMMA', 2, 'POINT')}"></td>
																<!-- <td class="td-border td-border-right"
																	th:text="${other.sRServeTypeId}"></td> -->
																<td class="td-border td-border-right"
																	th:text="${#numbers.formatDecimal(other.sRAmount, 0, 'COMMA', 2, 'POINT')}"></td>
															</tr>
														</tbody>
														<tbody id="tBodyNoRcd"
															th:unless="${not #lists.isEmpty(salesInvoiceReturn)}">
															<tr>
																<td colspan="7" align="center"><b>No record
																		found</b></td>
															</tr>
														</tbody>
													</table>
												</td>


											</tr>
											<tr bgcolor="#F2F2F2">
												<td colspan="3">

													<table>
														<tr>
															<td width="470px;" style="padding: 10px;"></td>
															<td align="center" width="200"></td>
															<td width="250">
																<table cellpadding="0" cellspacing="0" width="310">
																	<tr th:if="${salesInvoice[0].subTotal!=0.0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>SUB
																				TOTAL</b></td>

																		<td width="130" align="right"><span
																			style="border: none" id="subtotalamount"
																			th:text="${#numbers.formatDecimal(salesInvoice[0].subTotal, 0, 'COMMA', 2, 'POINT')} "></span></td>
																	</tr>
																	<tr th:unless="${salesInvoice[0].subTotal!=0.0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>SUB
																				TOTAL</b></td>

																		<td width="130" align="right"><span
																			style="border: none" id="subtotalamount">0.00</span></td>
																	</tr>
																	<tr th:if="${count > 0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>DISCOUNT</b></td>

																		<td width="130" align="right"><span
																			style="border: none" id="totalDiscount" th:text="${#numbers.formatDecimal(totalDiscount, 0, 'COMMA', 2, 'POINT')}">0.00</span></td>
																	</tr>
																	<tr id="CgstTR"
																		th:if="${!salesInvoice[0].gstType && salesInvoice[0].sCGST!=0.0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>CGST</b></td>

																		<td width="130" align="right"><span
																			style="border: none" id="cgst"
																			th:text="${#numbers.formatDecimal(salesInvoice[0].sCGST, 0, 'COMMA', 2, 'POINT')}"></span></td>
																	</tr>
																	<tr id="CgstTR"
																		th:if="${!salesInvoice[0].gstType && salesInvoice[0].sCGST==0.0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>CGST</b></td>

																		<td width="130" align="right"><span
																			style="border: none" id="cgst">0.00</span></td>
																	</tr>
																	<tr id="SgstTR"
																		th:if="${!salesInvoice[0].gstType  && salesInvoice[0].sSGST!=0.0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>SGST</b></td>

																		<td width="130" align="right"><span
																			style="border: none" id="sgst"
																			th:text="${#numbers.formatDecimal(salesInvoice[0].sSGST, 0, 'COMMA', 2, 'POINT')}"></span></td>
																	</tr>
																	<tr id="SgstTR"
																		th:if="${!salesInvoice[0].gstType && salesInvoice[0].sSGST==0.0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>SGST</b></td>

																		<td width="130" align="right"><span
																			style="border: none" id="sgst">0.00</span></td>
																	</tr>

																	<tr id="IgstTR"
																		th:if="${salesInvoice[0].gstType && salesInvoice[0].sIGST!=0.0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>IGST</b></td>

																		<td width="130" align="right"><span
																			style="border: none" id="igst"
																			th:text="${#numbers.formatDecimal(salesInvoice[0].sIGST, 0, 'COMMA', 2, 'POINT')}"></span></td>
																	</tr>
																	<!-- <tr id="IgstTR" th:if="${!salesInvoice[0].gstType && salesInvoice[0].sIGST!=0.0}">
																		<td width="200" align="right" style="color: #418AB3;"><b
																			th:text="'IGST ('+${#numbers.formatInteger(salesInvoice[0].gstRate,2,'POINT')}+'%)'"></b></td>

																		<td width="130" align="right"><span
																			style="border: none" id="igst">0.00</span></td>
																	</tr> -->
																	<tr id="IgstTR"
																		th:if="${salesInvoice[0].gstType && salesInvoice[0].sIGST==0.0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>IGST</b></td>

																		<td width="130" align="right"><span
																			style="border: none" id="igst">0.00</span></td>
																	</tr>

																	<!-- <tr th:if="${salesInvoice[0].payableAmt!=0.0}">
																		<td width="200" align="right" style="color: #418AB3;"><b>TOTAL
																				PAYABLE AMOUNT</b></td>
																		<td width="130" align="right"><span
																			style="border: none" id="payableamt"
																			th:text="${#numbers.formatDecimal(salesInvoice[0].payableAmt, 0, 'COMMA', 2, 'POINT')}"></span></td>
																	</tr>
																	<tr th:unless="${salesInvoice[0].payableAmt!=0.0}">
																		<td width="200" align="right" style="color: #418AB3;"><b>TOTAL
																				PAYABLE AMOUNT</b></td>
																		<td width="130" align="right"><span
																			style="border: none" id="payableamt">0.00</span></td>
																	</tr>
																	<tr th:if="${salesInvoice[0].advanceAmt!=0.0}">
																		<td width="200" align="right" style="color: #418AB3;"><b>ADVANCE
																				AMOUNT</b></td>
																		<td width="130" align="right"><span
																			style="border: none" id="advanceamt"
																			th:text="${#numbers.formatDecimal(salesInvoice[0].advanceAmt, 0, 'COMMA', 2, 'POINT')}"></span></td>
																	</tr>
																	<tr th:unless="${salesInvoice[0].advanceAmt!=0.0}">
																		<td width="200" align="right" style="color: #418AB3;"><b>ADVANCE
																				AMOUNT</b></td>
																		<td width="130" align="right"><span
																			style="border: none" id="advanceamt">0.00</span></td>
																	</tr> -->
																	<tr th:if="${salesInvoice[0].totalCess!=0.0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>CESS</b></td>
																		<td width="130" align="right"><span
																			style="border: none" id="totalCess"
																			th:text="${#numbers.formatDecimal(salesInvoice[0].totalCess, 0, 'COMMA', 2, 'POINT')}"></span></td>
																	</tr>
																	<tr th:unless="${salesInvoice[0].totalCess!=0.0}">
																		<td width="200" align="right" style="color: #5c2e14;"><b>CESS</b></td>
																		<td width="130" align="right"><span
																			style="border: none" id="totalCess">0.00</span></td>
																	</tr>
																	<tr>
																		<td width="200" align="right" style="color: #5c2e14;"><b>GRAND
																				TOTAL</b></td>
																		<td width="130" align="right"><span
																			style="border: none" id="grandtamt"
																			th:text="${#numbers.formatDecimal(salesInvoice[0].grandTotal, 0, 'COMMA', 2, 'POINT')}"></span></td>
																	</tr>

																</table>
															</td>
														</tr>


													</table>
												</td>
											</tr>
											<tr>
												<td colspan="3">
													<div align="center" class="transcation-text">TRANSACTION
														DETAILS</div>
												</td>
											</tr>
											<tr>
												<td colspan="3">
													<table id="" class="maintbl" cellpadding="1"
														cellspacing="1" style="width: 100%;">
														<thead style="background-color: #5c2e14;">
															<tr>
																<th class="tableheader-color" >TRANSACTION
																	DATE</th>
																<th class="tableheader-color" style="color: #fff;">PAYMENT
																	REFERENCE NO.</th>
																<th class="tableheader-color" style="color: #fff;">PAYMENT
																	MODE</th>
																<th class="tableheader-color" style="color: #fff;">REFERENCE
																	NO</th>
																<th class="tableheader-color" style="color: #fff;">AMOUNT</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="other,iter : ${payDetails}">
																<td align="center"><span th:text="${other.transactionDate}"></span></td>
																<td align="center"><span th:text="${other.voucherId}"></span></td>
																<td align="center"><span th:text="${other.payMode}"></span></td>
																<td align="center"><span th:text="${other.refNo}"></span></td>
																<td align="center"><span><b
																		th:text="${#numbers.formatDecimal(other.amount, 0, 'COMMA', 2, 'POINT')}"></b></span></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<!-- <tr>
												<td colspan="3">
													<div class="strip2">
														<b>THANKYOU FOR YOUR BUSINESS</b>
													</div>
												</td>
											</tr> -->


											<tr>
												<td colspan="3" align="center">
													<div class="modal-footer">
														<button type="button" class="btn btn-primary" id="mailSend">Send</button>
														<button type="button" class="btn btn-danger"
															data-dismiss="modal" onclick="cancel();">Close</button>
													</div>
												</td>
											</tr>

										</table>
									</div>
								</div>
								<!-- </form> -->
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- /# row -->
		</div>
	</div>
</body>
</html>