<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>
//modal view for accunt head type
	function viewInModel(id) {
		//var index = window.atob(index);
		//alert(index);
		$('#table1').empty();
		$('#table2').empty();
		$.ajax({
					type : "POST",
					url : "view-journal-voucher-inModel",
					dataType : 'json',
					contentType : 'application/json',
					data : id,
					success : function(response) {
					if (response.message == "success") {							
							console.log(response);
							var approveStatus="";
							if(response.body[0].approveStatus== 3){
								approveStatus="Returned";
							}else if(response.body[0].approveStatus== 1){
								approveStatus="Approved";
							}else if(response.body[0].approveStatus == 2){
								approveStatus="Rejected";
							}else{
								approveStatus="Open";
							}
							span = '<tr><td>Journal Voucher No :</td>'
									+ '<td align="left">'
									+ response.body[0].journalVoucher
									+ '</td>'
									+ '</tr><tr><td>Cost Center :</td><td align="left">'
									+ response.body[0].costCenter
									+ '</td></tr>'
									+ '<tr><td>Amount:</td>'
									+ '<td align="left">'
									+ response.body[0].toAmount
									+ '</td>'
									+ '</tr><tr><td>Current StageNo:</td>'
									+ '<td align="left">'
									+ response.body[0].currentStageNo
									+ '</td>'
									+ '</tr><tr><td>Approve Status:</td>'
									+ '<td align="left">'
									+ approveStatus
									+ '</td>'
									+ '</tr>';
							$('#myModal').modal('show');
							$('#table1').append(span);

							table2 = '<tr><th><b> Account SubGroup</b></th><th><b>Name</b></th><th><b>Amount</b></th>';
							$('#myModal').modal('show');
							$('#table2').append(table2);
							table3 = '<tr><th><b> Account SubGroup</b></th><th><b>Name</b></th><th><b>Amount</b></th>';
							$('#myModal').modal('show');
							$('#table3').append(table3);
							for (var i = 0; i < response.body.length; i++) {
								if( !response.body[i].transactionType){
								table = '<tr><td>'
								+ response.body[i].fromAccountSubGroup + '</td><td>'
										+ response.body[i].fromName
										+ '</td><td>' + response.body[i].fromAmount
										+ '</td></tr>';
								$('#myModal').modal('show');
								$('#table2').append(table);
							}
							}
							for (var i = 0; i < response.body.length; i++) {
								if( response.body[i].transactionType){
								table = '<tr><td>'
								+ response.body[i].fromAccountSubGroup + '</td><td>'
										+ response.body[i].fromName
										+ '</td><td>' + response.body[i].fromAmount
										+ '</td></tr>';
								$('#myModal').modal('show');
								$('#table3').append(table);
							}
							}

						} 
					},
					error : function(data) {
						console.log(data);
					}
				})
	       }
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#tblTheme').DataTable({
			'processing' : true,
			'serverSide' : true,
			'searching' : false,
			'ordering' : false,
			"ajax" : {
				'url' : 'view-journal-voucher-ThroughAjax',
				'data' : function(d) {
					d.param1 = $('#param1').val();
					d.param2 = $('#param2').val();
					
					
				}
			},
			'dataSrc' : "",
			'columns' : [{
				'data' : 'journalVoucher'
			},{
				'data' : 'costCenter'
			}, {
				'data' : 'description'
			}, {
				'data' : 'fromAmount'
			}, {
				'data' : 'currentStageNo'
			}, {
				'data' : 'approveStatusName'
			},{
				'data' : 'action'
			} ]
		});
	});

	function searchData() {
		$('#tblTheme').DataTable().draw();
	}
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="index.html">Home</a></li>
					<li><a th:href="@{/account/add-journal-voucher}">Add
							Journal Voucher</a></li>
					<li class="active"><span>View Journal Voucher </span></li>
				</ol>
			</div>
			<div class="card-title">
				<h4>View Journal Voucher</h4>
			</div>
			<div class="container-fluid">
				<div class="card">
						<div class="search-field">
						<div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<a class="btn btn-secondary"
										href="add-journal-voucher">Create</a>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-info">Import</button>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-warning">
										<i class="fa fa-download"> </i>
									</button>
								</div>
							</div>
							<div class="col-md-1"></div>
						</div>

							<div class="row">
								<div class="col-md-2">
									<label>Journal Voucher No</label>
								
									<input id="param1" class="form-control" type="text"
										placeholder="" name="">
								</div>
								<div class="col-md-2">
									<label>Cost Center Name</label>
								

									<select class="form-control" id="param2">
										<option value="">--Select--</option>
										<option th:each="c:${costCenterList}" th:value='${c.key}'
											th:text="${c.name}"></option>
									</select>

								</div>

								<!-- <div class="col-md-2">
									<label>Debited to</label>
								
									<select class="form-control" id="param3">
										<option value="">--Select--</option>
										<option th:each="c:${PaidFromList}" th:value='${c.key}'
											th:text="${c.name}"></option>
									</select>
								</div>
								<div class="col-md-2">
									<label>Credited  To</label>
								
									<select class="form-control" id="param4">
										<option value="">--Select--</option>
										<option th:each="c:${PaidFromList}" th:value='${c.key}'
											th:text="${c.name}"></option>
									</select>
								</div> -->
							

							<div class="col-md-2 mrt_10">
								<div class="form-group filtersearch">
									<input type="button" class="btn btn-info" value="Search"
										onclick="searchData()" />
								</div>
							</div>
							</div>
						</div>
						<div class="table-responsive" style="width: 100%;">
							<table id="tblTheme" class="table table-bordered">
								<thead>
									<tr>
										<th>Journal Voucher No</th>
										<th>Cost Center Name</th>
										<th>Description</th>
										<th>Amount</th>
										<th>Stage No</th>
										<th>Approval Status</th>
										<th align="center">Action</th>
									</tr>
								</thead>
							</table>
						</div>
						<div style="clear: both;"></div>
				
				</div>
			</div>
		</div>
		<!-- Modal Start-->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">View Journal Voucher</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<table width="100%" border="0" id="table1">

						</table>
					</div>
					<div class="modal-body">
						<label class="subheading" style="font-weight:bold !important;">Debited To</label>
						<table width="100%" border="0" id="table2">

						</table>
					</div>
					<div class="modal-body">
						<label class="subheading" style="font-weight:bold !important;">Credited To</label>
						<table width="100%" border="0" id="table3">

						</table>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal End-->

	</div>
</div>
</html>