
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
<title></title>
<script type="text/javascript">
$(document).ready(function() {
    $("ul.tabs li:first").addClass("active").show(); //Activate first tab
    $(".tab_content:first").show(); //Show first tab content
    $("#moduleName").text(sessionStorage.getItem("moduleName"));

    var roleList = $("#rolesList").val().replace("[", "").replace(
        "]", "").split(',');
    var dataset = [];
    for (var i = 0; i < roleList.length; i++) {
        obj = {};
        obj.key = sessionStorage.getItem('activity');
        obj.name = roleList[i];

        dataset.push(obj)
    }
    if (dataset.length > 0) {
        $.ajax({
            type: "POST",
            url: "/index-get-avl-function-list",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(dataset),
            success: function(response) {
                if (response.message == "Success") {
                    for (var i = 0; i < response.body.length; i++) {
                        if (response.body[i].avlFuncValue == "0") {
                            $("#" + response.body[i].avlFuncAttr).remove();
                            $("." + response.body[i].avlFuncAttr).remove();
                        }
                    }
                }
            },
            error: function(data) {
                console.log(data)
            }
        });
    }

    var dateFormat = $("#dateFormat").val();
    localStorage.setItem("dateFormat", dateFormat);

});

function modOnclick(funId) {

    var moduleId = $("#moduleId").val();

    var activityUrl = $("#" + funId).attr("value");
    var activityId = $("#Act_" + funId).val();
    document.getElementById("side_bar_menu").innerHTML = "";
    sessionStorage.setItem('module', moduleId);
    sessionStorage.setItem('function', funId);
    sessionStorage.setItem('activity', activityId);
    //localStorage.setItem('moduleName', $("#moduleId").text());

    window.location.href = activityUrl;
}

$(window).click(function() {
    $("#" + sessionStorage.getItem('function')).addClass("active");
});

$(document).ready(function() {
    var module = sessionStorage.getItem('module');
    var fun = sessionStorage.getItem('function');
    var activity = sessionStorage.getItem('activity');
    var defaultFun = "";
    if (module && fun && activity) {
        $.ajax({
            type: "GET",
            url: "/index-get-function-list-resp?moduleId=" +
                module,
            dataType: 'json',
            contentType: 'application/json',
            success: function(response) {
                if (response.body.length > 0) {
                    var lidiv = "";
                    for (var i = 0; i < response.body.length; i++) {
                        defaultFun = response.body[0].functionId;
                        if (response.body[i].functionId == fun) {
                            lidiv = lidiv +
                                '<li class="acTivity active" id="' +
                                response.body[i].functionId +
                                '" value="' +
                                response.body[i].defaultUrl +
                                '" onclick="modOnclick(this.id)"><input type="hidden" id="Act_' + response.body[i].functionId + '" value="' + response.body[i].defaultUrlId + '"><span class="actlist">' +
                                response.body[i].name +
                                '</span>';
                        } else {
                            lidiv = lidiv +
                                '<li class="acTivity" id="' +
                                response.body[i].functionId +
                                '" value="' +
                                response.body[i].defaultUrl +
                                '" onclick="modOnclick(this.id)"><input type="hidden" id="Act_' + response.body[i].functionId + '" value="' + response.body[i].defaultUrlId + '"><span class="actlist">' +
                                response.body[i].name +
                                '</span>';
                        }
                    }
                    $("#configuration_sidebar_content")
                        .html(lidiv);
                }

            },
            error: function(data) {
                console.log(data)

            }
        });
    }


    if (fun) {
        fun = fun;
    } else {
        fun = defaultFun;
    }
    if (module && fun && activity) {
        $.ajax({
            type: "GET",
            url: "/index-get-activity-list?funId=" +
                fun + "&moduleId=" + module,
            dataType: 'json',
            contentType: 'application/json',
            success: function(response) {
                if (response.body.length > 0) {
                    var act = "";
                    for (var i = 0; i < response.body.length; i++) {
                        var funval = "callActivity('" +
                            response.body[i].activityId +
                            "','" +
                            response.body[i].activity +
                            "')";
                        if (activity == response.body[i].activityId) {
                            act = act +
                                '<a href="javascript:void(0)" class="active" id="' +
                                response.body[i].activityId +
                                '" value="' +
                                response.body[i].activity +
                                '" onclick="' +
                                funval +
                                '">' +
                                response.body[i].name +
                                '</a>';
                        } else {
                            act = act +
                                '<a href="javascript:void(0)" id="' +
                                response.body[i].activityId +
                                '" value="' +
                                response.body[i].activity +
                                '" onclick="' +
                                funval +
                                '">' +
                                response.body[i].name +
                                '</a>';
                        }

                    }
                    $("#side_bar_menu").html(act);
                }

            },
            error: function(data) {
                console.log(data)

            }
        });
    }


});

function callActivity(id, url) {
    sessionStorage.setItem('activity', id);
    window.location.href = url;
}

function setModule(moduleId) {
    sessionStorage.setItem('module', moduleId);
    sessionStorage.setItem('function', $("#fun_" + moduleId).val());
    sessionStorage.setItem('activity', $("#act_" + moduleId).val());
    sessionStorage.setItem('moduleName', $("#" + moduleId).text());

    window.location.href = "/index-get-function-list/" + moduleId;

}
</script>

</head>

<div class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
					<a th:href="${'/'+session.DASHBOARD}"> <img
						src="../assets/images/odisha-lg.png" alt=""
						class="img-fluid" />
					</a>
				</div>

				<div class="float-left">
					<div class="dropdown">
						<div class="hamburger sidebar-toggle" id="dropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="line"></span> <span class="line"></span> <span
								class="line"></span> <input type="hidden" id="menuId"
								th:value="${session.MENU}" /> <input type="hidden"
								id="rolesList" th:value="${session.USER_ROLES}">
						</div>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" th:each="module,abm : ${session.MENU}"
								href="javascript:void(0)" onClick="setModule(this.id)"
								th:id="${module.moduleId}"><i
								th:class="${module.moduleLogoName}"></i> <span
								th:text="${module.name}"></span> <input type="hidden"
								th:id="'act_'+${module.moduleId}"
								th:value="${module.activityId}"> <input type="hidden"
								th:id="'fun_'+${module.moduleId}"
								th:value="${module.functionId}"> </a>

						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="headermid">
					<nav class="nav-menu d-none d-lg-block">
						<input type="hidden" id="dateFormat"
							th:value="${session.DATEFORMAT_JS}" /> <input type="hidden"
							id="moduleId" th:value="${session.moduleId}" />
						<ul class="tabs" id="configuration_sidebar_content">
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="headerright" align="right">

					<div class="dropdown">
						<div id="moduleName" class="module_name"></div>
						<div class="headicon sidebar-toggle" id="dropdownMenuLink3"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ti-user"></i>
							<div
								style="position: absolute; z-index: 3; background: #e5e5e5; color: #090; padding: 0px 5px; border-radius: 15px; top: 0px; right: -7px; font-size: 10px;">3</div>

						</div>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink3">
							<a class="dropdown-item" href="#"><i class="ti-lock"></i>
								Lock Screen</a> <a class="dropdown-item" href="#"><i
								class="ti-email"></i> Profile</a> <a class="dropdown-item"
								href="/notification"><i class="ti-power-off"></i>
								Notification</a> <a class="dropdown-item" href="/logout"><i
								class="ti-power-off"></i> Log Out</a>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</html>