<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../assets/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="../assets/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="../assets/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="../assets/css/extend/themify-icons.css" rel="stylesheet">
<script src="../assets/js/lib/jquery-3.4.1.min.js"></script>
<script src="../assets/js/lib/bootstrap.min.js"></script>

<link rel="stylesheet" href="../assets/css/extend/style-extend.css">
<link href="../assets/css/lib/bootstrap.min.css" rel="stylesheet">
 
<script src="../assets/highchart/highcharts.js"></script>
<script src="../assets/highchart/series-label.js"></script>
<script src="../assets/highchart/exporting.js"></script>
<script src="../assets/highchart/export-data.js"></script>  

<style type="text/css">
.tr-bg {
	background-color: #8093f3 !important;
}
</style>
<script>
	$(function () {
		//Date picker
		$('#datepicker').datepicker({
		autoclose: true
		})
	})
	
	 $( document ).ready(function() {
		 
			if(sessionStorage.getItem("userId")){
			}else{
				window.location.href = "/login";
			}
	   $(".activityClass").click(function() {   
		     var protocol = location.protocol;
		     var protocol=protocol+'//';
 			 var hosturl=location.host;  
		     var hrefurl=protocol+hosturl; 
           	 var href = $(this).attr('href'); 
           	 var href=hrefurl+href; 
           	 var activityId= $(this).closest('li').attr('id');
           	 var functionId = $(this).closest('ul').closest('li').attr('id');
           	 var moduleId = $(this).closest('ul').closest('li').closest('ul').closest('li').attr('id'); 
           	 
           	sessionStorage.setItem("activityId", activityId);
           	sessionStorage.setItem("functionId", functionId);
           	sessionStorage.setItem("moduleId", moduleId);
           	sessionStorage.setItem("href", href); 
        });  
	 
		 var href=sessionStorage.getItem("href");
	 	 var moduleName = sessionStorage.getItem("moduleId");
	 	 var funtionName = sessionStorage.getItem("functionId");
	 	 var activityName = sessionStorage.getItem("activityId");
	 	 
	 	 var CurURL=window.location.href;
	 	 
		 var protocol1= location.protocol;
	     var protocol1=protocol1+'//';
		 var hosturl1=location.host;  
	     var hrefurl1=protocol1+hosturl1;
	     var hrefurl1len=hrefurl1.length;
	     var hrefurl1len=parseInt(hrefurl1len)+1;
	     var CurURL1=window.location.href;
	     var urlfresh=CurURL1.slice(hrefurl1len);
	     var l = urlfresh.split("/");
	 	 var urlindb = l[1];
	 	 var f=urlindb.split("-");
	 	 var req=f[0]+1;
	 	 var req = req.charAt(0).toUpperCase() + req.slice(1);
	 	 var funtionName1=funtionName.slice(0,-1);
	 	 var activityName1=funtionName1+req;
	 	 
		 if(href==CurURL){
			 //remove active class
			 $("#dash").removeClass('active');
			 $(".moDule").removeClass('active').removeClass('open');
			 $(".funTion").removeClass('open');
			 $(".acTivity").removeClass('active');
			 //add Active class
			 $("#"+moduleName).addClass('active').addClass('open');
			 $("#"+funtionName).addClass('open');
			 $("#"+activityName).addClass('active');		 
		 }  

		 if(href != CurURL){
			 //remove active class
			 $("#dash").removeClass('active');
			 $(".moDule").removeClass('active').removeClass('open');
			 $(".funTion").removeClass('open');
			 $(".acTivity").removeClass('active');  
			 
			//add Active class
			 $("#"+moduleName).addClass('active').addClass('open');
			 $("#"+funtionName).addClass('open');
			 $("#"+activityName1).addClass('active'); 
		 } 
});


	</script>
</head>
<body>
	 
	<div th:replace="layout/app-header :: header"></div>
	<div th:replace="layout/app-sidebar :: sidebar"></div>
	<div class="content-wrap">
		<!-- Main content -->
		<div layout:fragment="content"></div>
		 
	</div>
</body>
</html>