<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
	<script type="text/javascript">
		$(document).ready(function() {
			
			//Method for listing of all the customer Records
			
			$('#listAllCustomer').DataTable({
				'processing' : true,
				'serverSide' : true,
				'searching' : false,
				'ordering' : false,
				"ajax" : {
					'url' : 'view-customer-throughAjax',
					'data' : function(d) {
						d.param1 = $('#param1').val();
						d.param2 = $('#param2').val();
						d.param3 = $('#param3').val();
						
					}
				},
				'dataSrc' : "",
				'columns' : [ {
					'data' : 'customerName'
				}, {
					'data' : 'customerEmail'
				}, {
					'data' : 'customerPhone'
				}, {
					'data' : 'customerAddress'
				}, {
					'data' : 'customerCity'
				}, {
					'data' : 'customerDistrict'
				}, {
					'data' : 'customerState'
				}, {
					'data' : 'customerCountry'
				}, {
					'data' : 'customerZipCode'
				}, {
					'data' : 'customerGSTNo'
				}, {
					'data' : 'customerContactPerson'
				}, {
					'data' : 'status'
				}, {
					'data' : 'action'
				}
		
				]
			});
		});
		
		function createPdf() 
		{	
			window.open("/download/sales-customer-pdf?param1="+window.btoa($('#param1').val())+"&param2="+window.btoa($('#param2').val())+"&param3="+window.btoa($('#param3').val()),'_blank');
		} 
		
		function validate()
		{
			if( ($('#param1').val()=="")&&($('#param2').val()==""&&($('#param3').val()=="")))
			{
				swal({
					title : "Select Any One from search Field.."
				})
			}
			else
			{
				createPdf();
			}
		}
		
		function funcLoad() 
		{
			location.reload();
		}
	</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="content-wrap">
			<div class="main mrt_20">
				<div class="card-title">
					<h4>Customer Report </h4>
				</div>
				<div class="container-fluid">
					<div class="card">
						<div class="card-body">
							<div class="basic-elements">
								<div class="row">
									<div class="col-md-2">
										<div class="org-name">Customer Name</div>
									</div>
									<div class="col-md-3">
										<input class="form-control" type="text" placeholder="" name=""
										id="param1">
									</div>	
									<div class="col-md-2">
										<div class="org-name">Customer State</div>
									</div>
									<div class="col-md-3">
										<select class="form-control" id="param2">
											<option th:value="null">Select</option>
											<option th:each="c:${stateList}" th:value='${c.key}' th:text="${c.name}" ></option>
										</select>
									</div>
									<div class="col-md-2">	
										<div class="org-name">Customer District</div>
									</div>
									<div class="col-md-3">
										<select class="form-control" id="param3">
											<option th:value="null">Select</option>
											<option th:each="c:${districtList}" th:value='${c.key}' th:text="${c.name}" ></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-primary" onclick="funcLoad();">
										Reset</button>
									<button type="button" class="btn btn-primary"
										onclick="validate()">Print Preview</button>
									<button type="button" class="btn btn-primary"
										onclick="validate()">Print</button>
									<!-- <input name="" type="reset" class="btn warning" value="Cancel"> -->
								</div>
							</div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>