<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>
$(document).ready(function() {
    $("#reset").click(function() {
        location.reload();
    })

    $("#param3").datetimepicker({
        format: 'd-m-Y',
        timepicker: false,
        closeOnDateSelect: true
    })
    $("#param2").datetimepicker({
        format: 'd-m-Y',
        timepicker: false,
        closeOnDateSelect: true
    })

    var fullDate = new Date();
		var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
		var twoDigitDate=((fullDate.getDate())>=10)? (fullDate.getDate()) : '0' + (fullDate.getDate());
		var currentDate = twoDigitDate + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
    $("#param3").val(currentDate);
    $("#param2").val(currentDate);

    $('#tblMeal').DataTable({
        'processing': true,
        'serverSide': true,
        'searching': false,
        'ordering': false,
        "ajax": {
            'url': 'gatepass-entry-report-preview-through-ajax',
            'data': function(d) {
                d.param2 = $('#param2').val();
                d.param3 = $('#param3').val();
            }
        },
        'dataSrc': "",
        'columns': [{
                'data': 'store'
            }, {
                'data': 'gatePass'
            }, {
                'data': 'action'
            }, {
                'data': 'pOrder'
            }, {
                'data': 'challanNoId'
            }, {
                'data': 'vehicleNo'
            }, {
                'data': 'driverName'
            }, {
                'data': 'vendor'
            }, {
                'data': 'customer'
            }, {
                'data': 'entryDate'
            }, {
                'data': 'entryTime'
            }
        ]
    })
})

function printPreview() {
	$('#tblMeal').DataTable().draw(); 
}

function print() {
	window.open("gatepass-entry-report-download?param2="
			+ window.btoa($('#param2').val()) + "&param3="
			+ window.btoa($('#param3').val()), '_blank');
}
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="">Home</a></li>
					<li class="active"><span>Gate Pass Entry Report</span></li>
				</ol>
			</div>
			<div class="card-title">
				<h4>Gate Pass Entry Report</h4>
			</div>
			<div class="container-fluid">
				<div class="card">
					<div class="card-body">
						<div class="basic-elements">
							<div class="row">
								<span style="color: red;" id="errorMsg"></span>
								<div th:if="${message != null}">
									<span th:text="${message}" style="color: red;"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label>From Date</label> <input type="text"
											class="form-control" id="param2" readonly>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label>To Date</label> <input type="text" class="form-control"
											id="param3" readonly>
									</div>
								</div>
							</div>
							<div class="row mt-15">
								<div class="col-md-12">
									<div class="form-group">
										<button type="button" id="reset" class="btn btn-danger">Reset</button>
										<button type="button" class="btn btn-success"
											id="printPreview" onclick="printPreview();">Print
											Preview</button>
										<button type="button" class="btn btn-info" id="print"
											onclick="print();">Print</button>
									</div>
								</div>
							</div>
							<div class="row" id="previewId">
								<div class="col-lg-12">
									<div class="table-responsive" style="width: 100%;">
										<table id="tblMeal" class="table table-bordered">
											<thead>
												<tr>
													<th>Branch</th>
													<th>GatePass</th>
													<th>Weight Type</th>
													<th>Purchase Order</th>
													<th>Challan No.</th>
													<th>Vehicle No.</th>
													<th>Driver Name</th>
													<th>Vendor</th>
													<th>Customer</th>
													<th>Entry Date</th>
													<th>Entry Time</th>
												</tr>
											</thead>
										</table>
									</div>
									<div style="clear: both;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>
</div>
</html>