
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script type="text/javascript">
	function validateForm() {

		if (!blankValidation("empId", "TextField",
				"Employee  Name can not be left blank"))
			return false;
		if (!blankValidation("name", "TextField", "Name  can not be left blank"))
			return false;
		if (!blankValidation("relation", "TextField",
				"Relationship can not be left blank"))
			return false;
		if (!blankValidation("mobileNo", "TextField",
				"Mobile Number can not be left blank"))
			return false;
		if (!blankValidation("adharNo", "TextField",
				"Adhar Number can not be left blank"))
			return false;
		if (!fieldLengthCheck("mobileNo", 12, "Mobile No", "Max"))
			return false;
		if (!fieldLengthCheck("mobileNo", 10, "Mobile No", "Min"))
			return false;
		if (!fieldLengthCheck("adharNo", 12, "Adhar No", "Max"))
			return false;
		if (!fieldLengthCheck("adharNo", 12, "Adhar No", "Min"))
			return false;
		/* if (!checkMobileNumberINCode("mobileNo","Please insert Appropriate Mobile Number"))
				return false; */

	}
</script>
</head>
<div layout:fragment="content">

	<div class="main mrt_20">
		<!--Alert Box-->
		<div class="alert alert-danger alert-dismissible"
			th:if="${message != null}">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span th:text="${message}"></span>
		</div>
		<!--Alert Box-->
		<div class="col-md-12">
		<ol class="breadcrumb breadcrumb-arrow">
			<li><a href="index.html">Home</a></li>
			<li class="active"><span>Add Emergency Contact</span></li>
			<!--  <li><a href="list_Amenity_Form(1.4.3.1.2).html"></a>List Amenity</li> -->
		</ol>
		</div>
		<div class="card-title">
			<h4>Add Emergency Contact</h4>
		</div>
		<div class="container-fluid">
		<div class="card">
			<div class="card-body">
				<div class="basic-elements">
					<form th:action="@{/employee/add-emergency-contact}"
						th:object="${emergency}" method="post"
						onsubmit="return validateForm();" autocomplete="off">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<input type="hidden" th:field="*{editId}" /> <label>Employee
										Name</label> <select class="form-control" th:field="*{empId}">
										<option th:value="NULL">--Select--</option>
										<option th:each="c:${EmployeeList}" th:value='${c.key}'
											th:text="${c.name}"></option>
									</select>

								</div>
								<div class="form-group">
									<label>Name</label> <input type="text" class="form-control"
										th:field="*{name}" />
								</div>
								<div class="form-group">

									<label>RelationShip</label> <select class="form-control"
										th:field="*{relation}">
										<option th:value="NULL">--Select--</option>
										<option th:value="Parent">Parent</option>
										<option th:value="Wife">Wife</option>
										<option th:value="Child">Child</option>
										<option th:value="Other">Other</option>
									</select>

								</div>
								<div class="form-group">
									<label>Mobile Number</label> <input type="text"
										class="form-control " th:field="*{mobileNo}" onkeyup="checkNum('mobileNo')">
								</div>

								<div class="form-group">
									<label>Adhar Number</label> <input type="text"
										class="form-control " th:field="*{adharNo}" onkeyup="checkNum('adharNo')">
								</div>
								<button type="submit" class="btn btn-success">submit</button>
								<button type="reset" value="Reset" class="btn btn-warning">cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>

</html>