<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>
	function viewInModel(index) {
		$('#table1').empty();
		$
				.ajax({
					type : "POST",
					url : "view-employee-leave-details-modalView",
					dataType : 'json',
					contentType : 'application/json',
					data : index,
					success : function(response) {
						if (response.message == "success") {
							table = '<tr><td>Employee Name :</td>'
									+ '<td align="left">'
									+ response.body.employeeName
									+ '</td></tr><tr><td>From Date :</td><td align="left">'
									+ response.body.fromDate
									+ '</td></tr><tr><td>To Date:</td><td align="left">'
									+ response.body.toDate
									+ '</td></tr><tr><td>Total Days:</td><td align="left">'
									+ response.body.leaveDays
									+ '</td></tr><tr><td>Grant By</td><td align="left">';
							+response.body.grantBy + '</td></tr>'
							$('#myModal').modal('show');
							$('#table1').append(table);

						}
					},
					error : function(data) {
						console.log(data);
					}
				})

	}
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#tblTheme').DataTable({
			'processing' : true,
			'serverSide' : true,
			'searching' : false,
			'ordering' : false,
			"ajax" : {
				'url' : 'view-employee-leave-details-ThroughAjax',
				'data' : function(d) {
					d.param1 = $('#param1').val();
				}
			},
			'dataSrc' : "",
			'columns' : [ {
				'data' : 'employeeName'
			}, {
				'data' : 'fromDate'
			}, {
				'data' : 'toDate'
			}, {
				'data' : 'leaveDays'
			}, {
				'data' : 'leaveGrantBy'
			}, {
				'data' : 'action'
			} ]
		});
	});

	function searchData() {
		$('#tblTheme').DataTable().draw();
	}
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="index.html">Home</a></li>
					<li><a th:href="@{/employee/add-emp-leave-details}">Add
							Employee Leave Details</a></li>
					<li class="active"><span>View Employee Leave Details</span></li>
				</ol>
			</div>
			<div class="card-title">
				<h4>View Employee Leave Details</h4>
			</div>
			<div class="container-fluid">
				<div class="card">
					<div class="search-field">
						<div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<a class="btn btn-secondary" href="add-emp-leave-details">Create</a>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-info">Import</button>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-warning">
										<i class="fa fa-download"> </i>
									</button>
								</div>
							</div>
							<div class="col-md-1"></div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label>Employee Name</label> <input type="text" id="param1"
									class="form-control" onkeyup="searchData()" />
							</div>

						</div>
					</div>
					<div class="table-responsive" style="width: 100%;">
						<table id="tblTheme" class="table table-bordered">
							<thead>
								<tr>

									<th>Employee Name</th>
									<th>From Date</th>
									<th>To Date</th>
									<th>Total Days</th>
									<th>Grant By</th>
									<th align="center">Action</th>
								</tr>
							</thead>
						</table>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
		<!-- Modal Start-->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content" style="width: 750px;">
					<div class="modal-header">
						<h4 class="modal-title">View Employee Leave Details</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<table style="width: 100%; border: 0;" id="table1">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal End-->
	</div>
</div>
</html>