
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head> 

<script type="text/javascript">
//Function for cancel button
function funcLoad(){
	window.location.href = "/inventory/view-warehouse-master";
}

$(document).ready(function(){
	$("#store").change(function(){
		var storeVal = $(this).val();
		$("#subInventory").empty();
		if(storeVal) {
			$.ajax({
                type: 'POST',
                url: 'add-warehouse-master-get-sub-inventory',
                contentType: false,
                data: storeVal,
                success: function(response) {
                    if (response.message == "success") {
                    	$("#subInventory").append("<option value=''>Select</option>");
                    	for(var i = 0; i < response.body.length; i++) {
                    		$("#subInventory").append("<option value='"+response.body[i].key+"'>"+response.body[i].name+"</option>");
                    	}
                    } else {
                    	$("#subInventory").append("<option value=''>Select</option>");
                    }
				},
				error: function(data) {
					console.log(data)
					$("#subInventory").append("<option value=''>Select</option>");
				}
			});
		} else {
			$("#subInventory").append("<option value=''>Select</option>");
		}
	})
})

</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<div class="alert alert-danger alert-dismissible"
					th:if="${message != null}">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<span th:text="${message}"></span>
				</div>
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a th:href="${session.DASHBOARD}">Home</a></li>
					<li><a href="add-warehouse-master">Add WareHouse</a></li>
				</ol>
			</div>
			<div class="container-fluid">
				<div class="card">
					<div class="card-body">
						<div class="basic-elements">
							<form th:action="@{add-warehouse-master}" method="post" th:object="${wareHouse}"
								autocomplete="off">
								<input type="hidden" th:field="*{warehouseId}">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>Warehouse Name</label> <input type="text"
												class="form-control" name="" th:field="*{warehouseName}">

										</div>
										<div class="form-group">
											<label>Store</label> <select class="form-control" th:field="*{store}">
												<option value="">Select</option>
												<option th:each="c,iter:${storeList}" th:value="${c.key}" th:text="${c.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<label>Sub-Inventory</label> <select class="form-control" th:field="*{subInventory}">
												<option value="">Select</option>
												<option th:each="c,iter:${subInvList}" th:value="${c.key}" th:text="${c.name}"></option>
											</select>
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea name="" cols="" rows="" th:field="*{whDesc}"
												class="form-control textarea"></textarea>
										</div>
										<div class="form-group">
											<label>Status</label> <select class="form-control" th:field="*{whActive}">
												<option value="1">Active</option>
												<option value="0">Inactive</option>
											</select>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<button class="btn btn-success">Submit</button>
											<button class="btn btn-warning" type="reset"
												onclick="funcLoad();">Cancel</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>