
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<script type="text/javascript">

  function validateForm()
  {
	if (!blankValidation("itmServeTypeName","TextField" ,"ServeTypeName can not be left blank"))
        return false;
	if (!blankValidation("itmServeTypeActive","SelectBox", "Please Select Status"))
        return false;
	if (!blankValidation("itmServeTypeDescription","TextArea" ,"ServeTypeDescription can not be left blank"))
        return false;
	if (!checkSpecialCharacterFirstCustom("itmServeTypeName","Special character is not allowed in ServeTypeName!!!",/[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/)) 
        return false;
	if (!checkSpecialCharacterFirstCustom("itmServeTypeDescription","Special character is not allowed in ServeTypeDescription!!!",/[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/)) 
        return false;
}
  
  function gotoview() {
	  window.location.href = "/inventory/view-item-servetype";
  }
</script>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
			<div class="alert alert-danger alert-dismissible" th:if="${message != null}">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<span th:text="${message}"></span>
				</div> 
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a th:href="${session.DASHBOARD}">Home</a></li>
					 <li><a href=add-item-servetype>Add Item Serve Type</a></li>
					<li><a href=view-item-servetype>View Item Serve Type</a></li>
					
				</ol>
			</div>
			<div class="card-title">
				<h4>Item Serve Type</h4>
			</div>
			<div class="container-fluid">
				<div class="card">
                 <div class="card-body">
						<div class="basic-elements">
							<form  th:action="@{add-item-servetype}" th:object="${itemServeTypeModel}" method="post" onsubmit="return validateForm();"autocomplete="off">
							<input type="hidden" th:field="*{itmServeTypeId}">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label>Serve Type Name</label> 
											<input type="text" class="form-control" name="" th:field="*{itmServeTypeName}">
										</div>
										<div class="form-group">
											 
											<label>Status</label> 
											<select class="form-control" th:field="*{itmServeTypeActive}">
												<option th:value=null>Select</option>
												<option th:value="true">Active</option>
												<option th:value="false">Inactive</option>
											</select>
										</div>

									</div>
									<div class="col-lg-6">

										<div class="form-group">
											<label>Description</label>
											<textarea name="" cols="" rows=""
												class="form-control textarea" th:field="*{itmServeTypeDescription}"></textarea>
										</div>
									</div>
									<div class="col-md-12">
									<div class="form-group">
										<button class="btn btn-success">Submit</button>
										<button class="btn btn-warning" type="button" onclick="gotoview()">Cancel</button>
										<!--input name="" type="button" class="btn btn-success" value="SUBMIT"-->
									</div>
									</div>
								</div>

							</form>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>

			</div>
		</div>
	</div>
</div>
</html>