
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<script type="text/javascript">
$(document).ready(function() {
	
	//date picker
	 $("#param4").datetimepicker({
				format:'d-m-Y',
				closeOnDateSelect: true,
				//minDate: new Date() ,
				timepicker : false,
	})  
	//date picker
		 $("#param5").datetimepicker({
					format:'d-m-Y',
					closeOnDateSelect: true,
					//minDate: new Date() ,
					timepicker : false,
		})  
//Method for listing of all the Requisition Records
$('#requisitionList').DataTable({
	'processing' : true,
	'serverSide' : true,
	'searching' : false,
	'ordering' : false,
	"ajax" : {
		//'url' : 'view-item-requisitions-list-throughAjax',
		'data' : function(d) {
			d.param1 = $('#param1').val();
			 d.param2 = $('#param2').val();
			d.param3 = $('#param3').val();
			d.param4 = $('#param4').val();
			d.param5 = $('#param5').val();

		}
	},
	'dataSrc' : "",
	'columns' : [ {
		'data' : 'costCenter'
	},
	{
		'data' : 'iRExpectedDate'
	}, {
		'data' : 'iRType'
	},
	{
		'data' : 'status'
	},
	{
		'data' : 'action'
	}

	]
});
});
//Metho to create report
function createPdf() 
{
	
	window.open("/inventory/view-item-requisitions-download-report?param1="
			+window.btoa($('#param1').val())+"&param2="
			+window.btoa($('#param2').val())+"&param3="
			+window.btoa($('#param3').val())+"&param4="
			+window.btoa($('#param4').val())+"&param5="
			+window.btoa($('#param5').val()),'_blank');
} 
//Method to reload the page

	function funcLoad() {
		location.reload();
	}
	//Method to restict creation of report when no field is selected
	function validate(){
		var param1 = $('#param1').val();
		var param2 = $('#param2').val();
	    var param3 = $('#param3').val();
	    var param4 =$('#param4').val();
	    var param5 =$('#param5').val();
		if( ($('#param1').val()=="")&&($('#param2').val()=="")&&($('#param3').val()=="")&&($('#param4').val()=="")&&($('#param5').val()==""))
		{
		swal({
		title : "Select Any One from search Feild.."
		})
		}
		 
		else{
			createPdf();
		}

		}
	//Method for Auto Complete
	function itemRequisitionAutoComplete() {
		$.ajax({
			type : "POST",
			url : "view-item-requisitions-generateReqNo",
			dataType : 'json',
			contentType : 'application/json',
			data : $("#param1").val(),
			success : function(response) {
				if (response.message == "success") {
				if(response.body.length!=0)	{
					$("#param1").css("background","#FFF");
					var content = '<ul id="autocomplete-list">';
					for (var i = 0; i < response.body.length; i++) {
						content += '<li onClick="selectAutocompleteValue(\''+response.body[i].key+'\',\''+response.body[i].name+'\')">'+response.body[i].key+'</li>';
					} 
					content += '</ul>';
					$("#suggesstion-box").show();
					$("#suggesstion-box").html(content);
					
				}
				else {
					$("#param1").css("background","#FFF");
					var content = '<ul id="autocomplete-list">';
					content += '<li onClick="selectAutocompleteValue(\''+''+'\',\''+''+'\')">'+"No Data Found"+'</li>';
					content += '</ul>';
					$("#suggesstion-box").show();
					$("#suggesstion-box").html(content);
				}
				}
			},
			error : function(data) {
				console.log(data);
			}
		})
	}
	//Method to auto complete of search Param
	function selectAutocompleteValue(key,name) {
		if (key) {
			$("#param1").val(key);
			$("#param1").attr('data-procat', key);
			$("#suggesstion-box").hide();
			}
		else {
			$("#param1").val("");
			$("#param1").attr('data-procat', "");
			$("#suggesstion-box").hide();
		}
	}

</script>
<style>
.ui-autocomplete-loading {
	background: white url("/static/images/ui-anim_basic_16x16.gif") right
		center no-repeat;
}
</style>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="content-wrap">
			<div class="main mrt_20">
				<div class="card-title">
					<h4>Item Requisition Report </h4>
				</div>
				<div class="container-fluid">
					<div class="card">
						<div class="card-body">
							<div class="basic-elements">
								<div class="row">
									<div th:if="${message != null}">
										<span th:text="${message}" style="color: red;"></span>
									</div>
								</div>
								<div class="row">
								<div class="col-lg-6">
									<div class="row">
								<div class="col-md-6">
									<div class="org-name">Requisition Number</div>
								</div>
								<div class="col-md-6">
									<input type="text"
											class="form-control" id="param1"
											onkeyup="itemRequisitionAutoComplete();" />
										<div id="suggesstion-box"></div>
								</div>
								</div>
								<div class="row">
								<div class="col-md-6">
									<div class="org-name">Requisition Type</div>
								</div>
								<div class="col-md-6">
									<select class="form-control" id="param2">
										<option th:value="null">Select</option>
										<option th:each="c:${RequisitionTypeList}" th:value='${c.key}'
											th:text="${c.name}"></option>

									</select>
								</div>
								</div>
								<div class="row">
								<div class="col-md-6">
									<div class="org-name">CostCenter Name</div>
								</div>
								<div class="col-md-6">
									<select class="form-control" id="param3">
										<option th:value="null">Select</option>
										<option th:each="c:${costCenterList}" th:value='${c.key}'
											th:text="${c.name}"></option>
									</select>
								</div>
								</div>
								</div>
								<div  class="col-lg-6">
								<div class="row">
								<div class="col-md-6">
									<div class="org-name">From Date</div>
								</div>
								<div class="col-md-6">
									<input class="form-control" type="text" placeholder="From Date" name=""
										id="param4" readonly>
								</div>
								</div>
								<div class="row">
								 <div class="col-md-6">
									<div class="org-name">To  Date</div>
								</div>
								<div class="col-md-6">
									<input class="form-control" type="text" placeholder="To  Date" name=""
										id="param5"readonly>
										</div>
									</div>
								</div>
							
							</div>

								<div class="form-group">
									<button class="btn btn-primary" onclick="funcLoad();">
										Reset</button>
									<button type="button" class="btn btn-primary"
										onclick="validate()">Print Preview</button>
									<button type="button" class="btn btn-primary"
										onclick="validate()">Print</button>
									<!-- <input name="" type="reset" class="btn warning" value="Cancel"> -->
								</div>
							</div>

						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- /# row -->

</div>
</html>