<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>

<script> 
/*
 * For ViewDetails of ItemServeType
 */
	function viewInModel(index){
	    $('#table1').empty();
	    $.ajax({			
		    type : "POST",
			url : "view-item-servetype-modal",
			dataType : 'json',
			contentType : 'application/json',
			data : index,
			success : function(response) {
					if (response.message == "success") {
						console.log(response.body.districtStatus);
						var itmServeTypeActive = "";
						if (response.body.itmServeTypeActive) {
							itmServeTypeActive = "Active";
						} else {
							itmServeTypeActive = "InActive";
						}
						table = /* '<tr><td>SubCategory Name :</td>' + '<td align="left">'
								+ response.body.itmSubCategoryName + '</td>' */
								'</tr><tr><td>Serve Type Name:</td>' + '<td align="left">'
								+ response.body.itmServeTypeName
								+ '</td></tr><tr><td>Status :</td>' + '<td align="left">' 
								+ itmServeTypeActive
								+ '</td>' + '</tr><tr><td>ServeTypeDescription:</td>' + '<td align="left">'
								+ response.body.itmServeTypeDescription;
						
						$('#myModal').modal('show');
						$('#table1').append(table);
					}
				},
				error : function(data) {
					console.log(data);
				}
		})

    }
	/*
	 * For ViewAll ServeType list 
	 */
 	$(document).ready(function() {
		$('#listAllServeType').DataTable({
			'processing' : true,
			'serverSide' : true,
			'searching' : false,
			'ordering' : false,
			"ajax" : {
				'url' : 'view-item-servetype-throughAjax',
				'data' : function(d) {
					d.param1 = $('#param1').val();
					/* d.param2 = $('#param2').val(); */ 
				
				}
			},
			'dataSrc' : "",
			'columns' : [
				{'data' : 'itmServeTypeName'},
				{'data' : 'itmServeTypeDescription'},
				{'data' : 'status'},
				{'data' : 'action'}
				
			]
		});
	});
	
 	
	function DeleteServeType(id){
		//var index = window.atob(id);
			swal.fire({
			title	: "Are you sure want to Delete?",
			text	: "Once Deleted,Can't revert back !",
			type : "warning",
	
			showCancelButton	: true,
			confirmButtonColor	: "RED",
			confirmButtonText	:"Delete",
			showLoaderOnConfirm	: true,
			reverseButtons : true,
		}).then((result) => {
		if(result.value)
		{
			//alert(result.value)
			$.ajax({
				
				type	: "GET",
				url : "/inventory/delete-item-servetype?id=" + id,
				dataType	: "json",
				contentType	: "application/json",
				data	: JSON.stringify(id),
				success	: function(response){
					console.log(response);
					if(response.message=="success"){
						
						swal({
							title	: "Data Deleted Successfully.",
							type: "success",
					}).then(function(){
						location.reload(); 
					})
					}else{
						swal({
							title:response.code,
							text: response.message,
							type:"warning"
						})
					}
			},error	: function(response){
				console.log(response.code);	
			}
		}) //ajax ends
	  }
	 });//swal function block ends
	}
	
 	/*
 	 * For Searching of Subcategory
 	 */		
	function searchData() {
		$('#listAllServeType').DataTable().draw();	
	}		
</script> 
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a th:href="${session.DASHBOARD}">Home</a></li>
					 <li><a href="add-item-servetype">Add Item Serve Type</a></li>
					<li><a href="view-item-servetype">View Item Serve Type</a></li>
				</ol>
			</div>
			<div class="card-title">
				<h4>View Details of Item Serve Type </h4>
			</div>
			<div class="container-fluid">				
			<div class="card">
					<div class="search-field">
					<div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<a class="btn btn-secondary"
										href="add-item-servetype">Create</a>
								</div>
							</div>
							<!-- <div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-info">Import</button>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-warning">
										<i class="fa fa-download"> </i>
									</button>
								</div>
							</div> -->
							<div class="col-md-1"></div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label>Serve Type Name</label>
								<input class="form-control" type="text" placeholder="" name="" id="param1" >
							</div>
								<div class="col-md-2 mrt_10">
								   <div class="form-group filtersearch">
									<button class="btn btn-info" onclick="searchData()">Search</button>
								</div>
							</div>
						</div>
					</div>
					<div class="table-responsive" style="width: 100%;">
						<table  class="table table-bordered" id="listAllServeType" >
							<thead>
								<tr>
									<th>Item Serve Type</th>
									<th>Description</th>
									<th>Status</th>
									<th>Action</th>
							    </tr>
							</thead>
						</table>
					</div>
					<div style="clear: both;"></div>
				
			</div>
   		</div>
   	</div>
	<!-- Modal Start-->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				 <div class="modal-header">
					 <h4 class="modal-title">View Details of Item Serve Type</h4>
					 <button type="button" class="close" data-dismiss="modal">
						<i class="fa fa-close fa-2x"></i>
					</button>
				</div>
				<div class="modal-body">
					<table width="100%" border="0" id="table1" >
							<tbody>
							      <tr class="itmServeTypeName"><td><b>Item Serve Type :</b></td></tr>
							      <tr class="itmServeTypeDescription"><td><b> Descrption :</b></td></tr>
							      <tr class="itmServeTypeActive"><td><b>Status :</b></td></tr>
							</tbody>
						<tbody id="tModelBody"></tbody>
			        </table> 
				</div>
				 <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				 </div>
			</div>
		</div>
	</div>
	<!-- Modal End-->
	<!-- /# row -->
	</div>
 </div>
</html>