<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style type="text/css">
.search{
float:right;
}
</style>
<script type="text/javascript">
function dateValid(){
	if($("#param4").val() && $("#param5").val())
	dateValidation('param4' , 'param5' , 'To Date' ,'From Date');
}
	$(document).ready(function() {
	//Date picker
			$("#param4").datetimepicker({
				format: 'd-m-Y',
		        closeOnDateSelect: true,
		        timepicker: false,
			})
			$("#param5").datetimepicker({
				format: 'd-m-Y',
		        closeOnDateSelect: true,
		        timepicker: false,
			})
			
		//Method for listing of all the Requisition Records
		
		$('#requisitionList').DataTable({
			'processing' : true,
			'serverSide' : true,
			'searching' : false,
			'ordering' : false,
			"ajax" : {
				'url' : 'view-item-requisitions-list-throughAjax',
				'data' : function(d) {
					d.param1 = $('#param1').val();
					 d.param2 = $('#param2').val();
					d.param3 = $('#param3').val();
					d.param4 = $('#param4').val();
					d.param5 = $('#param5').val();
					d.param6 = $('#param6').val();
 
				}
			},
			'dataSrc' : "",
			'columns' : [ {
				'data' : 'itemRequisition'
			},
				
			/* {
				'data' : 'costCenter'
			}, */
			{
				'data' : 'iRExpectedDate'
			}, {
				'data' : 'iRType'
			},
			{
				'data' : 'tStore'
			},  
			{
				'data' : 'action'
			}

			]
		});
	});
	//Method For Searching Records In The List
	
	function searchData() {
		$('#requisitionList').DataTable().draw();
	}
	//Function to create All Report
	  function createPdf() 
	{
		
		window.open("/download/view-item-requisitions-pdf?param1="+window.btoa($('#param1').val())+"&param2="+window.btoa($('#param2').val())+"&param3="+window.btoa($('#param3').val())+"&param4="+window.btoa($('#param4').val())+"&param5="+window.btoa($('#param5').val()),'_blank');
	} 
//Function to create Individual Report
	function pdfCreate(id) {
		window.open("/download/inventory-view-one-item-requisitions-pdf?id="+id,'_blank');
	}	
	
	
	//Method for Excel

	function downloadExcel() {
		var param1 = $("#param1").val();
		var param2 = $("#param2").val();
		var param3 = $("#param3").val();
		var param4 = $("#param4").val();
		var param5 = $("#param5").val();
		window.open("download-excel-item-requisitions?param1="
				+ window.btoa(param1) + "&param2=" + window.btoa(param2)
				+ "&param3=" + window.btoa(param3) + "&param4="
				+ window.btoa(param4) + "&param5="
				+ window.btoa(param5), '_blank');
	}

	// Method For View Details In Model
	
	function viewInModelData(index) {
		var id = window.atob(index);
	$('#table1').empty();
	$('#table2').empty();
		$.ajax({
				type : "POST",
				url : "view-item-requisitions-model",
				dataType : 'json',
				contentType : 'application/json',
				data : id,
				success : function(response) {
					if (response.message == "success") {
						console.log(response);
						console.log(response.body.iRStatus);
						console.log(response.body);
						
						var iRStatus = "";
						if (response.body[0].iRStatus) {
							iRStatus = "Active";
						} else {
							iRStatus = "Inactive";
						}
						if(response.body[0].iRDescription==null){
							response.body[0].iRDescription='';
						}
						if(response.body[0].approveStatus == 3)
							approveStatusName = "Returned";
						else if(response.body[0].approveStatus == 1)
							approveStatusName = "Approved";
						else if(response.body[0].approveStatus == 2)
							approveStatusName = "Rejected";
						else
							approveStatusName = "Open";
					
						span = '<tr><td>Cost Center Name :</td>'
							+ '<td align="left">'
							+ response.body[0].costCenter
							+ '</td>'
							+ '</tr><tr><td>Expected Date :</td><td align="left">'
							+ response.body[0].iRExpectedDate
							+ '</td></tr><tr><td>Requisition Type:</td>'
							+ '<td align="left">'
							+ response.body[0].iRType
							+ '</td>'
							+ '</tr>'
							+ '<tr><td>Approval Status:</td>'
							+ '<td align="left">'
							+ approveStatusName
							+ '</td>'
							+ '<tr><td>Approval Comment:</td>'
							+ '<td align="left">'
							+ response.body[0].iRDescription
							+ '</td>'
							+ '</tr><th><b>Details Of Item Requisitions :<b></th></tr>';  
						$('#myModal1').modal('show');
						$('#table1').append(span);
							
						table2 = '<tr><th><b>Category</b></th><th><b>Sub Category</b></th><th><b>Item Name</b></th>'+
										'<th><b>Quantity</b></th>' ;
						$('#myModal1').modal('show');
						$('#table2').append(table2);
							
						for (var i=0; i<response.body.length; i++) {
							table =  '<tr><td>'
								+ response.body[i].dlItemCategory
								+ '</td><td>'
								+ response.body[i].dlItemSubCategory
								+ '</td><td>'
								+ response.body[i].dlItem
								+ '</td><td>'
								+ response.body[i].dlQty
								+ '</td></tr>';
							$('#myModal1').modal('show');
							$('#table2').append(table);
						}
								
					}
				},
				error : function(data) {
					console.log(data);
				}
		})
}
	//Deleting the ItemRequisition
	
function deleteItemRequisition(id){
		swal.fire({
			  title: "Are you sure want to Delete?",
			  text: "Once Deleted,Can't revert back !",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: '#d33',
			  cancelButtonColor: '#e7b63a',
			  confirmButtonText: 'Delete',
			  //closeOnConfirm: false,
			  reverseButtons : true
			  
			}).then((result) => {
				if(result.value){
				 $.ajax({
					    type: "GET",
					    url:"/inventory/delete-requisitions-byId?id="+ id,
					    success: function(response) {
					        if (response.message == "success") {
					        	swal({
					        		title: "Record Deleted Successfully.",
					        		type: "success"
					        	}).then(function(){
					        		 location.reload();
					        	})
					        
					        	
					        } else {
					            swal({
					                title: 'Unsuccess',
					                text: response.code
					            })
					        }
					    },
					    error: function(data) {
				       
					    }
					})
				}
			  
			});
		
	} 
function itemRequisitionAutoComplete() {
	$.ajax({
		type : "POST",
		url : "view-item-requisitions-getReqNo",
		dataType : 'json',
		contentType : 'application/json',
		data : $("#param1").val(),
		success : function(response) {
			if (response.message == "success") {
			if(response.body.length!=0)	{
				$("#param1").css("background","#FFF");
				var content = '<ul id="autocomplete-list">';
				for (var i = 0; i < response.body.length; i++) {
					content += '<li onClick="selectAutocompleteValue(\''+response.body[i].key+'\',\''+response.body[i].name+'\')">'+response.body[i].key+'</li>';
				} 
				content += '</ul>';
				$("#suggesstion-box").show();
				$("#suggesstion-box").html(content);
				
			}
			else {
				$("#param1").css("background","#FFF");
				var content = '<ul id="autocomplete-list">';
				content += '<li onClick="selectAutocompleteValue(\''+''+'\',\''+''+'\')">'+"No Data Found"+'</li>';
				content += '</ul>';
				$("#suggesstion-box").show();
				$("#suggesstion-box").html(content);
			}
			}
		},
		error : function(data) {
			console.log(data);
		}
	})
}
function selectAutocompleteValue(key,name) {
	if (key) {
		$("#param1").val(key);
		$("#param1").attr('data-procat', key);
		$("#suggesstion-box").hide();
		}
	else {
		$("#param1").val("");
		$("#param1").attr('data-procat', "");
		$("#suggesstion-box").hide();
	}
}
</script>
<style>
.ui-autocomplete-loading {
	background: white url("/static/images/ui-anim_basic_16x16.gif") right
		center no-repeat;
}
</style>
</head>
<div layout:fragment="content">
	<div class="content-wrap">
		<div class="main mrt_20">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-arrow">
					<li><a href="index.html">Home</a></li>
					 
					<li><a href="add-item-requisitions">Add Item Requisition</a></li>
					<li class="active"><span>View Item Requisition</span></li>
				</ol>
			</div>

			<div class="container-fluid">

				<ul class="nav nav-tabs" id="myTab" role="tablist">

				</ul>
				<div class="card">
					 
					<div class="search-field">
						<div class="row">
							<div class="col-md-1">
								<div class="form-group">
									<a class="btn btn-secondary" href="add-item-requisitions">Create</a>
								</div>
							</div>
							<!-- <div class="col-md-1">
								<div class="form-group">
									<button class="btn btn-info">Import</button>
								</div>
							</div>
							<div class="col-md-1">
								<div class="form-group">
									<a href="javascript:createPdf()" class="btn btn-warning"> <i class="fa fa-download"> </i>
									</a>
								</div>
							</div> -->
							<div class="col-md-1"></div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label>Requisition Number</label> <input type="text"
									class="form-control" id="param1"
									onkeyup="itemRequisitionAutoComplete();" />
								<div id="suggesstion-box"></div>
							</div>

							<div class="col-md-2">
								<label>Requisition Type</label> <select class="form-control"
									id="param2">
									<option th:value="null">Select</option>
									<option th:each="c:${RequisitionTypeList}" th:value='${c.key}'
										th:text="${c.name}"></option>

								</select>
							</div>
							<div class="col-md-2" style="display:none;">
								<label>CostCenter Name</label> <select class="form-control"
									id="param3">
									<option th:value="null">Select</option>
									<option th:each="c:${costCenterList}" th:value='${c.key}'
										th:text="${c.name}"></option>
								</select>
							</div>




							<div class="col-md-2">
								<label>From Date</label> <input class="form-control" type="text"
									placeholder="From Date" name="" id="param4" readonly onchange="dateValid()">
							</div>

							<div class="col-md-2">
								<label>To Date</label> <input class="form-control" type="text"
									placeholder="To Date" name="" id="param5" readonly onchange="dateValid()">
							</div>
							<div class="col-md-2">
								<label>Store name</label> <select class="form-control"
									id="param6">
									<option th:value="null">Select</option>
									<option th:each="c:${storeName}" th:value='${c.key}'
										th:text="${c.name}"></option>
								</select>
							</div>
							<div class="col-md-2" style="margin-top: 27px;">
									<button class="btn btn-info" onclick="searchData()">Search</button>
							</div>
						</div>
							<!-- <div class="row">
							<div class="col-md-12 mrt_10">
								<div class="form-group search">
									<button class="btn btn-info" onclick="searchData()">Search</button>
								</div>
							</div>



						</div> -->

					</div>

					<div class="table-responsive" style="width: 100%;">
						<table id="requisitionList" class="table table-bordered">
							<thead>
								<tr>
									<th>Requisition Number</th>
									<!-- <th>Costcenter Name</th> -->
									<th>Expected Date</th>
									<th>Requisition Type</th>
									 <th>Store</th>   
									<th>Action</th>
								</tr>
							</thead>
						</table>
					</div>
					<div style="clear: both;"></div>


				</div>
			</div>
			<!-- Modal Start-->
			<div id="myModal1" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">View Item Requisition</h4>
							<button type="button" class="close" data-dismiss="modal">
								<i class="fa fa-close fa-2x"></i>
							</button>
						</div>
						<div class="modal-body">
							<table width="100%" border="0" id="table1">

							</table>
						</div>
						<div class="modal-body">
							<table width="100%" border="0" id="table2">

							</table>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal End-->
			<!-- /# row -->
		</div>
	</div>
</html>