
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<script>

 
  
  
  function viewInModelApprove(index){ 
	//  alert(index);
	  $('#ChangeStatusModel').modal('show');
	  $('#reqQuotId').val(index);
  }
  
  function GeneratedPO(){
	  swal('Purchase Order Generated');
  }
 	$(document).ready(function() {	
 		
 		
 		$('#table').DataTable({
				'processing' : true,
				'serverSide' : true,
				'searching' : false,
				'ordering' : false,
				"ajax" : {
					'url' : 'view-purchase-dept-rfq-vendor-through-ajax',
					'data' : function(d) { 
						d.param1 = $('#param1').val();
						//d.param2 = $('#param2').val();
					}
				},
				'dataSrc' : "",
			'columns' : [
				{'data' : 'reqQuotId'},
				{'data' : 'rfqName'},
				{'data' : 'rfqValidDate'},
				{'data' : 'quotationNo'},
				{'data' : 'purchaseOrderS'},
				{'data' : 'action'}
					]	
			});
		  });
	
	function searchData() {
		$('#table').DataTable().draw();
	}	
	
	 
	 function viewInModel(index) {
		 
		// alert(index);
		var id = index;
			
		$('#table1').empty();
		$('#table2').empty();
			$.ajax({
					type : "POST",
					url : "view-purchase-dept-rfq-vendor-select-model",
					dataType : 'json',
					contentType : 'application/json',
					data : id,
					success : function(response) {
						if (response.message == "success") {
							console.log(response);
							// console.log(response.body.status_m);
							console.log(response.body);
							
							 var status_m = "";
							if (response.body[0].status_m) {
								status_m = "Active";
							} else {
								status_m = "Inactive";
							}
							   
						
							span = '<tr><td>Quotation No  :</td>' + '<td>'
							+response.body[0].venQuotId + '</td>'
							+ '</tr><tr><td>Vendor Name:</td>' + '<td>'
							+response.body[0].vendorName
							+ '</tr><tr><td>Notes:</td>' + '<td>'
							+response.body[0].qNote
							+ '</td></tr><tr><td>Grand Total:</td>' + '<td>'
							+ response.body[0].grandTotal + '</td></tr><tr><th><b>Details Of Item Details :<b></th></tr>';  
							$('#myModal').modal('show');
							$('#table1').append(span);
								
							table2 = '<tr><th><b>Item Name</b></th><th><b>Item Price</b></th><th><b>Item Qnty.</b></th><th><b>Line Total</b></th>' ;
							$('#myModal').modal('show');
							$('#table2').append(table2);
						 
							for (var i=0; i<response.body.length; i++) {
								
								var status = "";
								if (response.body[i].status_m) {
									status = "Active";
								} else {
									status = "Inactive";
								}
								
							 
								table =  '<tr><td>'
									+ response.body[i].itemName
									+ '</td><td>'
									+ response.body[i].unitPrice
									+ '</td><td>'
									+ response.body[i].quantity
									+ '</td><td>'
									+ response.body[i].lineTotal
									+ '</td> </tr>';
								$('#myModal').modal('show');
								$('#table2').append(table);
							} 
									
						}
					},
					error : function(data) {
						console.log(data);
					}
			})
	}
	 
	 
	
	  const ipAPI = 'https://api.ipify.org?format=json';
	  function DeleteItem(index){
	//	  alert(index);
	  swal({
			title				: "Are you sure to Delete this Leave Period?",
			text				: "Once Deleted,Can't revert back !",
			type 				: "warning",
			showCancelButton	: true,
			confirmButtonColor	: "#DD6BB5",
			confirmButtonText	:"Submit",
			showLoaderOnConfirm	: true,
			reverseButtons : true,
			confirmButtonAriaLabel : 'Thumbs up, great!',
			cancelButtonText : '<i class="fa fa-thumbs-down">cancel</i>',
			cancelButtonAriaLabel : 'Thumbs down',
			preConfirm: () => {
			    return fetch(ipAPI)
			      .then(response => response.json())
			      .then(data => Swal.insertQueueStep(data.ip))
			      .catch(() => {
			        Swal.insertQueueStep({
			          type: 'error',
			          title: 'Unable to get your public IP'
			        })
			      })
			 }  
		}).then((result) => {
			if(result.value){
			$.ajax({
			type		: "POST",
			url 		: "delete-rfq",
			dataType	: "json",
			contentType	: "application/json",
			data		: JSON.stringify(index),
			success		: function(response){
				console.log(response);
				if(response.message=="Success"){
					swal({
							title:"Data Saved Successfully.",
							type: "success",
					}).then(function(){
							location.reload(); 
					})
				}else{
					console.log('i m in unsuccess');
					swal({
						title:response.code,
						text: response.message,
						type:"warning"
					})
				}
			},error		: function(response){
				swal(response.code);	
			}
		}) //ajax ends
			}
		})//swal function block ends
		
	  }
	  

</script>
</head>
<div layout:fragment="content">
 <div class="content-wrap">
         <div class="main mrt_20">
            <div class="col-md-12">
               <ol class="breadcrumb breadcrumb-arrow">
                  <li><a th:href="@{/index}">Home</a></li> 
                  <!--  <li class="active"><a th:href="@{/inventory/add-rfq}">Add Request Quotation</a></li> -->
                  <li class="inactive"><a th:href="@{/inventory/view-rfq}">View Purchase Depart RFQ Against Vendor</a></li>
             
               </ol>
            </div>
            <div class="card-title">
               <h4>List of RFQ Against Vendor</h4>
            </div>
            <div class="container-fluid">
               
                
               <div class="card">
                     <div class="search-field">
                        <div class="row">
                           <div class="col-md-2">
                              <label>RFQ Name</label>
                           
                            <!-- <input type="text" class="form-control" id="param1" /> -->
                            <select class="org-name form-control" id="param1"  >
                              <option th:value="NULL">Select</option>
						     <option th:each="c:${lRFQData}" th:value='${c.key}'
							 th:text="${c.name}"></option>   
                            </select>
                           </div>
    
    					 
    
                           <div class="col-md-2 mrt_10">
                              <div class="form-group filtersearch ">
                                 <button class="btn btn-info" onclick="searchData()">Search</button>
                              </div>
                           </div></div>
                        </div>
                     
                     <div class="table-responsive" style="width:100%;">
                        <table id="table" class="table table-bordered">
                           <thead>
                              <tr>
                                 <th>RFQ </th>
                                 <th>RFQ Name </th>
                                 <th>RFQ Validity</th> 
                                 <th>Approved Quotation</th> 
                                 <th>Purchase Order</th> 
                                 <th>Action</th>
                              </tr>
                           </thead>
                           
                        </table>
                        
                     </div>
                     <div style="clear:both;"></div>
                  
         <!-- Modal Start-->
        <div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">View Details of Vendor RFQ</h4>
						<button type="button" class="close" data-dismiss="modal">
							<i class="fa fa-close fa-2x"></i>
						</button>
					</div>
					<div class="modal-body">
						<table style="width: 100%;" id="table1">
						</table>
					</div>
					<div class="modal-body">
						<table style="width: 100%;" id="table2">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
         <!-- Modal End-->
         
              <div id="ChangeStatusModel" class="modal fade" role="dialog">
            <div class="modal-dialog">
               
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title">Add Vendors For Request Quotation</h4>
                     <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
                  </div>
                  <div class="modal-body"> 
                   <form th:action="@{view-rfq-vendor-approve}"  th:object="${changeApprove}" onsubmit="return validateForm();" method="post" autocomplete="off">
	                  		
	                  		<div class="col-md-12"> 
		                  		<label>RFQ ID</label>
		                  		 
		                          <input type="text"  readonly class="form-control" th:field="*{reqQuotId}" />   
	                        </div>
                           
                          
                         
                          <div class="col-md-12"> 
                            <label>Vendors</label>   
							 <select class="multiselect" th:field="*{rfqVendors}" multiple="multiple">
								<option th:value="NULL">Select</option>
								<option th:each="c:${VendorList}" th:value='${c.key}' th:text="${c.name}" th:selected="${c.key==userRoles}"></option>
							</select>
                        </div>  
                        
                         
                         
                          <div class="col-md-12">  
                          <input type="submit" value="Submit" class="btn btn-success" /> 
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>   
	               </form>
                      
                  </div>
                
               </div>
               
            </div>
         </div>
         <!-- /# row -->
               </div>
            </div>
         </div>
         </div>
         </div>
       
</html>